Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

Fixed syntax in cmake/GrpcTargets.cmake
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

Added ArchLinux to virtualenv install tips in UserverTestsuite.cmake
  cmake/UserverTestsuite.cmake
Owners: @taxi/common-group-developers

feat cache: add pre-assign check
  core/functional_tests/CMakeLists.txt
  core/functional_tests/cache_update/CMakeLists.txt
  core/functional_tests/cache_update/config_vars.yaml
  core/functional_tests/cache_update/dynamic_config_fallback.json
  core/functional_tests/cache_update/service.cpp
  core/functional_tests/cache_update/static_config.yaml
  core/functional_tests/cache_update/tests/conftest.py
  core/functional_tests/cache_update/tests/test_cache_update.py
  core/functional_tests/cache_update/tests/ya.make
  core/functional_tests/cache_update/ya.make
  core/include/userver/cache/cache_config.hpp
  core/include/userver/cache/cache_update_trait.hpp
  core/include/userver/cache/caching_component_base.hpp
  core/include/userver/cache/exceptions.hpp
  core/src/cache/cache_config.cpp
  core/src/cache/cache_update_trait.cpp
  core/src/cache/cache_update_trait_impl.cpp
  core/src/cache/cache_update_trait_impl.hpp
  core/src/cache/caching_component_base.cpp
  core/src/cache/exceptions.cpp
  dynamic_config_fallbacks.yaml
Owners: @taxi/common-group-developers, @segoon

feat rapidjson: update to the new version
  third_party/Readme.md
  third_party/rapidjson/CHANGELOG.md
  third_party/rapidjson/README.md
  third_party/rapidjson/include/rapidjson/allocators.h
  third_party/rapidjson/include/rapidjson/cursorstreamwrapper.h
  third_party/rapidjson/include/rapidjson/document.h
  third_party/rapidjson/include/rapidjson/encodedstream.h
  third_party/rapidjson/include/rapidjson/encodings.h
  third_party/rapidjson/include/rapidjson/error/en.h
  third_party/rapidjson/include/rapidjson/error/error.h
  third_party/rapidjson/include/rapidjson/filereadstream.h
  third_party/rapidjson/include/rapidjson/filewritestream.h
  third_party/rapidjson/include/rapidjson/fwd.h
  third_party/rapidjson/include/rapidjson/internal/biginteger.h
  third_party/rapidjson/include/rapidjson/internal/clzll.h
  third_party/rapidjson/include/rapidjson/internal/diyfp.h
  third_party/rapidjson/include/rapidjson/internal/dtoa.h
  third_party/rapidjson/include/rapidjson/internal/ieee754.h
  third_party/rapidjson/include/rapidjson/internal/itoa.h
  third_party/rapidjson/include/rapidjson/internal/meta.h
  third_party/rapidjson/include/rapidjson/internal/pow10.h
  third_party/rapidjson/include/rapidjson/internal/regex.h
  third_party/rapidjson/include/rapidjson/internal/stack.h
  third_party/rapidjson/include/rapidjson/internal/strfunc.h
  third_party/rapidjson/include/rapidjson/internal/strtod.h
  third_party/rapidjson/include/rapidjson/internal/swap.h
  third_party/rapidjson/include/rapidjson/istreamwrapper.h
  third_party/rapidjson/include/rapidjson/memorybuffer.h
  third_party/rapidjson/include/rapidjson/memorystream.h
  third_party/rapidjson/include/rapidjson/ostreamwrapper.h
  third_party/rapidjson/include/rapidjson/pointer.h
  third_party/rapidjson/include/rapidjson/prettywriter.h
  third_party/rapidjson/include/rapidjson/rapidjson.h
  third_party/rapidjson/include/rapidjson/reader.h
  third_party/rapidjson/include/rapidjson/schema.h
  third_party/rapidjson/include/rapidjson/stream.h
  third_party/rapidjson/include/rapidjson/stringbuffer.h
  third_party/rapidjson/include/rapidjson/uri.h
  third_party/rapidjson/include/rapidjson/writer.h
Owners: @taxi/common-group-developers

feat redis: support read-only transaction
  redis/include/userver/storages/redis/transaction.hpp
  redis/src/storages/redis/client_redistest.hpp
  redis/src/storages/redis/transaction_impl.cpp
  redis/src/storages/redis/transaction_impl.hpp
  redis/src/storages/redis/transaction_redistest.cpp
Owners: @segoon

feat pg: initial CC
  core/include/userver/congestion_control/controllers/linear.hpp
  core/include/userver/congestion_control/controllers/v2.hpp
  core/include/userver/congestion_control/sensor.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/v2.cpp
  postgresql/src/storages/postgres/congestion_control/limiter.cpp
  postgresql/src/storages/postgres/congestion_control/limiter.hpp
  postgresql/src/storages/postgres/congestion_control/sensor.cpp
  postgresql/src/storages/postgres/congestion_control/sensor.hpp
  postgresql/src/storages/postgres/detail/pool.cpp
  postgresql/src/storages/postgres/detail/pool.hpp
Owners: @taxi/common-group-developers, @bugaevskiy

feat docs: bring back the traditional logo
  scripts/docs/en/landing.md
Owners: @taxi/common-group-developers

feat userver: make utils::datetime::Date loggable again
  core/src/logging/log_test.cpp
  shared/include/userver/utils/datetime/date.hpp
Owners: @taxi/common-group-developers

feat rapidjson: add comparison benchmark
  shared/src/formats/json/member_access_benchmark.cpp
Owners: @taxi/common-group-developers

fix build: fix CI for mysql
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

feat base-proxy: del baggage from requests to proxy
  core/include/userver/baggage/baggage.hpp
  core/include/userver/baggage/baggage_manager.hpp
  core/include/userver/baggage/baggage_settings.hpp
  core/include/userver/baggage/fwd.hpp
  core/src/baggage/baggage.cpp
  core/src/baggage/baggage_manager.cpp
  core/src/baggage/baggage_manager_test.cpp
  core/src/baggage/baggage_settings.cpp
  core/src/baggage/baggage_test.cpp
  core/src/clients/http/request_state.cpp
  core/src/server/handlers/http_handler_base.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

tests redis: optimize redis client fixture
  redis/src/storages/redis/client_redistest.hpp
Owners: @segoon

fix build: fix CI for mysql
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix core: remove warning in compile
  core/src/logging/impl/fd_sink.cpp
Owners: @taxi/common-group-developers

feat rcu: support custom MutexType
  core/include/userver/cache/cache_update_trait.hpp
  core/include/userver/rcu/fwd.hpp
  core/include/userver/rcu/rcu.hpp
  core/include/userver/rcu/rcu_map.hpp
  core/src/components/logging_configurator.cpp
  core/src/rcu/rcu_map_test.cpp
  core/src/rcu/rcu_test.cpp
Owners: @segoon, @bugaevskiy

feat json: speedup maps serialization
  shared/include/userver/formats/json/value_builder.hpp
  shared/include/userver/utils/meta.hpp
  shared/include/userver/utils/strong_typedef.hpp
  shared/src/formats/json/member_access_benchmark.cpp
  shared/src/utils/meta_test.cpp
Owners: @taxi/common-group-developers

feat docs: clarify kAbandoned cancellation state
  core/include/userver/engine/task/cancel.hpp
  core/src/engine/exception.cpp
  core/src/engine/task/cancel.cpp
Owners: @bugaevskiy, @segoon

feat postgres: add static assert on strange types
  postgresql/include/userver/storages/postgres/result_set.hpp
Owners: @bugaevskiy

feat shared: optimize StrIcaseEqual
  shared/src/utils/impl/byte_utils.cpp
  shared/src/utils/impl/byte_utils.hpp
  shared/src/utils/impl/byte_utils_test.cpp
  shared/src/utils/str_icase.cpp
  shared/src/utils/str_icase_benchmark.cpp
Owners: @taxi/common-group-developers

feat mongo: set server selection timeout to 3s
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
Owners: @bugaevskiy

feat metrics: add pretty format
  core/include/userver/server/handlers/server_monitor.hpp
  core/include/userver/utils/statistics/pretty_format.hpp
  core/include/userver/utils/statistics/storage.hpp
  core/include/userver/utils/statistics/writer.hpp
  core/src/server/handlers/server_monitor.cpp
  core/src/utils/statistics/pretty_format.cpp
  core/src/utils/statistics/pretty_format_test.cpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers

feat userver: add utils::SmallString
  shared/include/userver/utils/small_string.hpp
  shared/include/userver/utils/small_string_serialization.hpp
  shared/src/utils/small_string_benchmark.cpp
  shared/src/utils/small_string_test.cpp
Owners: @taxi/common-group-developers

feat pg: add new config for pipeline mode
  postgresql/functional_tests/basic_chaos/conftest.py
  postgresql/functional_tests/basic_chaos/dynamic_config_fallback.json
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  postgresql/functional_tests/integration_tests/dynamic_config_fallback.json
  postgresql/functional_tests/metrics/dynamic_config_fallback.json
  postgresql/include/userver/storages/postgres/component.hpp
  postgresql/include/userver/storages/postgres/options.hpp
  postgresql/library.yaml
  postgresql/src/storages/postgres/postgres_config.cpp
  samples/postgres-support/dynamic_config_fallback.json
  samples/postgres_auth/dynamic_config_fallback.json
  samples/postgres_service/dynamic_config_fallback.json
  scripts/docs/en/schemas/dynamic_configs.md
Owners: @bugaevskiy, @taxi/common-group-developers

feat tests: update docs and client_deps usages to extra_client_deps
  core/functional_tests/basic_chaos/tests/httpclient/conftest.py
  core/functional_tests/basic_chaos/tests/httpserver/conftest.py
  core/functional_tests/basic_chaos/tests/resolver/conftest.py
  core/include/userver/engine/subprocess/environment_variables.hpp
  core/src/logging/impl/fd_sink.cpp
  scripts/docs/en/userver/functional_testing.md
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat shared: more precise benchmarks for small string
  shared/src/utils/small_string_benchmark.cpp
Owners: @taxi/common-group-developers

feat mysql: add some tests for documentation purposes, fix input binding for const char* = nullptr, fix MapFrom for custom containers
  mysql/include/userver/storages/mysql/cluster.hpp
  mysql/include/userver/storages/mysql/impl/io/extractor.hpp
  mysql/include/userver/storages/mysql/impl/io/params_binder.hpp
  mysql/include/userver/storages/mysql/statement_result_set.hpp
  mysql/src/storages/tests/unittests/cluster_mysqltest.cpp
  mysql/src/storages/tests/unittests/statement_result_set_mysqltest.cpp
  mysql/src/storages/tests/unittests/string_view_mysqltest.cpp
Owners: @taxi/common-group-developers

bug smallstring: fix operator[]
  shared/include/userver/utils/small_string.hpp
  shared/src/utils/small_string_test.cpp
Owners: @taxi/common-group-developers

feat userver_experiments: impl force enabled in testing
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/components/manager_config.cpp
  core/src/components/manager_config.hpp
  core/src/components/run.cpp
  core/src/utils/impl/userver_experiments.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

fix build: Archlinux cmake fixes
  cmake/GrpcTargets.cmake
  cmake/UserverTestsuite.cmake
Owners: @taxi/common-group-developers

feat grpc: create chaos tests for grpc-server
  grpc/CMakeLists.txt
  grpc/functional_tests/CMakeLists.txt
  grpc/functional_tests/basic_chaos/CMakeLists.txt
  grpc/functional_tests/basic_chaos/dynamic_config_fallback.json
  grpc/functional_tests/basic_chaos/proto/samples/greeter.proto
  grpc/functional_tests/basic_chaos/service.cpp
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/functional_tests/basic_chaos/tests/conftest.py
  grpc/functional_tests/basic_chaos/tests/grpcserver/conftest.py
  grpc/functional_tests/basic_chaos/tests/grpcserver/test_grpcserver.py
Owners: @antonyzhilin

feat httpserver: decompress request by default
  core/include/userver/server/handlers/handler_base.hpp
  core/include/userver/server/handlers/handler_config.hpp
  core/src/server/handlers/handler_config.cpp
Owners: @bugaevskiy, @segoon

bug httpclient: invalid Span module
  core/include/userver/clients/http/request.hpp
  core/include/userver/tracing/in_place_span.hpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/src/tracing/in_place_span.cpp
Owners: @segoon, @bugaevskiy

fix samples: tcp_service tests fix
  samples/tcp_service/tests/test_chaos.py
  shared/include/userver/utils/fast_scope_guard.hpp
  shared/include/userver/utils/scope_guard.hpp
Owners: @taxi/common-group-developers

fix cache: fix ExtractNode
  shared/include/userver/cache/impl/lru.hpp
Owners: @taxi/common-group-developers

fix tests: make redis sentinel tests less flappy
  redis/src/storages/redis/impl/server_sentinel_test.cpp
Owners: @segoon

feat mongo: initial CC implementation
  core/include/userver/congestion_control/controllers/linear.hpp
  core/include/userver/congestion_control/controllers/v2.hpp
  core/include/userver/congestion_control/limiter.hpp
  core/include/userver/congestion_control/sensor.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/v2.cpp
  core/src/congestion_control/sensor.cpp
  mongo/functional_tests/metrics/tests/static/metrics_values.txt
  mongo/include/userver/storages/mongo/pool_config.hpp
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.hpp
  mongo/src/storages/mongo/congestion_control/limiter.cpp
  mongo/src/storages/mongo/congestion_control/limiter.hpp
  mongo/src/storages/mongo/congestion_control/sensor.cpp
  mongo/src/storages/mongo/congestion_control/sensor.hpp
  mongo/src/storages/mongo/pool_config.cpp
  mongo/src/storages/mongo/pool_impl.cpp
  mongo/src/storages/mongo/pool_impl.hpp
  mongo/src/storages/mongo/stats.cpp
  mongo/src/storages/mongo/stats.hpp
  mongo/src/storages/mongo/stats_serialize.cpp
  postgresql/include/userver/storages/postgres/options.hpp
  postgresql/include/userver/storages/postgres/statistics.hpp
  postgresql/src/storages/postgres/congestion_control/sensor.cpp
  postgresql/src/storages/postgres/detail/cluster_impl.cpp
  postgresql/src/storages/postgres/detail/pool.cpp
  postgresql/src/storages/postgres/detail/pool.hpp
  postgresql/src/storages/postgres/tests/cluster_pgtest.cpp
  postgresql/src/storages/postgres/tests/pool_pgtest.cpp
  postgresql/src/storages/postgres/tests/pool_stats_pgtest.cpp
Owners: @taxi/common-group-developers, @bugaevskiy

feat testing: define default path to config
  core/CMakeLists.txt
  core/testing/include/userver/dynamic_config/test_helpers.hpp
  core/testing/src/dynamic_config/test_helpers_test.cpp
  core/tests/dynamic_config_fallback.json
  dynamic_config_fallbacks.yaml
  mongo/CMakeLists.txt
  mongo/tests/dynamic_config_fallback.json
  postgresql/CMakeLists.txt
  postgresql/tests/dynamic_config_fallback.json
Owners: @taxi/common-group-developers, @segoon, @antonyzhilin, @bugaevskiy

feat testsuite: remove dbalias if testsuite patched the dbconnection parameter
  testsuite/pytest_plugins/pytest_userver/plugins/mongo.py
  testsuite/pytest_plugins/pytest_userver/plugins/postgresql.py
Owners: @taxi/common-group-developers

feat base-proxy: add chaos header
  core/src/baggage/baggage.cpp
  core/src/baggage/baggage_manager.cpp
  core/src/baggage/baggage_manager_test.cpp
Owners: @taxi/common-group-developers

Fix taxi -Wunused-but-set-variable
  core/src/concurrent/lazy_value_test.cpp
Owners: @segoon, @bugaevskiy
