Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

fix conan: build with nghttp2
  conanfile.py
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

Update README.md
  README.md
Owners: @taxi/common-group-developers

feat clickhouse: upgrade version in cmake
  cmake/SetupClickhouseCPP.cmake
  scripts/docker/prepare_image.sh
Owners: @taxi/common-group-developers

Add .gitattributes with line ending strategy
  .gitattributes
Owners: @taxi/common-group-developers

Add .gitattributes to fix unix line ending for code/scripts files
  .gitattributes
Owners: @taxi/common-group-developers

Add missing dependencies into ubuntu-20.04.md
  scripts/docs/en/deps/arch.md
  scripts/docs/en/deps/debian-11x32.md
  scripts/docs/en/deps/fedora-35.md
  scripts/docs/en/deps/fedora-36.md
  scripts/docs/en/deps/gentoo.md
  scripts/docs/en/deps/ubuntu-18.04.md
  scripts/docs/en/deps/ubuntu-20.04.md
  scripts/docs/en/deps/ubuntu-21.10.md
  scripts/docs/en/deps/ubuntu-22.04.md
Owners: @taxi/common-group-developers

fix conan: build with nghttp2
  cmake/SetupEnvironment.cmake
  core/src/server/http/nghttp2_compile.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

fix conan: build with nghttp2
  core/src/server/http/nghttp2_compile.cpp
Owners: @bugaevskiy, @segoon

fix conan: build with nghttp2
  core/src/server/http/nghttp2_compile.cpp
Owners: @bugaevskiy, @segoon

Rename protoc_usrv_plugin to protoc_usrv_plugin.sh to detection file as a text/scripts correctly
  cmake/GrpcTargets.cmake
  scripts/grpc/protoc_usrv_plugin.sh
Owners: @taxi/common-group-developers

feat docs: add March 2023 changelog
  core/include/userver/components/logging_configurator.hpp
  core/include/userver/tracing/manager.hpp
  scripts/docs/doxygen.conf
  scripts/docs/en/landing.md
  scripts/docs/en/schemas/dynamic_configs.md
  scripts/docs/en/userver/roadmap_and_changelog.md
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

refactor mongo: remove by-read-preference and by-write-concern metrics
  mongo/functional_tests/metrics/tests-values/test_metrics.py
  mongo/functional_tests/metrics/tests/static/metrics_values.txt
  mongo/src/storages/mongo/operations.cpp
  mongo/src/storages/mongo/operations_impl.hpp
  mongo/src/storages/mongo/stats.cpp
  mongo/src/storages/mongo/stats.hpp
  mongo/src/storages/mongo/stats_serialize.cpp
Owners: @bugaevskiy

Add missing dependencies pkg-config, python3-pip into ubuntu-20.04.md Sort dependencies alphabetically to easy reading and modifying
  scripts/docs/en/deps/arch.md
  scripts/docs/en/deps/debian-11x32.md
  scripts/docs/en/deps/fedora-35.md
  scripts/docs/en/deps/fedora-36.md
  scripts/docs/en/deps/gentoo.md
  scripts/docs/en/deps/ubuntu-18.04.md
  scripts/docs/en/deps/ubuntu-20.04.md
  scripts/docs/en/deps/ubuntu-21.10.md
  scripts/docs/en/deps/ubuntu-22.04.md
Owners: @taxi/common-group-developers

feat logging: add logs on rotation skip
  core/src/logging/component.cpp
Owners: @taxi/common-group-developers

feat engine: revert latch usage in TaskProcessor
  core/src/engine/task/task_processor.cpp
Owners: @bugaevskiy, @segoon

Make protoc_usrv_plugin.sh executable
  scripts/grpc/protoc_usrv_plugin.sh
Owners: @taxi/common-group-developers

feat core: add optional propagation of headers from HttpHandlerBase to HttpClient
  core/include/userver/clients/http/client.hpp
  core/include/userver/clients/http/request.hpp
  core/include/userver/components/headers_propagator_component.hpp
  core/include/userver/server/request/task_inherited_request.hpp
  core/include/userver/tracing/manager_component.hpp
  core/src/clients/http/client.cpp
  core/src/clients/http/component.cpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/src/components/common_component_list.cpp
  core/src/components/headers_propagator_component.cpp
  core/src/components/minimal_component_list.cpp
  core/src/server/handlers/handler_base.cpp
  core/src/server/http/headers_propagator.cpp
  core/src/server/http/headers_propagator.hpp
  core/src/server/http/http_request_handler.cpp
  core/src/server/request/task_inherited_request.cpp
  core/src/server/request/task_inherited_request_impl.hpp
Owners: @segoon, @bugaevskiy

feat core: don't issue tail writev for empty io_vec
  core/src/engine/io/fd_control.hpp
Owners: @bugaevskiy, @segoon

fix
  cmake/SetupEnvironment.cmake
  core/CMakeLists.txt
  core/src/server/http/nghttp2_compile.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

fix conan: add libnghttp2 and sort
  conanfile.py
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

fix conan: fix nghttp2
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

feat mongo: only gather stacktraces for errors when debug logs are enabled
  mongo/include/userver/storages/mongo/exception.hpp
  mongo/src/storages/mongo/exception.cpp
Owners: @bugaevskiy

fix format
  core/include/userver/cache/expirable_lru_cache.hpp
  core/include/userver/cache/lru_cache_component_base.hpp
  core/include/userver/cache/nway_lru_cache.hpp
  core/src/cache/cache_policy_types_test.hpp
  core/src/cache/expirable_lru_cache_test.cpp
  core/src/cache/nway_lru_cache_test.cpp
  shared/include/userver/cache/impl/doorkeeper.hpp
  shared/include/userver/cache/impl/hash.hpp
  shared/include/userver/cache/impl/lru.hpp
  shared/include/userver/cache/impl/sketch/aged.hpp
  shared/include/userver/cache/impl/sketch/bloom.hpp
  shared/include/userver/cache/impl/sketch/tools.hpp
  shared/include/userver/cache/impl/slru.hpp
  shared/include/userver/cache/impl/tiny_lfu.hpp
  shared/src/cache/lru_benchmark.cpp
  shared/src/cache/lru_real_data_benchmark.cpp
  shared/src/cache/slru_test.cpp
  shared/src/cache/tiny_lfu_map_test.cpp
Owners: @segoon, @taxi/common-group-developers

fix format
  shared/include/userver/cache/impl/hash.hpp
  shared/include/userver/cache/impl/lru.hpp
  shared/src/cache/lru_benchmark.cpp
  shared/src/cache/lru_real_data_benchmark.cpp
  shared/src/cache/slru_test.cpp
  shared/src/cache/tiny_lfu_map_test.cpp
Owners: @taxi/common-group-developers

fix format
  shared/src/cache/impl/sketch/sketch_aged_test.cpp
Owners: @taxi/common-group-developers

feat tests: enable pipelines in pg chaos tests
  core/include/userver/engine/semaphore.hpp
  core/src/engine/semaphore.cpp
  postgresql/functional_tests/basic_chaos/conftest.py
  postgresql/functional_tests/basic_chaos/tests-transactions/test_transactions.py
  postgresql/functional_tests/basic_chaos/tests/test_postgres.py
  postgresql/src/storages/postgres/component.cpp
  postgresql/src/storages/postgres/detail/connection.cpp
  postgresql/src/storages/postgres/detail/connection.hpp
  postgresql/src/storages/postgres/detail/connection_impl.cpp
  postgresql/src/storages/postgres/detail/connection_impl.hpp
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.cpp
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.hpp
  postgresql/src/storages/postgres/detail/pool.cpp
  postgresql/src/storages/postgres/detail/pool.hpp
  postgresql/src/storages/postgres/detail/topology/base.cpp
  postgresql/src/storages/postgres/detail/topology/base.hpp
  postgresql/src/storages/postgres/tests/connection_pgtest.cpp
  postgresql/src/storages/postgres/tests/pool_pgtest.cpp
  postgresql/src/storages/postgres/tests/util_pgtest.cpp
  postgresql/src/storages/postgres/tests/util_pgtest.hpp
  postgresql/src/storages/postgres/util_benchmark.cpp
Owners: @bugaevskiy, @segoon

Add .gitattributes to fix unix line ending for code/scripts files
  .gitattributes
  cmake/GrpcTargets.cmake
  scripts/docs/Stiker-1.svg
  scripts/docs/Stiker-10.svg
  scripts/docs/Stiker-2.svg
  scripts/docs/Stiker-3.svg
  scripts/docs/Stiker-4.svg
  scripts/docs/Stiker-5.svg
  scripts/docs/Stiker-6.svg
  scripts/docs/Stiker-7.svg
  scripts/docs/Stiker-8.svg
  scripts/docs/Stiker-9.svg
  scripts/docs/logo_in_circle.png
  scripts/grpc/protoc_usrv_plugin.sh
  third_party/moodycamel/README.md
Owners: @taxi/common-group-developers

bug functional_tests: Fix some flacky tests
  core/functional_tests/basic_chaos/resolver_handlers.hpp
  core/functional_tests/basic_chaos/tests/httpclient/conftest.py
  core/functional_tests/basic_chaos/tests/httpclient/test_httpclient_stream.py
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/functional_tests/basic_chaos/tests/resolver/test_resolver.py
  redis/functional_tests/basic_chaos/redis_service.cpp
  samples/redis_service/redis_service.cpp
Owners: @taxi/common-group-developers, @segoon

check some guess
  postgresql/pq-extra/CMakeLists.txt
Owners: @bugaevskiy

revert logging: Revert add new sinks in
  core/src/logging/component.cpp
  core/src/logging/impl/fd_sink.cpp
  core/src/logging/impl/fd_sink.hpp
  core/src/logging/impl/fd_sink_test.cpp
  core/src/logging/impl/file_sink.cpp
  core/src/logging/impl/file_sink.hpp
  core/src/logging/impl/file_sink_test.cpp
  core/src/logging/impl/sink_helper_test.cpp
  core/src/logging/impl/sink_helper_test.hpp
  core/src/logging/impl/tcp_socket_sink.cpp
  core/src/logging/impl/tcp_socket_sink.hpp
  core/src/logging/impl/tcp_socket_sink_test.cpp
  core/src/logging/impl/unix_socket_sink.hpp
  core/src/logging/logger.cpp
  core/src/logging/logging_test.hpp
  core/src/logging/reopening_file_sink.hpp
  core/src/logging/socket_logging_test.hpp
  core/src/logging/unix_socket_sink.cpp
  core/src/logging/unix_socket_sink.hpp
  shared/include/userver/fs/blocking/file_descriptor.hpp
  shared/include/userver/fs/blocking/open_mode.hpp
  shared/src/fs/blocking/file_descriptor.cpp
  shared/src/fs/blocking/file_descriptor_test.cpp
Owners: @taxi/common-group-developers, @antoshkka

feat docker: add mariadb-server
  scripts/docker/Dockerfile
Owners: @taxi/common-group-developers

feat build: provide diagnostics on diverged PostgreSQL libraries
  postgresql/pq-extra/CMakeLists.txt
  postgresql/pq-extra/check_main.c
Owners: @bugaevskiy

Fixes
  .github/workflows/ci.yml
  Makefile
  external-deps/PostgreSQLInternal.yaml
  postgresql/pq-extra/CMakeLists.txt
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers, @bugaevskiy

fix attempt
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix 2
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix 3
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix 4
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix 5
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix 6
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

bug functional_tests: disable flacky tests
  core/functional_tests/basic_chaos/tests/httpclient/test_httpclient_stream.py
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/functional_tests/basic_chaos/tests/resolver/test_resolver.py
  postgresql/functional_tests/basic_chaos/tests-portals/test_portals.py
  postgresql/functional_tests/basic_chaos/tests-transactions/test_transactions.py
  redis/functional_tests/basic_chaos/tests/test_redis.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
