Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

bug postgres: honour user connection limit
  postgresql/src/storages/postgres/connlimit_watchdog.cpp
Owners: @bugaevskiy

bug oss: fix make start
  testsuite/pytest_plugins/pytest_userver/plugins/service_runner.py
Owners: @taxi/common-group-developers

feat testing: define default path to config
  clickhouse/CMakeLists.txt
  clickhouse/tests/dynamic_config_fallback.json
  dynamic_config_fallbacks.yaml
  grpc/CMakeLists.txt
  grpc/tests/dynamic_config_fallback.json
Owners: @itrofimow, @taxi/common-group-developers, @antonyzhilin

feat dynamic_config: add a subscription to a single config
  core/include/userver/concurrent/async_event_channel.hpp
  core/include/userver/dynamic_config/fwd.hpp
  core/include/userver/dynamic_config/impl/snapshot.hpp
  core/include/userver/dynamic_config/snapshot.hpp
  core/include/userver/dynamic_config/source.hpp
  core/src/concurrent/async_event_channel_test.cpp
  core/src/dynamic_config/config_test.cpp
  core/src/dynamic_config/impl/snapshot.cpp
  core/src/dynamic_config/snapshot.cpp
  core/src/dynamic_config/source.cpp
  core/src/dynamic_config/storage/component.cpp
  core/src/dynamic_config/storage_data.cpp
  core/src/dynamic_config/storage_data.hpp
  core/src/dynamic_config/storage_mock.cpp
  core/src/dynamic_config/updater/component.cpp
Owners: @segoon, @bugaevskiy, @antonyzhilin

feat grpc: chaos tests
  grpc/functional_tests/basic_chaos/tests/conftest.py
  grpc/functional_tests/basic_chaos/tests/grpcserver/test_grpcserver.py
Owners: @antonyzhilin

feat logging: add metrics in logs
  core/functional_tests/metrics/tests/static/metrics_values.txt
  core/include/userver/components/statistics_storage.hpp
  core/include/userver/logging/component.hpp
  core/src/components/config_not_required_test.cpp
  core/src/components/statistics_storage.cpp
  core/src/logging/component.cpp
  core/src/logging/statistics/log_stats.cpp
  core/src/logging/statistics/log_stats.hpp
  core/src/logging/tp_logger.cpp
  core/src/logging/tp_logger.hpp
  core/src/logging/tp_logger_test.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat redis: deadline propagation
  dynamic_config_fallbacks.yaml
  mongo/tests/dynamic_config_fallback.json
  postgresql/tests/dynamic_config_fallback.json
  redis/CMakeLists.txt
  redis/benchmark/redis_fixture.cpp
  redis/functional_tests/basic_chaos/dynamic_config_fallback.json
  redis/functional_tests/basic_chaos/redis_service.cpp
  redis/functional_tests/basic_chaos/static_config.yaml
  redis/functional_tests/basic_chaos/tests/test_deadline_propagation.py
  redis/functional_tests/integration_tests/dynamic_config_fallback.json
  redis/functional_tests/metrics/dynamic_config_fallback.json
  redis/library.yaml
  redis/src/storages/redis/client_cluster_redistest.cpp
  redis/src/storages/redis/client_redistest.hpp
  redis/src/storages/redis/component.cpp
  redis/src/storages/redis/dynamic_config.cpp
  redis/src/storages/redis/dynamic_config.hpp
  redis/src/storages/redis/impl/sentinel.cpp
  redis/src/storages/redis/impl/sentinel.hpp
  redis/src/storages/redis/impl/sentinel_impl.cpp
  redis/src/storages/redis/impl/sentinel_impl.hpp
  redis/src/storages/redis/impl/sentinel_redistest.cpp
  redis/src/storages/redis/impl/server_common_sentinel_test.cpp
  redis/src/storages/redis/impl/server_common_sentinel_test.hpp
  redis/src/storages/redis/impl/subscribe_sentinel.cpp
  redis/src/storages/redis/impl/subscribe_sentinel.hpp
  redis/src/storages/redis/resolver_redistest.cpp
  redis/tests/dynamic_config_fallback.json
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat postgres: deadline propagation
  postgresql/CMakeLists.txt
  postgresql/functional_tests/basic_chaos/dynamic_config_fallback.json
  postgresql/functional_tests/basic_chaos/postgres_service.cpp
  postgresql/functional_tests/basic_chaos/static_config.yaml
  postgresql/functional_tests/basic_chaos/tests-deadline/test_deadline_propagation.py
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  postgresql/functional_tests/metrics/dynamic_config_fallback.json
  postgresql/include/userver/storages/postgres/detail/connection_ptr.hpp
  postgresql/library.yaml
  postgresql/src/storages/postgres/deadline.cpp
  postgresql/src/storages/postgres/deadline.hpp
  postgresql/src/storages/postgres/detail/cluster_impl.cpp
  postgresql/src/storages/postgres/detail/connection_ptr.cpp
  postgresql/src/storages/postgres/detail/pool.cpp
  postgresql/src/storages/postgres/detail/pool.hpp
  postgresql/src/storages/postgres/experiments.cpp
  postgresql/src/storages/postgres/experiments.hpp
  postgresql/src/storages/postgres/postgres_config.cpp
  postgresql/src/storages/postgres/postgres_config.hpp
  postgresql/src/storages/postgres/tests/cluster_pgtest.cpp
  postgresql/src/storages/postgres/tests/pool_pgtest.cpp
  postgresql/src/storages/postgres/tests/pool_stats_pgtest.cpp
  postgresql/src/storages/postgres/transaction.cpp
  postgresql/tests/dynamic_config_fallback.json
  samples/postgres-support/dynamic_config_fallback.json
  samples/postgres_auth/dynamic_config_fallback.json
  samples/postgres_service/dynamic_config_fallback.json
Owners: @bugaevskiy, @taxi/common-group-developers

feat userver-load: better mongo CC
  core/include/userver/congestion_control/controllers/linear.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/v2.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
  mongo/src/storages/mongo/congestion_control/sensor.cpp
  mongo/src/storages/mongo/pool_impl.cpp
  mongo/src/storages/mongo/stats.cpp
  shared/include/userver/utils/smoothed_value.hpp
Owners: @taxi/common-group-developers, @bugaevskiy

bug pg: interrupt infinite PQXgetResult cycle
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.cpp
Owners: @bugaevskiy

bug authproxies: do not propagate compression headers
  core/include/userver/server/http/http_request.hpp
  core/src/server/handlers/http_handler_base.cpp
  core/src/server/http/http_request.cpp
  core/src/server/http/http_request_impl.cpp
  core/src/server/http/http_request_impl.hpp
Owners: @bugaevskiy, @segoon

feat mysql: add basic chaos tests, fix pool maintenance intervals, fix some typos
  mysql/CMakeLists.txt
  mysql/functional_tests/CMakeLists.txt
  mysql/functional_tests/basic_chaos/CMakeLists.txt
  mysql/functional_tests/basic_chaos/dynamic_config_fallback.json
  mysql/functional_tests/basic_chaos/mysql_service.cpp
  mysql/functional_tests/basic_chaos/schemas/mysql/key-value-database.sql
  mysql/functional_tests/basic_chaos/static_config.yaml
  mysql/functional_tests/basic_chaos/tests/conftest.py
  mysql/functional_tests/basic_chaos/tests/test_mysql.py
  mysql/functional_tests/service.yaml
  mysql/src/storages/mysql/infra/pool.cpp
  samples/mysql_service/static_config.yaml
Owners: @taxi/common-group-developers

feat userver-load: implement background ping
  mongo/include/userver/storages/mongo/pool.hpp
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.hpp
  mongo/src/storages/mongo/pool.cpp
  mongo/src/storages/mongo/pool_impl.hpp
Owners: @bugaevskiy

feat statistics: support RATE in solomon
  core/include/userver/utils/statistics/fmt.hpp
  core/include/userver/utils/statistics/metric_value.hpp
  core/include/userver/utils/statistics/rate.hpp
  core/include/userver/utils/statistics/rate_counter.hpp
  core/include/userver/utils/statistics/writer.hpp
  core/src/utils/statistics/rate.cpp
  core/src/utils/statistics/rate_counter.cpp
  core/src/utils/statistics/rate_counter_test.cpp
  core/src/utils/statistics/rate_test.cpp
  core/src/utils/statistics/solomon.cpp
  core/src/utils/statistics/solomon_test.cpp
  core/src/utils/statistics/writer.cpp
Owners: @taxi/common-group-developers

bug server: fix use-after-free
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/src/server/handlers/http_handler_base.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

Feat userver: additional info on request size error
  core/src/server/http/http_request_constructor.cpp
Owners: @bugaevskiy, @segoon

feat cache: add slru cache policy
  shared/include/userver/cache/impl/lru.hpp
  shared/include/userver/cache/impl/slru.hpp
  shared/src/cache/slru_base_test.cpp
  shared/src/cache/slru_benchmark.cpp
Owners: @taxi/common-group-developers

feat mongo: add mongo-deadline-propagation experiment
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/utils/impl/userver_experiments.cpp
  dynamic_config_fallbacks.yaml
  mongo/CMakeLists.txt
  mongo/functional_tests/basic_chaos/dynamic_config_fallback.json
  mongo/functional_tests/metrics/dynamic_config_fallback.json
  mongo/library.yaml
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
  mongo/src/storages/mongo/deadline_mongotest.cpp
  mongo/src/storages/mongo/dynamic_config.cpp
  mongo/src/storages/mongo/util_mongotest.cpp
  mongo/src/storages/mongo/util_mongotest.hpp
  mongo/tests/dynamic_config_fallback.json
  samples/mongo-support/dynamic_config_fallback.json
  samples/mongo_service/dynamic_config_fallback.json
  scripts/docs/en/schemas/dynamic_configs.md
Owners: @taxi/common-group-developers, @bugaevskiy

fix formats: fix json::ValueBuilder::Resize
  shared/src/formats/json/value_builder.cpp
  shared/src/formats/json/value_builder_test.cpp
Owners: @taxi/common-group-developers

feat cache: add `InvalidateAsync` method
  core/include/userver/cache/cache_update_trait.hpp
  core/include/userver/dynamic_config/source.hpp
  core/include/userver/utils/periodic_task.hpp
  core/src/cache/cache_update_trait.cpp
  core/src/cache/cache_update_trait_impl.cpp
  core/src/cache/cache_update_trait_impl.hpp
  core/src/cache/cache_update_trait_test.cpp
  core/src/utils/periodic_task.cpp
  core/src/utils/periodic_task_test.cpp
Owners: @segoon, @antonyzhilin, @taxi/common-group-developers

fix testsuite: Remove useless logs
  testsuite/pytest_plugins/pytest_userver/chaos.py
Owners: @taxi/common-group-developers

feat core: bring consistency into tasks hierarchy
  core/include/userver/dist_lock/dist_locked_task.hpp
  core/include/userver/engine/task/shared_task.hpp
  core/include/userver/engine/task/shared_task_with_result.hpp
  core/include/userver/engine/task/task.hpp
  core/include/userver/engine/task/task_base.hpp
  core/include/userver/engine/task/task_with_result.hpp
  core/src/dist_lock/dist_locked_task.cpp
  core/src/engine/task/shared_task.cpp
  core/src/engine/task/shared_task_with_result_test.cpp
  core/src/engine/task/task.cpp
  core/src/engine/task/task_base.cpp
  core/src/engine/task/task_context.cpp
  core/src/engine/task/task_context.hpp
  core/src/engine/task/task_test.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat core: update PFR to 2.1.0
  third_party/Readme.md
  third_party/pfr/include/boost/pfr.hpp
  third_party/pfr/include/boost/pfr/config.hpp
  third_party/pfr/include/boost/pfr/core.hpp
  third_party/pfr/include/boost/pfr/detail/cast_to_layout_compatible.hpp
  third_party/pfr/include/boost/pfr/detail/config.hpp
  third_party/pfr/include/boost/pfr/detail/core.hpp
  third_party/pfr/include/boost/pfr/detail/core14_classic.hpp
  third_party/pfr/include/boost/pfr/detail/core14_loophole.hpp
  third_party/pfr/include/boost/pfr/detail/core17.hpp
  third_party/pfr/include/boost/pfr/detail/core17_generated.hpp
  third_party/pfr/include/boost/pfr/detail/detectors.hpp
  third_party/pfr/include/boost/pfr/detail/fields_count.hpp
  third_party/pfr/include/boost/pfr/detail/for_each_field_impl.hpp
  third_party/pfr/include/boost/pfr/detail/functional.hpp
  third_party/pfr/include/boost/pfr/detail/io.hpp
  third_party/pfr/include/boost/pfr/detail/make_flat_tuple_of_references.hpp
  third_party/pfr/include/boost/pfr/detail/make_integer_sequence.hpp
  third_party/pfr/include/boost/pfr/detail/offset_based_getter.hpp
  third_party/pfr/include/boost/pfr/detail/possible_reflectable.hpp
  third_party/pfr/include/boost/pfr/detail/rvalue_t.hpp
  third_party/pfr/include/boost/pfr/detail/sequence_tuple.hpp
  third_party/pfr/include/boost/pfr/detail/size_array.hpp
  third_party/pfr/include/boost/pfr/detail/size_t_.hpp
  third_party/pfr/include/boost/pfr/detail/stdtuple.hpp
  third_party/pfr/include/boost/pfr/detail/tie_from_structure_tuple.hpp
  third_party/pfr/include/boost/pfr/detail/unsafe_declval.hpp
  third_party/pfr/include/boost/pfr/functions_for.hpp
  third_party/pfr/include/boost/pfr/functors.hpp
  third_party/pfr/include/boost/pfr/io.hpp
  third_party/pfr/include/boost/pfr/io_fields.hpp
  third_party/pfr/include/boost/pfr/ops.hpp
  third_party/pfr/include/boost/pfr/ops_fields.hpp
  third_party/pfr/include/boost/pfr/traits.hpp
  third_party/pfr/include/boost/pfr/traits_fwd.hpp
  third_party/pfr/include/boost/pfr/tuple_size.hpp
Owners: @taxi/common-group-developers, @ser-fedorov, @antoshkka

feat mongo: test on multi-instance shard
  mongo/CMakeLists.txt
  mongo/src/storages/mongo/options_mongotest.cpp
  scripts/docker/prepare_image.sh
  testsuite/requirements-macos.txt
  testsuite/requirements.txt
Owners: @bugaevskiy, @taxi/common-group-developers

feat core: fix compilation of TaskBase on old compilers
  core/src/engine/task/task_base.cpp
Owners: @bugaevskiy, @segoon

feat core[http]: add direct accessors to headers/cookies in HttpRequest
  core/include/userver/server/http/http_request.hpp
  core/src/server/http/http_request.cpp
  core/src/server/http/http_request_impl.cpp
  core/src/server/http/http_request_impl.hpp
Owners: @bugaevskiy, @segoon

feat utils: add subspan methods to Span
  shared/include/userver/utils/impl/span.hpp
Owners: @taxi/common-group-developers

feat core: websocket server implementation
  core/include/userver/server/websocket/http_server.h
  core/include/userver/server/websocket/websocket_server.h
  core/src/server/websocket/coders/deflate.cpp
  core/src/server/websocket/coders/deflate.h
  core/src/server/websocket/content_encoder.cpp
  core/src/server/websocket/content_encoder.h
  core/src/server/websocket/http_server.cpp
  core/src/server/websocket/utils.h
  core/src/server/websocket/websocket_protocol.cpp
  core/src/server/websocket/websocket_protocol.h
  core/src/server/websocket/websocket_server.cpp
  samples/CMakeLists.txt
  samples/websocket_service/CMakeLists.txt
  samples/websocket_service/config_dev.yaml
  samples/websocket_service/dynamic_config_fallback.json
  samples/websocket_service/server.crt
  samples/websocket_service/server.key
  samples/websocket_service/websocket_service.cpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers

feat formats: add tests on resize
  shared/src/formats/common/value_builder_test.hpp
  shared/src/formats/json/value_builder_test.cpp
Owners: @taxi/common-group-developers

feat formats: add checks in serializing and parsing
  shared/include/userver/formats/serialize/common_containers.hpp
  shared/include/userver/utils/meta.hpp
Owners: @taxi/common-group-developers

init
  shared/include/userver/utils/from_string.hpp
Owners: @taxi/common-group-developers

refactor utils: optimize TrivialMap
  shared/include/userver/utils/trivial_map.hpp
  shared/src/utils/trivial_map_benchmark.cpp
  shared/src/utils/trivial_map_test.cpp
Owners: @taxi/common-group-developers

feat userver-load: account avg timings
  core/include/userver/congestion_control/controllers/linear.hpp
  core/include/userver/congestion_control/controllers/v2.hpp
  core/include/userver/congestion_control/sensor.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/linear_test.cpp
  core/src/congestion_control/controllers/v2.cpp
  core/src/congestion_control/sensor.cpp
  mongo/src/storages/mongo/component.cpp
  mongo/src/storages/mongo/congestion_control/sensor.cpp
  mongo/src/storages/mongo/congestion_control/sensor.hpp
  mongo/src/storages/mongo/stats.cpp
  mongo/src/storages/mongo/stats.hpp
Owners: @taxi/common-group-developers, @bugaevskiy

bug cmake: GrpcTargets breaks build
  cmake/GrpcTargets.cmake
  grpc/src/ugrpc/server/impl/async_method_invocation.cpp
Owners: @taxi/common-group-developers, @antonyzhilin

feat tests: add scope for grpc client
  grpc/functional_tests/basic_chaos/tests/conftest.py
Owners: @antonyzhilin

feat utils: optimize FromString by using std::from_chars
  shared/include/userver/utils/from_string.hpp
  shared/src/utils/from_string_benchmark.cpp
  shared/src/utils/from_string_test.cpp
Owners: @taxi/common-group-developers

fix userver: fix various compiler warnings
  core/include/userver/cache/caching_component_base.hpp
  core/src/engine/impl/wait_list_light.cpp
  core/src/engine/task/cancel.cpp
  shared/include/userver/utils/from_string.hpp
  shared/src/utils/from_string_benchmark.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

feat logs: check prefix in /log/dynamic-debug
  core/include/userver/logging/log_filepath.hpp
  core/src/logging/log_message_test.cpp
  core/src/tracing/span_test.cpp
Owners: @taxi/common-group-developers, @segoon

refactor engine: minor cleanups after adding TaskBase
  core/include/userver/engine/task/task.hpp
  core/include/userver/engine/task/task_base.hpp
  core/src/components/manager.cpp
  core/src/engine/impl/condition_variable_any.cpp
  core/src/engine/run_standalone.cpp
  core/src/engine/task/shared_task.cpp
  core/src/engine/task/task.cpp
  core/src/engine/task/task_base.cpp
  core/src/engine/task/task_context_test.cpp
  core/src/logging/log.cpp
  core/src/logging/tp_logger.cpp
  core/src/logging/tp_logger_test.cpp
  core/src/tracing/opentracing.cpp
  core/src/tracing/span.cpp
  core/src/utils/async.cpp
  core/src/utils/cpu_relax.cpp
  core/src/utils/impl/wait_token_storage.cpp
  mongo/src/storages/mongo/cdriver/wrappers.cpp
  rabbitmq/src/urabbitmq/impl/amqp_channel.cpp
  redis/src/storages/redis/impl/sentinel.cpp
  redis/src/storages/redis/impl/sentinel_impl.cpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers, @itrofimow

test
  core/include/userver/engine/io/socket.hpp
Owners: @bugaevskiy, @segoon

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
