Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

testsuite: compile
  conan/test_package/CMakeLists.txt
  conanfile.py
Owners: @taxi/common-group-developers

fix deps
  conanfile.py
Owners: @taxi/common-group-developers

enable testsuite tests
  conan/test_package/conanfile.py
Owners: @taxi/common-group-developers

review fix
  cmake/UserverTestsuite.cmake
  conan/test_package/conanfile.py
  conanfile.py
Owners: @taxi/common-group-developers

try to fix grpc
  cmake/GrpcConan.cmake
  conanfile.py
Owners: @taxi/common-group-developers

bump cryptopp, fix target name
  conanfile.py
  core/CMakeLists.txt
  universal/CMakeLists.txt
Owners: @taxi/common-group-developers, @bugaevskiy

rebase
  conanfile.py
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

grpc rework, test fix
  cmake/GrpcConan.cmake
  cmake/GrpcTargets.cmake
  conan/test_package/test_universal.cpp
  conanfile.py
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

feat logs: trimming paths with the compiler
  core/CMakeLists.txt
  core/include/userver/logging/log_filepath.hpp
  core/src/tracing/span_test.cpp
Owners: @taxi/common-group-developers, @segoon

fix baggage test
  conan/test_package/testsuite-support/dynamic_config_fallback.json
  conan/test_package/testsuite-support/src/logcapture.cpp
  conan/test_package/testsuite-support/tests/test_logcapture.py
  conan/test_package/testsuite-support/tests/test_testpoint.py
Owners: @taxi/common-group-developers

feat userver: support non-queued variatns for pubsub
  README.yamake.md
  redis/functional_tests/pubsub/CMakeLists.txt
  redis/functional_tests/pubsub/dynamic_config_fallback.json
  redis/functional_tests/pubsub/redis_service.cpp
  redis/functional_tests/pubsub/static_config.yaml
  redis/functional_tests/pubsub/tests/conftest.py
  redis/functional_tests/pubsub/tests/test_redis_pubsub.py
  redis/include/userver/storages/redis/impl/base.hpp
  redis/include/userver/storages/redis/subscribe_client.hpp
  redis/include/userver/storages/redis/subscription_token.hpp
  redis/src/storages/redis/client_redistest.hpp
  redis/src/storages/redis/pubsub_redistest.cpp
  redis/src/storages/redis/pubsub_redistest.hpp
  redis/src/storages/redis/subscribe_client_impl.cpp
  redis/src/storages/redis/subscription_token_impl.cpp
  redis/src/storages/redis/subscription_token_impl.hpp
Owners: @taxi/common-group-developers, @segoon

minimize testsuite test
  conan/test_package/CMakeLists.txt
  conan/test_package/conanfile.py
  conan/test_package/hello_service/CMakeLists.txt
  conan/test_package/hello_service/dynamic_config_fallback.json
  conan/test_package/hello_service/hello_service.cpp
  conan/test_package/hello_service/static_config.yaml
  conan/test_package/hello_service/test_hello.py
  conan/test_package/testsuite-support/CMakeLists.txt
  conan/test_package/testsuite-support/config_vars.yaml
  conan/test_package/testsuite-support/src/dynamic_config.cpp
  conan/test_package/testsuite-support/src/dynamic_config.hpp
  conan/test_package/testsuite-support/src/logcapture.cpp
  conan/test_package/testsuite-support/src/logcapture.hpp
  conan/test_package/testsuite-support/src/main.cpp
  conan/test_package/testsuite-support/src/metrics.cpp
  conan/test_package/testsuite-support/src/metrics.hpp
  conan/test_package/testsuite-support/src/now.cpp
  conan/test_package/testsuite-support/src/now.hpp
  conan/test_package/testsuite-support/src/tasks.cpp
  conan/test_package/testsuite-support/src/tasks.hpp
  conan/test_package/testsuite-support/src/testpoint.cpp
  conan/test_package/testsuite-support/src/testpoint.hpp
  conan/test_package/testsuite-support/static_config.yaml
  conan/test_package/testsuite-support/tests/conftest.py
  conan/test_package/testsuite-support/tests/test_dynamic_config.py
  conan/test_package/testsuite-support/tests/test_logcapture.py
  conan/test_package/testsuite-support/tests/test_metrics.py
  conan/test_package/testsuite-support/tests/test_mocked_time.py
  conan/test_package/testsuite-support/tests/test_ping.py
  conan/test_package/testsuite-support/tests/test_tasks.py
  conan/test_package/testsuite-support/tests/test_testpoint.py
Owners: @taxi/common-group-developers

feat utils: add Bloom filter
  shared/include/userver/utils/filter_bloom.hpp
  shared/src/utils/filter_bloom_test.cpp
Owners: @taxi/common-group-developers

feat postgres: enable connlimit-mode: auto
  postgresql/functional_tests/connlimit_max/static_config.yaml
  postgresql/include/userver/storages/postgres/component.hpp
  postgresql/src/storages/postgres/component.cpp
Owners: @bugaevskiy

feat pg: add integration tests
  postgresql/functional_tests/integration_tests/config_vars.yaml
  postgresql/functional_tests/integration_tests/dynamic_config_fallback.json
  postgresql/functional_tests/integration_tests/schemas/postgresql/key_value.sql
  postgresql/functional_tests/integration_tests/secure_data.json
  postgresql/functional_tests/integration_tests/service.cpp
  postgresql/functional_tests/integration_tests/static_config.yaml
  postgresql/functional_tests/integration_tests/tests/conftest.py
  postgresql/functional_tests/integration_tests/tests/test_failover.py
Owners: @bugaevskiy

review fixes
  cmake/GrpcTargets.cmake
  conan/test_package/CMakeLists.txt
  conan/test_package/conanfile.py
  conan/test_package/hello_service/CMakeLists.txt
  conan/test_package/hello_service/hello_service.cpp
  conan/test_package/hello_service/test_hello.py
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

testsuite: add requirements
  .github/workflows/ci-conan.yml
  conan/test_package/hello_service/CMakeLists.txt
Owners: @taxi/common-group-developers

fix venv pkg
  .github/workflows/ci-conan.yml
Owners: @taxi/common-group-developers

missing file
  conan/test_package/hello_service/requirements.txt
Owners: @taxi/common-group-developers

fix dynamic config
  dynamic_config_fallbacks.yaml
Owners: @taxi/common-group-developers

Intermediate changes
  clickhouse/functional_tests/basic_chaos/tests/ya.make
  clickhouse/functional_tests/basic_chaos/ya.make
  testsuite/pytest_plugins/pytest_userver/plugins/grpc/ya.make.ext
Owners: @itrofimow, @taxi/common-group-developers

feat rabbitmq: add tests on metrics
  dynamic_config_fallbacks.yaml
  rabbitmq/CMakeLists.txt
  rabbitmq/functional_tests/CMakeLists.txt
  rabbitmq/functional_tests/metrics/CMakeLists.txt
  rabbitmq/functional_tests/metrics/dynamic_config_fallback.json
  rabbitmq/functional_tests/metrics/rabbitmq_service.cpp
  rabbitmq/functional_tests/metrics/static_config.yaml
  rabbitmq/functional_tests/metrics/tests/conftest.py
  rabbitmq/functional_tests/metrics/tests/static/metrics_values.txt
  rabbitmq/functional_tests/metrics/tests/test_metrics.py
  scripts/docs/en/userver/service_monitor.md
Owners: @taxi/common-group-developers, @itrofimow

feat rabbitmq: modernize statistics write
  rabbitmq/include/userver/urabbitmq/client.hpp
  rabbitmq/src/urabbitmq/client.cpp
  rabbitmq/src/urabbitmq/client_impl.cpp
  rabbitmq/src/urabbitmq/client_impl.hpp
  rabbitmq/src/urabbitmq/component.cpp
  rabbitmq/src/urabbitmq/statistics/connection_statistics.cpp
  rabbitmq/src/urabbitmq/statistics/connection_statistics.hpp
Owners: @itrofimow

feat userver/core: tracing-manager-locator use default if component-name empty
  core/src/tracing/manager_component.cpp
Owners: @segoon

feat distlock: use new metrics writer
  core/include/userver/dist_lock/dist_locked_worker.hpp
  core/src/dist_lock/dist_locked_worker.cpp
  mongo/src/storages/mongo/dist_lock_component_base.cpp
  postgresql/src/storages/postgres/dist_lock_component_base.cpp
Owners: @taxi/common-group-developers, @bugaevskiy

feat core: remove some heavy headers inclusions
  core/include/userver/cache/expirable_lru_cache.hpp
  core/include/userver/cache/lru_cache_component_base.hpp
  core/include/userver/dist_lock/dist_locked_worker.hpp
  core/include/userver/logging/logger.hpp
  core/include/userver/utils/statistics/entry.hpp
  core/src/cache/lru_cache_component_base.cpp
Owners: @segoon, @taxi/common-group-developers

feat cache: add interaction with nodes
  shared/include/userver/cache/impl/lru.hpp
Owners: @taxi/common-group-developers

feat clickhouse: limit pool size in chaos tests
  clickhouse/functional_tests/basic_chaos/clickhouse_service.cpp
  clickhouse/functional_tests/basic_chaos/static_config.yaml
  clickhouse/functional_tests/basic_chaos/tests/ya.make
  clickhouse/functional_tests/basic_chaos/ya.make
Owners: @itrofimow

feat engine: add RegisterThreadStartedHook test
  core/src/concurrent/impl/latch.hpp
  core/src/engine/task/task_processor.cpp
  core/src/engine/task/thread_started_hook_test.cpp
Owners: @segoon, @bugaevskiy

feat mongo: log server host
  mongo/src/storages/mongo/cdriver/async_stream.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
Owners: @bugaevskiy

feat pg: add pipeline experiment
  postgresql/functional_tests/basic_chaos/static_config.yaml
  postgresql/functional_tests/integration_tests/static_config.yaml
  postgresql/functional_tests/metrics/static_config.yaml
  postgresql/src/storages/postgres/detail/connection_impl.cpp
  postgresql/src/storages/postgres/experiments.cpp
  postgresql/src/storages/postgres/experiments.hpp
  postgresql/src/storages/postgres/tests/util_pgtest.cpp
  postgresql/src/storages/postgres/tests/util_pgtest.hpp
Owners: @bugaevskiy

feat build: update Conan recipe
  .github/workflows/ci-conan.yml
  CMakeLists.txt
  cmake/GrpcTargets.cmake
  cmake/UserverTestsuite.cmake
  conan/test_package/CMakeLists.txt
  conan/test_package/conanfile.py
  conan/test_package/hello.cpp
  conan/test_package/hello.hpp
  conan/test_package/hello_service/CMakeLists.txt
  conan/test_package/hello_service/dynamic_config_fallback.json
  conan/test_package/hello_service/hello_service.cpp
  conan/test_package/hello_service/requirements.txt
  conan/test_package/hello_service/static_config.yaml
  conan/test_package/hello_service/test_hello.py
  conan/test_package/proto/greeter.proto
  conan/test_package/test_core.cpp
  conan/test_package/test_grpc.cpp
  conan/test_package/test_mongo.cpp
  conan/test_package/test_postgresql.cpp
  conan/test_package/test_rabbitmq.cpp
  conan/test_package/test_redis.cpp
  conan/test_package/test_ubench.cpp
  conan/test_package/test_universal.cpp
  conan/test_package/test_utest.cpp
  conanfile.py
  core/CMakeLists.txt
  dynamic_config_fallbacks.yaml
  grpc/CMakeLists.txt
  universal/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin, @bugaevskiy

feat mongo: set bigger timeout for tests
  testsuite/pytest_plugins/pytest_userver/plugins/mongo.py
Owners: @taxi/common-group-developers

fix c++17 test
  core/src/concurrent/impl/latch.hpp
Owners: @segoon, @bugaevskiy

feat logging: add cfile_sink impl
  core/src/logging/component.cpp
  core/src/logging/impl/base_sink.cpp
  core/src/logging/impl/base_sink.hpp
  core/src/logging/impl/buffered_file_sink.cpp
  core/src/logging/impl/buffered_file_sink.hpp
  core/src/logging/impl/buffered_file_sink_test.cpp
  core/src/logging/impl/fd_sink.cpp
  core/src/logging/impl/fd_sink.hpp
  core/src/logging/impl/fd_sink_test.cpp
  core/src/logging/impl/file_sink.cpp
  core/src/logging/impl/file_sink.hpp
  core/src/logging/impl/file_sink_test.cpp
  core/src/logging/impl/file_sinks_benchmark.cpp
  core/src/logging/impl/open_file_helper.hpp
  core/src/logging/impl/reopening_file_sink.hpp
  core/src/logging/impl/sink_helper_test.cpp
  core/src/logging/impl/sink_helper_test.hpp
  core/src/logging/impl/stderr_sinks_benchmark.cpp
  core/src/logging/impl/tcp_socket_sink.cpp
  core/src/logging/impl/tcp_socket_sink.hpp
  core/src/logging/impl/tcp_socket_sink_test.cpp
  core/src/logging/impl/unix_socket_sink.cpp
  core/src/logging/impl/unix_socket_sink.hpp
  core/src/logging/logger.cpp
  core/src/logging/logging_test.hpp
  core/src/logging/socket_logging_test.hpp
  core/src/logging/unix_socket_sink.hpp
  shared/include/userver/fs/blocking/c_file.hpp
  shared/include/userver/fs/blocking/file_descriptor.hpp
  shared/include/userver/fs/blocking/open_mode.hpp
  shared/src/fs/blocking/c_file.cpp
  shared/src/fs/blocking/c_file_test.cpp
  shared/src/fs/blocking/file_descriptor.cpp
  shared/src/fs/blocking/file_descriptor_test.cpp
Owners: @taxi/common-group-developers, @antoshkka

test
  core/include/userver/engine/io/socket.hpp
Owners: @bugaevskiy, @segoon

fix logging: add mutex include
  core/src/logging/impl/base_sink.hpp
Owners: @taxi/common-group-developers

fix ci: add include mutex in base_sink
  core/src/logging/impl/base_sink.hpp
Owners: @taxi/common-group-developers

feat shared: rename some files
  shared/src/utils/impl/byte_utils.cpp
  shared/src/utils/impl/byte_utils.hpp
  shared/src/utils/impl/byte_utils_test.cpp
  shared/src/utils/str_icase.cpp
Owners: @taxi/common-group-developers

tests pg: add server unavailable cases
  postgresql/src/storages/postgres/tests/cluster_pgtest.cpp
  postgresql/src/storages/postgres/tests/pool_pgtest.cpp
  postgresql/src/storages/postgres/tests/topology_hot_standby_pgtest.cpp
  postgresql/src/storages/postgres/tests/topology_standalone_pgtest.cpp
  postgresql/src/storages/postgres/tests/util_pgtest.cpp
  postgresql/src/storages/postgres/tests/util_pgtest.hpp
Owners: @bugaevskiy
