Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

fix gprc conan
  cmake/GrpcTargets.cmake
  conanfile.py
Owners: @taxi/common-group-developers

fix cache: don't update disabled caches from testsuite
  core/src/cache/cache_update_trait_impl.cpp
Owners: @segoon

fix conan: fix build gprc in conan
  cmake/GrpcTargets.cmake
  conanfile.py
Owners: @taxi/common-group-developers

cc dynamic_config: clarify an error message
  core/src/dynamic_config/storage/component.cpp
Owners: @segoon, @antonyzhilin

bug postgres: rename testsuite tasks
  postgresql/functional_tests/connlimit_max/tests/test_connlimit.py
  postgresql/include/userver/storages/postgres/cluster.hpp
  postgresql/src/storages/postgres/cluster.cpp
  postgresql/src/storages/postgres/component.cpp
  postgresql/src/storages/postgres/connlimit_watchdog.cpp
  postgresql/src/storages/postgres/connlimit_watchdog.hpp
  postgresql/src/storages/postgres/detail/cluster_impl.cpp
  postgresql/src/storages/postgres/detail/cluster_impl.hpp
  postgresql/src/storages/postgres/tests/cluster_pgtest.cpp
Owners: @bugaevskiy

feat ci: update docker with testsuite
  scripts/docker/prepare_image.sh
  testsuite/requirements.txt
Owners: @taxi/common-group-developers

fix testsuite: update configs before caches in CacheControl
  core/src/cache/cache_update_trait_impl.cpp
Owners: @segoon

typo grpc: don't specify ridiculous Span source locations
  core/include/userver/tracing/span_builder.hpp
  core/src/tracing/span_builder.cpp
  grpc/src/ugrpc/client/impl/async_methods.cpp
  grpc/src/ugrpc/server/impl/service_worker_impl.cpp
Owners: @segoon, @antonyzhilin

feat userver: add append-path-to-url property to dynamic configs client schema
  core/src/dynamic_config/client/component.cpp
Owners: @segoon, @antonyzhilin

feat core: check request deadline when processing starts
  core/functional_tests/basic_chaos/static_config.yaml
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/include/userver/engine/deadline.hpp
  core/include/userver/server/handlers/exceptions.hpp
  core/include/userver/server/handlers/http_handler_base.hpp
  core/include/userver/server/http/http_request.hpp
  core/src/engine/deadline.cpp
  core/src/server/handlers/http_handler_base.cpp
  core/src/server/handlers/http_handler_base_statistics.cpp
  core/src/server/handlers/http_handler_base_statistics.hpp
  core/src/server/http/http_method.cpp
  core/src/server/http/http_request.cpp
  postgresql/functional_tests/basic_chaos/CMakeLists.txt
  postgresql/functional_tests/basic_chaos/tests-deadline/test_deadline_propagation.py
  redis/functional_tests/basic_chaos/tests/test_deadline_propagation.py
  testsuite/pytest_plugins/pytest_userver/chaos.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat mongo: smooth timings
  core/include/userver/congestion_control/controllers/linear.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/linear_test.cpp
Owners: @taxi/common-group-developers

feat dynamic_config: add updates sink API
  core/include/userver/dynamic_config/fallbacks/component.hpp
  core/include/userver/dynamic_config/fwd.hpp
  core/include/userver/dynamic_config/storage/component.hpp
  core/include/userver/dynamic_config/updater/component.hpp
  core/include/userver/dynamic_config/updates_sink/component.hpp
  core/include/userver/dynamic_config/updates_sink/find.hpp
  core/src/components/component_list_test.hpp
  core/src/components/minimal_server_component_list_test.cpp
  core/src/dynamic_config/component_updates_sink_test.cpp
  core/src/dynamic_config/fallbacks/component.cpp
  core/src/dynamic_config/storage/component.cpp
  core/src/dynamic_config/updater/component.cpp
  core/src/dynamic_config/updates_sink/component.cpp
  core/tests/dynamic_config_fallback.json
  dynamic_config_fallbacks.yaml
  shared/src/formats/json/member_access_benchmark.cpp
  shared/src/utils/small_string_benchmark.cpp
Owners: @segoon, @antonyzhilin, @bugaevskiy, @taxi/common-group-developers

feat redis: add autotopology for cluster
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/engine/ev/watcher/periodic_watcher.cpp
  core/src/engine/ev/watcher/periodic_watcher.hpp
  core/src/utils/impl/userver_experiments.cpp
  redis/functional_tests/basic_chaos/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology_test/CMakeLists.txt
  redis/functional_tests/cluster_auto_topology_test/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology_test/redis_service.cpp
  redis/functional_tests/cluster_auto_topology_test/static_config.yaml
  redis/functional_tests/cluster_auto_topology_test/tests/conftest.py
  redis/functional_tests/cluster_auto_topology_test/tests/test_redis_cluster.py
  redis/functional_tests/integration_tests/dynamic_config_fallback.json
  redis/functional_tests/integration_tests/tests/test_redis_cluster.py
  redis/functional_tests/metrics/dynamic_config_fallback.json
  redis/include/userver/storages/redis/redis_config.hpp
  redis/library.yaml
  redis/src/storages/redis/component.cpp
  redis/src/storages/redis/dynamic_config.cpp
  redis/src/storages/redis/dynamic_config.hpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.cpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.hpp
  redis/src/storages/redis/impl/cluster_shard.cpp
  redis/src/storages/redis/impl/cluster_shard.hpp
  redis/src/storages/redis/impl/cluster_topology.cpp
  redis/src/storages/redis/impl/cluster_topology.hpp
  redis/src/storages/redis/impl/redis.cpp
  redis/src/storages/redis/impl/redis.hpp
  redis/src/storages/redis/impl/sentinel.cpp
  redis/src/storages/redis/impl/sentinel.hpp
  redis/src/storages/redis/impl/sentinel_impl.cpp
  redis/src/storages/redis/impl/sentinel_impl.hpp
  redis/src/storages/redis/impl/sentinel_impl_switcher.cpp
  redis/src/storages/redis/impl/sentinel_impl_switcher.hpp
  redis/src/storages/redis/impl/sentinel_query.hpp
  redis/src/storages/redis/impl/shard.cpp
  samples/redis_service/dynamic_config_fallback.json
  testsuite/pytest_plugins/pytest_userver/plugins/redis_cluster.py
  testsuite/pytest_plugins/pytest_userver/plugins/service_client.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

bug server: fix race on server finish with concurrent metrics request
  core/src/server/server.cpp
Owners: @bugaevskiy, @segoon

feat mysql: increase default timeouts, increase default timeouts in tests
  mysql/src/storages/mysql/cluster.cpp
  mysql/src/storages/tests/utils_mysqltest.cpp
Owners: @taxi/common-group-developers

feat docs: add May 2023 changelog
  scripts/docs/en/userver/functional_testing.md
  scripts/docs/en/userver/publications.md
  scripts/docs/en/userver/roadmap_and_changelog.md
  scripts/docs/square_logo.svg
Owners: @taxi/common-group-developers

feat mongo: move to Rate metrics
  mongo/functional_tests/metrics/tests-values/test_metrics.py
  mongo/functional_tests/metrics/tests/static/metrics_values.txt
  mongo/src/storages/mongo/stats.cpp
  mongo/src/storages/mongo/stats.hpp
  mongo/src/storages/mongo/stats_serialize.cpp
Owners: @bugaevskiy

feat mongo: enable CC fake mode by default
  core/src/congestion_control/controllers/linear.cpp
Owners: @taxi/common-group-developers

fix grpc: cmake
  cmake/GrpcTargets.cmake
  cmake/SetupGoogleProtoApis.cmake
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

Fix
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

typo server: add _ms to the deadline propagation tag
  core/src/server/handlers/http_handler_base.cpp
Owners: @bugaevskiy, @segoon

fix grpc: fix cmake scripts
  cmake/GrpcTargets.cmake
  cmake/SetupGoogleProtoApis.cmake
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

fix statistics: write 'type' in JSON format
  core/src/utils/statistics/json.cpp
  testsuite/pytest_plugins/pytest_userver/client.py
Owners: @taxi/common-group-developers

cc grpc: make tidy happy
  grpc/src/tests/async_test.cpp
  grpc/src/tests/base_test.cpp
  grpc/src/tests/cancel_test.cpp
  grpc/src/tests/error_test.cpp
Owners: @antonyzhilin

feat grpc: implement deadline propagation feature for ugrpc
  core/include/userver/dynamic_config/source.hpp
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/utils/impl/userver_experiments.cpp
  grpc/functional_tests/basic_chaos/dynamic_config_fallback.json
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/handlers/functional_tests/health/dynamic_config_fallback.json
  grpc/include/userver/ugrpc/client/client_factory.hpp
  grpc/include/userver/ugrpc/client/impl/async_methods.hpp
  grpc/include/userver/ugrpc/client/impl/client_data.hpp
  grpc/include/userver/ugrpc/client/rpc.hpp
  grpc/include/userver/ugrpc/impl/statistics.hpp
  grpc/include/userver/ugrpc/impl/statistics_scope.hpp
  grpc/include/userver/ugrpc/server/impl/service_worker.hpp
  grpc/include/userver/ugrpc/server/impl/service_worker_impl.hpp
  grpc/include/userver/ugrpc/server/server.hpp
  grpc/library.yaml
  grpc/src/tests/cancel_test.cpp
  grpc/src/tests/channels_test.cpp
  grpc/src/tests/client_factory_test.cpp
  grpc/src/tests/deadline_metrics_test.cpp
  grpc/src/tests/deadline_test.cpp
  grpc/src/tests/deadline_tests_helpers.hpp
  grpc/src/tests/service_config_test.cpp
  grpc/src/tests/service_fixture_test.cpp
  grpc/src/tests/service_fixture_test.hpp
  grpc/src/ugrpc/client/client_factory.cpp
  grpc/src/ugrpc/client/client_factory_component.cpp
  grpc/src/ugrpc/client/impl/async_methods.cpp
  grpc/src/ugrpc/client/impl/client_configs.cpp
  grpc/src/ugrpc/client/impl/client_configs.hpp
  grpc/src/ugrpc/impl/statistics.cpp
  grpc/src/ugrpc/impl/statistics_scope.cpp
  grpc/src/ugrpc/server/impl/service_worker_impl.cpp
  grpc/src/ugrpc/server/server.cpp
  grpc/src/ugrpc/server/server_component.cpp
  grpc/tests/dynamic_config_fallback.json
  postgresql/src/storages/postgres/detail/cluster_impl.cpp
  samples/grpc_service/dynamic_config_fallback.json
  scripts/grpc/templates/client.usrv.cpp.jinja
  scripts/grpc/templates/client.usrv.hpp.jinja
Owners: @segoon, @antonyzhilin, @taxi/common-group-developers, @bugaevskiy

refactor mongo: remove extra counters
  mongo/functional_tests/metrics/tests/test_metrics.py
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
  mongo/src/storages/mongo/congestion_control/sensor.cpp
  mongo/src/storages/mongo/congestion_control/sensor.hpp
  mongo/src/storages/mongo/stats.cpp
  mongo/src/storages/mongo/stats.hpp
Owners: @bugaevskiy

feat pg: add config for pipeline experiment
  postgresql/functional_tests/basic_chaos/conftest.py
  postgresql/functional_tests/basic_chaos/dynamic_config_fallback.json
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  postgresql/functional_tests/integration_tests/dynamic_config_fallback.json
  postgresql/functional_tests/metrics/dynamic_config_fallback.json
  postgresql/include/userver/storages/postgres/component.hpp
  postgresql/include/userver/storages/postgres/options.hpp
  postgresql/library.yaml
  postgresql/src/storages/postgres/experiments.hpp
  postgresql/src/storages/postgres/postgres_config.cpp
  postgresql/tests/dynamic_config_fallback.json
  samples/postgres-support/dynamic_config_fallback.json
  samples/postgres_auth/dynamic_config_fallback.json
  samples/postgres_service/dynamic_config_fallback.json
  scripts/docs/en/schemas/dynamic_configs.md
Owners: @bugaevskiy, @taxi/common-group-developers

feat codegen-clients: add long long in form
  core/include/userver/clients/http/form.hpp
  core/src/clients/http/form.cpp
  core/src/curl-ev/form.cpp
  core/src/curl-ev/form.hpp
Owners: @segoon, @bugaevskiy

cc mongo: fix some of the GCC warnings
  mongo/src/storages/mongo/operations.cpp
  mongo/src/storages/mongo/operations_common.cpp
Owners: @bugaevskiy

Run embeded
  core/include/userver/components/run_embedded.hpp
  core/src/components/run_embedded.cpp
Owners: @segoon, @bugaevskiy

feat docs: add Stream API docs
  core/functional_tests/basic_chaos/httpclient_handlers.hpp
  core/include/userver/server/component.hpp
  grpc/include/userver/ugrpc/client/simple_client_component.hpp
  scripts/docs/en/index.md
  scripts/docs/en/userver/http_server.md
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon, @antonyzhilin

feat mongo: enable CC fake mode
  mongo/src/storages/mongo/pool_impl.cpp
Owners: @bugaevskiy

feat server: modernize HTTP Server code
  core/include/userver/server/server.hpp
  core/src/congestion_control/component.cpp
  core/src/server/http/http_request_handler.cpp
  core/src/server/http/http_request_handler.hpp
  core/src/server/server.cpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers

span_id and parent_span_id generate from market_req_id
  core/include/userver/tracing/span_builder.hpp
  core/src/tracing/span_builder.cpp
  core/src/tracing/span_impl.hpp
Owners: @segoon

fix grpc: Add experiment and config for task cancelation
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/utils/impl/userver_experiments.cpp
  grpc/functional_tests/basic_chaos/dynamic_config_fallback.json
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/handlers/functional_tests/health/dynamic_config_fallback.json
  grpc/include/userver/ugrpc/server/impl/service_worker_impl.hpp
  grpc/library.yaml
  grpc/src/tests/deadline_metrics_test.cpp
  grpc/src/tests/deadline_test.cpp
  grpc/src/ugrpc/client/impl/async_methods.cpp
  grpc/src/ugrpc/server/impl/server_configs.cpp
  grpc/src/ugrpc/server/impl/server_configs.hpp
  grpc/src/ugrpc/server/impl/service_worker_impl.cpp
  grpc/tests/dynamic_config_fallback.json
  samples/grpc_service/dynamic_config_fallback.json
Owners: @taxi/common-group-developers, @antonyzhilin

bug mongo: revert "feat mongo: enable CC fake mode"
  mongo/src/storages/mongo/pool_impl.cpp
Owners: @bugaevskiy

feat uctl: log_dynamic_debug cmd
  scripts/uctl/uctl.bash_completion.sh
  scripts/uctl/uctl.py
Owners: @taxi/common-group-developers

cc docs: add dynamic config ref
  scripts/docs/en/schemas/dynamic_configs.md
  scripts/docs/en/userver/http_server.md
Owners: @taxi/common-group-developers

fix functional_tests: Add missing configs
  dynamic_config_fallbacks.yaml
  postgresql/functional_tests/integration_tests/dynamic_config_fallback.json
  postgresql/functional_tests/integration_tests/tests/test_failover.py
  redis/functional_tests/cluster_auto_topology_test/dynamic_config_fallback.json
  redis/functional_tests/pubsub/dynamic_config_fallback.json
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

bug mongo: fix 'called pure virtual method'
  mongo/src/storages/mongo/pool.cpp
  mongo/src/storages/mongo/pool_impl.cpp
  mongo/src/storages/mongo/pool_impl.hpp
Owners: @bugaevskiy
