Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

feat shared: use auto to suppress some static analyser warnings
  shared/include/userver/decimal64/decimal64.hpp
Owners: @antonyzhilin, @bugaevskiy

bug tests: fix SmallString tests
  shared/src/utils/small_string_benchmark.cpp
Owners: @taxi/common-group-developers

feat core: allow retieval of ENV variables in static config
  core/include/userver/yaml_config/yaml_config.hpp
  core/src/components/manager_config.cpp
  core/src/components/manager_config_test.cpp
  core/src/yaml_config/impl/validate_static_config.cpp
  core/src/yaml_config/yaml_config.cpp
  core/src/yaml_config/yaml_config_test.cpp
  scripts/docs/en/userver/component_system.md
Owners: @antoshkka, @antonyzhilin, @segoon, @bugaevskiy, @taxi/common-group-developers

feat codegen: add CURL_CONNECT_TO option into clients
  core/include/userver/clients/http/connect_to.hpp
  core/include/userver/clients/http/request.hpp
  core/src/clients/http/connect_to.cpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/src/curl-ev/easy.hpp
Owners: @segoon, @bugaevskiy

bug server: set end of headers
  core/src/server/http/http_response_body_stream.cpp
Owners: @bugaevskiy, @segoon

typo mongo: don't lie about "cancelled_by_deadline" in logs
  mongo/include/userver/storages/mongo/exception.hpp
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
  mongo/src/storages/mongo/exception.cpp
Owners: @bugaevskiy

feat mongo: more robust CC
  core/include/userver/congestion_control/controllers/linear.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/linear_test.cpp
  shared/include/userver/utils/smoothed_value.hpp
Owners: @taxi/common-group-developers

Update ci.yml
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

Update common_component_list.cpp
  core/src/components/common_component_list.cpp
Owners: @segoon, @bugaevskiy

feat tools: do not store a copy of run-clang-tidy
  .github/workflows/ci.yml
  tools/run-clang-tidy
Owners: @taxi/common-group-developers

feat grpc: enable access-log
  grpc/include/userver/ugrpc/server/server_component.hpp
Owners: @antonyzhilin

fix tests: increase timeouts in HttpClient tests
  core/src/clients/http/client_test.cpp
Owners: @segoon, @bugaevskiy

fix server: fix HTTP server deadline propagation metrics
  core/functional_tests/basic_chaos/service.cpp
  core/functional_tests/basic_chaos/static_config.yaml
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/src/server/handlers/http_handler_base_statistics.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

cc encoding: fix "unknown no_sanitize_memory" GCC warning
  shared/include/userver/utils/encoding/tskv.hpp
Owners: @taxi/common-group-developers

feat logging: remove spdlog::sink
  core/src/logging/component.cpp
  core/src/logging/impl/base_sink.cpp
  core/src/logging/impl/base_sink.hpp
  core/src/logging/impl/buffered_file_sink.cpp
  core/src/logging/impl/buffered_file_sink.hpp
  core/src/logging/impl/buffered_file_sink_test.cpp
  core/src/logging/impl/fd_sink.cpp
  core/src/logging/impl/fd_sink.hpp
  core/src/logging/impl/fd_sink_test.cpp
  core/src/logging/impl/file_sink_test.cpp
  core/src/logging/impl/file_sinks_benchmark.cpp
  core/src/logging/impl/stderr_sinks_benchmark.cpp
  core/src/logging/impl/tcp_socket_sink_test.cpp
  core/src/logging/logger.cpp
  core/src/logging/logging_test.hpp
  core/src/logging/tp_logger.cpp
  core/src/logging/tp_logger.hpp
Owners: @taxi/common-group-developers

feat grpc: Add functional tests for metrics
  grpc/functional_tests/CMakeLists.txt
  grpc/functional_tests/metrics/CMakeLists.txt
  grpc/functional_tests/metrics/config_vars.yaml
  grpc/functional_tests/metrics/dynamic_config_fallback.json
  grpc/functional_tests/metrics/proto/samples/greeter.proto
  grpc/functional_tests/metrics/proto/ya.make
  grpc/functional_tests/metrics/service.cpp
  grpc/functional_tests/metrics/static_config.yaml
  grpc/functional_tests/metrics/tests/conftest.py
  grpc/functional_tests/metrics/tests/static/metrics_values.txt
  grpc/functional_tests/metrics/tests/test_metrics.py
  grpc/functional_tests/metrics/tests/ya.make
  grpc/functional_tests/metrics/ya.make
Owners: @antonyzhilin

feat fts: add prestable for drc-dra
  redis/testing/include/userver/storages/redis/mock_publish_waiter.hpp
Owners: @segoon

refactor engine: optimize TaskProcessor layout
  core/src/engine/task/task_benchmark.cpp
  core/src/engine/task/task_context.cpp
  core/src/engine/task/task_context.hpp
  core/src/engine/task/task_processor.cpp
  core/src/engine/task/task_processor.hpp
Owners: @bugaevskiy, @segoon

fix grpc: Enable tests for ya make
  grpc/functional_tests/CMakeLists.txt
  grpc/functional_tests/metrics/proto/ya.make
  grpc/functional_tests/metrics/tests/ya.make
  grpc/functional_tests/metrics/ya.make
Owners: @antonyzhilin

feat docs: Add grpc metrics to documentation
  scripts/docs/en/userver/service_monitor.md
Owners: @taxi/common-group-developers

feat logging: remove memory_order_relaxed in atomic level
  core/src/logging/impl/base_sink.cpp
Owners: @taxi/common-group-developers

fix server: format HTTP handler deadline expiration error properly
  core/functional_tests/basic_chaos/httpserver_handlers.hpp
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/src/server/handlers/http_handler_base.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

add clickhouse support
  clickhouse/CMakeLists.txt
  conan/test_package/CMakeLists.txt
  conan/test_package/conanfile.py
  conan/test_package/test_clickhouse.cpp
  conanfile.py
Owners: @itrofimow, @taxi/common-group-developers

feat libpq: use a safe alternative to strncpy
  postgresql/pq-extra/pq_workaround.c
Owners: @bugaevskiy

feat grpc: add client_qos
  core/include/userver/testsuite/grpc_control.hpp
  core/src/testsuite/grpc_control.cpp
  grpc/include/userver/ugrpc/client/client_factory.hpp
  grpc/include/userver/ugrpc/client/client_qos.hpp
  grpc/include/userver/ugrpc/client/impl/call_params.hpp
  grpc/include/userver/ugrpc/client/impl/client_data.hpp
  grpc/include/userver/ugrpc/client/impl/codegen_definitions.hpp
  grpc/include/userver/ugrpc/client/qos.hpp
  grpc/src/tests/deadline_metrics_test.cpp
  grpc/src/ugrpc/client/client_factory.cpp
  grpc/src/ugrpc/client/impl/call_params.cpp
  grpc/src/ugrpc/client/qos.cpp
  scripts/grpc/generator.py
  scripts/grpc/templates/client.usrv.cpp.jinja
Owners: @taxi/common-group-developers, @antonyzhilin

feat mongo: Added Get/Set batch size for Mongo Cursor
  mongo/include/userver/storages/mongo/cursor.hpp
  mongo/src/storages/mongo/cdriver/cursor_impl.cpp
  mongo/src/storages/mongo/cdriver/cursor_impl.hpp
  mongo/src/storages/mongo/cursor.cpp
  mongo/src/storages/mongo/cursor_impl.hpp
Owners: @bugaevskiy

feat docker: add boost coroutines2 + context
  scripts/docker/Dockerfile
Owners: @taxi/common-group-developers

feat userver: rate counter in grpc stats
  grpc/functional_tests/metrics/tests/static/metrics_values.txt
  grpc/functional_tests/metrics/tests/test_metrics.py
  grpc/include/userver/ugrpc/impl/statistics.hpp
  grpc/src/tests/statistics_test.cpp
  grpc/src/ugrpc/impl/statistics.cpp
Owners: @antonyzhilin

refactor logging: Move logging aliases from null_logger.hpp
  core/include/userver/logging/fwd.hpp
  core/include/userver/logging/logger.hpp
  core/include/userver/logging/null_logger.hpp
  core/src/components/run.cpp
  core/src/logging/log.cpp
  core/src/logging/log_helper.cpp
  core/src/logging/log_message_test.cpp
  core/src/tracing/tracing_benchmark.cpp
  grpc/include/userver/ugrpc/server/impl/call_params.hpp
  grpc/src/ugrpc/server/server_component.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin

bug mongo: fix CC calculations
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/linear_test.cpp
Owners: @taxi/common-group-developers

refactor logging: remove extra logs in tests
  core/include/userver/logging/log.hpp
  core/src/clients/http/client_test.cpp
  core/src/components/component_list_test.hpp
  core/src/components/run.cpp
  core/src/core_benchmark.cpp
  core/src/logging/component.cpp
  core/src/logging/dynamic_debug_test.cpp
  core/src/logging/impl/buffered_file_sink.cpp
  core/src/logging/impl/buffered_file_sink.hpp
  core/src/logging/impl/buffered_file_sink_test.cpp
  core/src/logging/impl/fd_sink.cpp
  core/src/logging/impl/fd_sink.hpp
  core/src/logging/impl/fd_sink_test.cpp
  core/src/logging/impl/stderr_sinks_benchmark.cpp
  core/src/logging/log.cpp
  core/src/logging/log_extra_stacktrace_benchmark.cpp
  core/src/logging/log_message_benchmark.cpp
  core/src/logging/log_message_test.cpp
  core/src/logging/log_test.cpp
  core/src/logging/logger.cpp
  core/src/logging/tp_logger_test.cpp
  core/src/tracing/tracing_benchmark.cpp
  core/testing/include/userver/utest/default_logger_fixture.hpp
  shared/include/userver/fs/blocking/c_file.hpp
  shared/src/fs/blocking/c_file.cpp
  shared/src/fs/blocking/c_file_test.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antoshkka

feat engine: optimize task counters
  core/include/userver/utils/statistics/rate.hpp
  core/include/userver/utils/statistics/rate_counter.hpp
  core/src/components/manager_controller_component.cpp
  core/src/engine/task/task_benchmark.cpp
  core/src/engine/task/task_context.cpp
  core/src/engine/task/task_counter.cpp
  core/src/engine/task/task_counter.hpp
  core/src/engine/task/task_processor.cpp
  core/src/engine/task/task_processor.hpp
  core/src/server/congestion_control/sensor.cpp
  core/src/utils/statistics/rate_test.cpp
  postgresql/src/storages/postgres/tests/pool_pgtest.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat conan: add clickhouse support
  clickhouse/CMakeLists.txt
  conan/test_package/CMakeLists.txt
  conan/test_package/conanfile.py
  conan/test_package/test_clickhouse.cpp
  conanfile.py
Owners: @itrofimow, @taxi/common-group-developers

fix server: report HTTP handler deadline propagation in logs
  core/src/server/handlers/http_handler_base.cpp
Owners: @bugaevskiy, @segoon

feat server: use string_view in TaskInheritedData
  core/include/userver/server/request/task_inherited_data.hpp
  core/src/server/handlers/http_handler_base.cpp
  grpc/include/userver/ugrpc/server/impl/service_worker_impl.hpp
  grpc/src/tests/deadline_test.cpp
  grpc/src/tests/deadline_tests_helpers.hpp
  grpc/src/ugrpc/server/impl/service_worker_impl.cpp
  mongo/src/storages/mongo/deadline_mongotest.cpp
  postgresql/include/userver/storages/postgres/cluster.hpp
  postgresql/include/userver/storages/postgres/options.hpp
  postgresql/src/storages/postgres/cluster.cpp
  postgresql/src/storages/postgres/default_command_controls.cpp
  postgresql/src/storages/postgres/default_command_controls.hpp
  postgresql/src/storages/postgres/detail/cluster_impl.cpp
  postgresql/src/storages/postgres/detail/cluster_impl.hpp
  postgresql/src/storages/postgres/options.cpp
Owners: @bugaevskiy, @segoon, @antonyzhilin

cc core: use boost::coroutine2 from contrib/
  core/CMakeLists.txt
  core/src/engine/coro/pool.hpp
  core/sys_coro/include/coroutines/coroutine.hpp
  core/uboost_coro/include/coroutines/coroutine.hpp
  scripts/docs/en/userver/tutorial/build.md
  uboost_coro/ya.make
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon, @antoshkka

feat core: better diagnostics for CurrentSpan()
  core/src/tracing/span.cpp
Owners: @segoon

feat redis: fix redis cluster autotopology statistics
  redis/src/storages/redis/impl/cluster_shard.cpp
  redis/src/storages/redis/impl/cluster_shard.hpp
  redis/src/storages/redis/impl/cluster_topology.cpp
Owners: @segoon

feat testsuite: add an optional dynamic_config_fallback_patch fixture
  core/functional_tests/basic_chaos/dynamic_config_fallback.json
  core/functional_tests/basic_chaos/tests/conftest.py
  dynamic_config_fallbacks.yaml
  postgresql/functional_tests/basic_chaos/conftest.py
  postgresql/functional_tests/basic_chaos/dynamic_config_fallback.json
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  redis/functional_tests/basic_chaos/dynamic_config_fallback.json
  redis/functional_tests/basic_chaos/tests/conftest.py
  redis/functional_tests/basic_chaos/tests/test_deadline_propagation.py
  redis/functional_tests/cluster_auto_topology/CMakeLists.txt
  redis/functional_tests/cluster_auto_topology/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology/redis_service.cpp
  redis/functional_tests/cluster_auto_topology/static_config.yaml
  redis/functional_tests/cluster_auto_topology/tests/conftest.py
  redis/functional_tests/cluster_auto_topology/tests/test_redis_cluster.py
  redis/functional_tests/integration_tests/dynamic_config_fallback.json
  redis/functional_tests/metrics/dynamic_config_fallback.json
  redis/functional_tests/metrics/tests/conftest.py
  redis/functional_tests/pubsub/dynamic_config_fallback.json
  redis/tests/dynamic_config_fallback.json
  samples/redis_service/dynamic_config_fallback.json
  testsuite/pytest_plugins/pytest_userver/plugins/dynamic_config.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

fix build: add lost boost dependencies
  scripts/docs/en/deps/ubuntu-18.04.md
  scripts/docs/en/deps/ubuntu-20.04.md
  scripts/docs/en/deps/ubuntu-21.10.md
  scripts/docs/en/deps/ubuntu-22.04.md
Owners: @taxi/common-group-developers

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
