Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

adapt rpm spec for build static libraries
  packages/rpm/userver.spec
Owners: @taxi/common-group-developers

adapt rpm spec for build static libraries
  packages/rpm/userver.spec
Owners: @taxi/common-group-developers

adapt rpm spec for build static libraries
  packages/rpm/userver.spec
Owners: @taxi/common-group-developers

feat core: make it possible to subscribe to multiple signals
  core/include/userver/engine/task/task_base.hpp
  core/include/userver/os_signals/component.hpp
  core/include/userver/os_signals/processor.hpp
  core/src/logging/component.cpp
  core/src/os_signals/component.cpp
  core/src/os_signals/processor.cpp
  core/src/os_signals/processor_test.cpp
  scripts/docs/en/userver/os_signals.md
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers

feat: add dynamic config management commands to uctl
  scripts/uctl/uctl.bash_completion.sh
  scripts/uctl/uctl.py
Owners: @taxi/common-group-developers

feat redis: improve pubsub tests and remove dangerous disable_subscription_queueing
  redis/functional_tests/pubsub/redis_service.cpp
  redis/functional_tests/pubsub/tests/conftest.py
  redis/functional_tests/pubsub/tests/test_redis_pubsub.py
  redis/include/userver/storages/redis/impl/base.hpp
  redis/include/userver/storages/redis/subscribe_client.hpp
  redis/include/userver/storages/redis/subscription_token.hpp
  redis/src/storages/redis/impl/cluster_shard.cpp
  redis/src/storages/redis/pubsub_redistest.cpp
  redis/src/storages/redis/subscribe_client_impl.cpp
  redis/src/storages/redis/subscription_queue.cpp
  redis/src/storages/redis/subscription_queue.hpp
  redis/src/storages/redis/subscription_token.cpp
  redis/src/storages/redis/subscription_token_impl.cpp
  redis/src/storages/redis/subscription_token_impl.hpp
  redis/src/storages/redis/test/subscribe_client_mock_test.cpp
  redis/testing/include/userver/storages/redis/mock_subscribe_client.hpp
  testsuite/pytest_plugins/pytest_userver/plugins/service_client.py
Owners: @segoon, @taxi/common-group-developers

feat grpc-client: move deadline propagation to middleware
  grpc/functional_tests/basic_chaos/main.cpp
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/functional_tests/metrics/service.cpp
  grpc/functional_tests/metrics/static_config.yaml
  grpc/include/userver/ugrpc/client/middlewares/deadline_propagation/component.hpp
  grpc/include/userver/ugrpc/client/middlewares/log/component.hpp
  grpc/include/userver/ugrpc/client/rpc.hpp
  grpc/include/userver/ugrpc/server/rpc.hpp
  grpc/src/tests/deadline_metrics_test.cpp
  grpc/src/tests/deadline_test.cpp
  grpc/src/tests/service_fixture_test.cpp
  grpc/src/ugrpc/client/impl/async_methods.cpp
  grpc/src/ugrpc/client/middlewares/deadline_propagation/component.cpp
  grpc/src/ugrpc/client/middlewares/deadline_propagation/middleware.cpp
  grpc/src/ugrpc/client/middlewares/deadline_propagation/middleware.hpp
  grpc/src/ugrpc/client/rpc.cpp
  grpc/src/ugrpc/server/middlewares/deadline_propagation/middleware.cpp
Owners: @antonyzhilin

refactor logging: optimize TagWriter
  core/include/userver/logging/impl/tag_writer.hpp
  core/src/logging/impl/tag_writer.cpp
  core/src/logging/log_message_benchmark.cpp
  core/src/tracing/time_storage.cpp
  shared/include/userver/compiler/impl/consteval.hpp
Owners: @taxi/common-group-developers, @segoon, @antoshkka

typo logging: add 'version' label to logger.dropped metric
  core/functional_tests/metrics/tests/static/metrics_values.txt
  core/src/logging/statistics/log_stats.cpp
Owners: @taxi/common-group-developers

feat userver: add baggage middlewares
  grpc/functional_tests/basic_chaos/main.cpp
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/functional_tests/metrics/service.cpp
  grpc/functional_tests/metrics/static_config.yaml
  grpc/include/userver/ugrpc/client/middlewares/baggage/component.hpp
  grpc/include/userver/ugrpc/server/middlewares/baggage/component.hpp
  grpc/src/tests/baggage_test.cpp
  grpc/src/ugrpc/client/middlewares/baggage/component.cpp
  grpc/src/ugrpc/client/middlewares/baggage/middleware.cpp
  grpc/src/ugrpc/client/middlewares/baggage/middleware.hpp
  grpc/src/ugrpc/impl/rpc_metadata_keys.cpp
  grpc/src/ugrpc/impl/rpc_metadata_keys.hpp
  grpc/src/ugrpc/server/middlewares/baggage/component.cpp
  grpc/src/ugrpc/server/middlewares/baggage/middleware.cpp
  grpc/src/ugrpc/server/middlewares/baggage/middleware.hpp
Owners: @antonyzhilin

feat cmake: make userver-core depend on userver-universal and deduplicate a lot of cmake code
  CMakeLists.txt
  clickhouse/CMakeLists.txt
  cmake/RequireDWCAS.cmake
  core/CMakeLists.txt
  core/src/logging/log_message_test.cpp
  scripts/docs/en/userver/tutorial/build.md
  universal/CMakeLists.txt
Owners: @taxi/common-group-developers, @itrofimow, @bugaevskiy

fix grpc: Check negative time in deadline
  grpc/src/ugrpc/server/middlewares/deadline_propagation/middleware.cpp
Owners: @antonyzhilin

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
