Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

feat tests: grpc tests
  grpc/functional_tests/basic_chaos/tests/conftest.py
  grpc/functional_tests/basic_chaos/tests/grpcserver/conftest.py
Owners: @antonyzhilin

feat tests: grpc tests
  grpc/functional_tests/basic_chaos/tests/grpcserver/conftest.py
Owners: @antonyzhilin

feat redis: add new waiter to help with unit tests
  redis/src/storages/redis/test/mock_publish_waiter_test.cpp
  redis/testing/include/userver/storages/redis/mock_publish_waiter.hpp
Owners: @segoon

refactor tracing: remove a usage of `RunStandalone` from SetOpentracingLogger
  core/src/tracing/opentracing.cpp
Owners: @segoon

cc userver: minor cleanups in userver experiments
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/utils/impl/userver_experiments.cpp
Owners: @taxi/common-group-developers

feat docker: update docker scripts and docs
  docker-compose.yml
  scripts/docker/Dockerfile
  scripts/docker/prepare_image.sh
  scripts/docs/en/userver/tutorial/build.md
  tools/docker/start-sample.sh
  tools/docker/userver-tests.sh
Owners: @taxi/common-group-developers

docs update
  grpc/functional_tests/basic_chaos/tests/grpcserver/conftest.py
Owners: @antonyzhilin

refactor cmake: use system FindProtobuf.cmake
  cmake/GrpcTargets.cmake
  cmake/SetupGoogleProtoApis.cmake
  external-deps/UserverProtobuf.yaml
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

bug logger: do not halt on bad source lines
  core/functional_tests/basic_chaos/dynamic_config_fallback.json
  core/functional_tests/basic_chaos/service.cpp
  core/functional_tests/basic_chaos/static_config.yaml
  core/src/components/logging_configurator.cpp
  dynamic_config_fallbacks.yaml
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

refactor engine: remove (internal) pitfalls around TaskContext::Sleep
  core/src/engine/impl/condition_variable_any.cpp
  core/src/engine/impl/future_state.cpp
  core/src/engine/impl/mutex_impl.hpp
  core/src/engine/io/fd_poller.cpp
  core/src/engine/semaphore.cpp
  core/src/engine/semaphore_test.cpp
  core/src/engine/single_consumer_event.cpp
  core/src/engine/sleep.cpp
  core/src/engine/task/task_context.cpp
  core/src/engine/task/task_context.hpp
  core/src/engine/wait_all_checked.cpp
  core/src/engine/wait_any.cpp
Owners: @bugaevskiy, @segoon

refactor cmake: use builtin FindProtobuf, which works more reliably
  cmake/GrpcTargets.cmake
  cmake/SetupGoogleProtoApis.cmake
  external-deps/UserverProtobuf.yaml
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

feat codegen: packetize u-ctl
  scripts/uctl
  scripts/uctl.bash_completion.sh
Owners: @taxi/common-group-developers

feat core: add GetScheme method to HttpRequest
  core/include/userver/server/http/http_request.hpp
  core/src/server/http/http_request.cpp
  core/src/server/http/http_request_impl.cpp
  core/src/server/http/http_request_impl.hpp
Owners: @bugaevskiy, @segoon

fix config: fix dynamic_config_fallbacks.yaml
  dynamic_config_fallbacks.yaml
Owners: @taxi/common-group-developers

update
  grpc/functional_tests/basic_chaos/tests/grpcserver/conftest.py
Owners: @antonyzhilin

feat mongo: fake-mode for CC
  core/include/userver/congestion_control/controllers/v2.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/linear_test.cpp
  core/src/congestion_control/controllers/v2.cpp
  mongo/functional_tests/metrics/tests/static/metrics_values.txt
  mongo/src/storages/mongo/component.cpp
Owners: @taxi/common-group-developers, @bugaevskiy

fix documentation: add pretty format
  core/include/userver/server/handlers/server_monitor.hpp
Owners: @bugaevskiy, @segoon

feat docs: add April 2023 changelog
  core/include/userver/baggage/baggage.hpp
  core/include/userver/baggage/baggage_manager.hpp
  core/include/userver/clients/dns/config.hpp
  core/include/userver/clients/dns/resolver.hpp
  core/include/userver/engine/subprocess/environment_variables.hpp
  core/include/userver/storages/secdist/component.hpp
  core/include/userver/storages/secdist/fwd.hpp
  core/include/userver/storages/secdist/provider.hpp
  core/include/userver/storages/secdist/provider_component.hpp
  core/include/userver/storages/secdist/secdist.hpp
  mysql/include/userver/storages/mysql/cluster.hpp
  scripts/docs/en/userver/roadmap_and_changelog.md
  scripts/postgres/pg_sql_codes.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat yaml_config: expose full formats::Value interface
  core/include/userver/yaml_config/yaml_config.hpp
  core/src/yaml_config/yaml_config.cpp
  shared/include/userver/utils/datetime/date.hpp
Owners: @antoshkka, @antonyzhilin, @taxi/common-group-developers

feat uctl: add tests
  core/functional_tests/uctl/CMakeLists.txt
  core/functional_tests/uctl/config_vars.yaml
  core/functional_tests/uctl/dynamic_config_fallback.json
  core/functional_tests/uctl/secure_data.json
  core/functional_tests/uctl/service.cpp
  core/functional_tests/uctl/static_config.yaml
  core/functional_tests/uctl/tests/conftest.py
  core/functional_tests/uctl/tests/test_uctl.py
  dynamic_config_fallbacks.yaml
  scripts/README.md
  scripts/uctl/uctl.bash_completion.sh
  scripts/uctl/uctl.py
Owners: @taxi/common-group-developers

feat mongo: skip small RPS in CC
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/linear_test.cpp
Owners: @taxi/common-group-developers

refactor utils: speed up compilation by adding utils/meta_light.hpp
  clickhouse/include/userver/storages/clickhouse/io/impl/validate.hpp
  core/include/userver/dump/common.hpp
  core/include/userver/dump/meta.hpp
  core/include/userver/utils/statistics/metric_tag_impl.hpp
  core/include/userver/utils/statistics/percentile_format_json.hpp
  core/testing/include/userver/utest/parameter_names.hpp
  mongo/include/userver/cache/mongo_cache_type_traits.hpp
  mysql/include/userver/storages/mysql/convert.hpp
  mysql/include/userver/storages/mysql/impl/io/extractor.hpp
  mysql/include/userver/storages/mysql/impl/io/insert_binder.hpp
  shared/include/userver/decimal64/decimal64.hpp
  shared/include/userver/formats/common/meta.hpp
  shared/include/userver/utils/from_string.hpp
  shared/include/userver/utils/get_if.hpp
  shared/include/userver/utils/meta.hpp
  shared/include/userver/utils/meta_light.hpp
Owners: @itrofimow, @segoon, @antonyzhilin, @taxi/common-group-developers, @bugaevskiy

cc engine: clean up the Task hierarchy
  .clang-tidy
  core/include/userver/engine/task/task.hpp
  core/include/userver/engine/task/task_base.hpp
  core/src/components/manager.cpp
  core/src/engine/impl/condition_variable_any.cpp
  core/src/engine/run_standalone.cpp
  core/src/engine/task/shared_task.cpp
  core/src/engine/task/task.cpp
  core/src/engine/task/task_base.cpp
  core/src/engine/task/task_context_test.cpp
  core/src/logging/log.cpp
  core/src/logging/tp_logger.cpp
  core/src/logging/tp_logger_test.cpp
  core/src/tracing/opentracing.cpp
  core/src/tracing/span.cpp
  core/src/utils/async.cpp
  core/src/utils/cpu_relax.cpp
  core/src/utils/impl/wait_token_storage.cpp
  mongo/src/storages/mongo/cdriver/wrappers.cpp
  rabbitmq/src/urabbitmq/impl/amqp_channel.cpp
  redis/src/storages/redis/impl/sentinel.cpp
  redis/src/storages/redis/impl/sentinel_impl.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon, @itrofimow

feat mongo: noise in CC
  core/src/congestion_control/controllers/linear.cpp
  mongo/src/storages/mongo/congestion_control/sensor.cpp
Owners: @taxi/common-group-developers, @bugaevskiy

feat grpc: uassert on unimplemented methods
  core/testing/include/userver/utest/utest.hpp
  grpc/src/tests/statistics_test.cpp
  grpc/src/tests/unimplemented_test.cpp
  scripts/grpc/templates/service.usrv.cpp.jinja
Owners: @taxi/common-group-developers, @antonyzhilin

bug uctl: fix bash completion 1st word
  scripts/uctl/uctl.bash_completion.sh
Owners: @taxi/common-group-developers

cc statistics: minor usability improvements for Rate
  core/include/userver/utils/statistics/metric_value.hpp
  core/include/userver/utils/statistics/pretty_format.hpp
  core/include/userver/utils/statistics/rate.hpp
  core/include/userver/utils/statistics/rate_counter.hpp
  core/src/utils/statistics/pretty_format.cpp
  core/src/utils/statistics/pretty_format_test.cpp
  core/src/utils/statistics/prometheus.cpp
  core/src/utils/statistics/prometheus_test.cpp
  core/src/utils/statistics/rate_counter.cpp
  core/src/utils/statistics/rate_counter_test.cpp
  mongo/src/storages/mongo/operations.cpp
  mongo/src/storages/mongo/operations_impl.hpp
  shared/include/userver/utils/impl/transparent_hash.hpp
  shared/include/userver/utils/str_icase.hpp
  shared/src/utils/impl/transparent_hash_test.cpp
  testsuite/requirements.txt
Owners: @taxi/common-group-developers, @bugaevskiy

fix scripts: fix uctl script & ya-makes
  core/functional_tests/CMakeLists.txt
  core/functional_tests/uctl/tests/test_uctl.py
  scripts/uctl/uctl.py
Owners: @taxi/common-group-developers

feat uclt: add access-top
  scripts/uctl/uctl.bash_completion.sh
  scripts/uctl/uctl.py
Owners: @taxi/common-group-developers

cc tests: fix warnings in periodic_task_test.cpp
  core/src/utils/periodic_task_test.cpp
Owners: @taxi/common-group-developers

Fix Archlinux install deps manual
  scripts/docs/en/deps/arch.md
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

Fix parse Arch AUR dependencies
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

fix tests: add gate deps in grpc channel
  grpc/functional_tests/basic_chaos/tests/conftest.py
  grpc/functional_tests/basic_chaos/tests/grpcserver/conftest.py
Owners: @antonyzhilin

refactor cmake: use system gRPCConfig.cmake
  cmake/GrpcTargets.cmake
  cmake/SetupAmqpCPP.cmake
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

Fix
  .github/workflows/docker.yaml
  cmake/GrpcTargets.cmake
  cmake/SetupGrpc.cmake
  grpc/CMakeLists.txt
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers, @antonyzhilin

Fix
  cmake/SetupGrpc.cmake
Owners: @taxi/common-group-developers

Fix
  cmake/GrpcTargets.cmake
  cmake/SetupGrpc.cmake
Owners: @taxi/common-group-developers

fix config: split location to path and line
  core/src/components/logging_configurator.cpp
Owners: @segoon, @bugaevskiy

Fix
  cmake/GrpcTargets.cmake
  cmake/SetupGrpc.cmake
Owners: @taxi/common-group-developers

cc core: silence some compilation warnings
  core/CMakeLists.txt
  scripts/uctl/uctl.py
  universal/CMakeLists.txt
Owners: @taxi/common-group-developers, @bugaevskiy
