Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

feat cmake: pull gRPC package version from CMake
  .github/workflows/docker.yaml
  cmake/GrpcTargets.cmake
  cmake/SetupAmqpCPP.cmake
  cmake/SetupGrpc.cmake
  grpc/CMakeLists.txt
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers, @antonyzhilin

feat core: add phdr_cache to avoid locking in unwinding
  CMakeLists.txt
  core/CMakeLists.txt
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/components/manager.cpp
  core/src/components/run.cpp
  core/src/engine/task/exception_hacks.cpp
  core/src/engine/task/exception_hacks.hpp
  core/src/engine/task/task_test.cpp
  core/src/utils/impl/userver_experiments.cpp
  core/testing/main/main.cpp
  core/testing/src/utest/gtest_hooks.cpp
  core/testing/src/utest/gtest_hooks.hpp
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat http: add bounded queue for stream
  core/functional_tests/basic_chaos/httpclient_handlers.hpp
  core/include/userver/clients/http/request.hpp
  core/include/userver/clients/http/streamed_response.hpp
  core/include/userver/concurrent/queue.hpp
  core/include/userver/concurrent/queue_helpers.hpp
  core/include/userver/server/http/http_response.hpp
  core/include/userver/server/http/http_response_body_stream.hpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/src/server/handlers/http_handler_base.cpp
  core/src/server/http/http_response_body_stream.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat docs: archlinux install dependencies manual
  scripts/docs/en/deps/arch.md
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

fix slru: delete moving an object in a return statement
  shared/include/userver/cache/impl/slru.hpp
Owners: @taxi/common-group-developers

feat build: link with libasan statically under gcc
  cmake/Sanitizers.cmake
Owners: @taxi/common-group-developers

feat mongo: add CC config
  core/include/userver/congestion_control/controllers/v2.hpp
  core/src/congestion_control/controllers/v2.cpp
  mongo/functional_tests/basic_chaos/dynamic_config_fallback.json
  mongo/functional_tests/metrics/dynamic_config_fallback.json
  mongo/library.yaml
  mongo/src/storages/mongo/dynamic_config.cpp
  mongo/src/storages/mongo/dynamic_config.hpp
  mongo/src/storages/mongo/pool_impl.cpp
  mongo/src/storages/mongo/pool_impl.hpp
  mongo/tests/dynamic_config_fallback.json
  samples/mongo-support/dynamic_config_fallback.json
  samples/mongo_service/dynamic_config_fallback.json
Owners: @taxi/common-group-developers, @bugaevskiy

feat logging: don't perform fsync on Flush
  core/src/logging/impl/buffered_file_sink.cpp
  shared/include/userver/fs/blocking/c_file.hpp
  shared/src/fs/blocking/c_file.cpp
Owners: @taxi/common-group-developers, @antoshkka

feat build: link with asan statically under gcc
  cmake/Sanitizers.cmake
Owners: @taxi/common-group-developers

Raise clickhouse-cpp version to 2.4
  cmake/SetupClickhouseCPP.cmake
  scripts/docker/prepare_image.sh
Owners: @taxi/common-group-developers

feat testsuite: IsTestpointEnabled acceleration
  core/include/userver/testsuite/testpoint.hpp
  core/src/testsuite/testpoint.cpp
  shared/include/userver/formats/parse/common_containers.hpp
  shared/include/userver/utils/impl/transparent_hash.hpp
Owners: @taxi/common-group-developers

Intermediate changes
  scripts/generate_dynamic_config_fallback.py
Owners: @taxi/common-group-developers

feat grpc: add chaos client happy path
  cmake/GrpcTargets.cmake
  cmake/SetupCAres.cmake
  cmake/SetupGrpc.cmake
  core/CMakeLists.txt
  grpc/functional_tests/CMakeLists.txt
  grpc/functional_tests/basic_chaos/CMakeLists.txt
  grpc/functional_tests/basic_chaos/client.hpp
  grpc/functional_tests/basic_chaos/handler.hpp
  grpc/functional_tests/basic_chaos/main.cpp
  grpc/functional_tests/basic_chaos/service.hpp
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/functional_tests/basic_chaos/tests-grpcclient/conftest.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/service.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_grpclient.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/conftest.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_grpcserver.py
  grpc/functional_tests/basic_chaos/tests/conftest.py
  grpc/include/userver/ugrpc/client/queue_holder.hpp
Owners: @taxi/common-group-developers, @antonyzhilin

feat utils: log on UASSERT
  shared/src/utils/assert.cpp
Owners: @taxi/common-group-developers

Add USERVER_FEATURE_SEARCH_FOR_SYSTEM_GRPC_CMAKE cmake flag
  cmake/SetupGrpc.cmake
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

Add cstdlib include to concurrent/variable.hpp
  core/include/userver/concurrent/variable.hpp
Owners: @segoon, @bugaevskiy

Add include <cstdint> to clickhouse for fix build with GCC13
  clickhouse/include/userver/storages/clickhouse/io/columns/column_includes.hpp
Owners: @itrofimow

Fix build with GCC 13.1.1
  core/src/engine/ev/data_pipe_to_ev.hpp
  shared/include/userver/formats/yaml/iterator.hpp
  shared/include/userver/utils/encoding/hex.hpp
  shared/include/userver/utils/str_icase.hpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers

Add more include for build fixes
  core/include/userver/testsuite/periodic_task_control.hpp
  core/src/engine/ev/watcher.cpp
  core/src/engine/ev/watcher/io_watcher.hpp
  shared/src/utils/from_string_benchmark.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

Add include <system_error> to timer_watcher.hpp
  core/src/engine/ev/watcher/timer_watcher.hpp
Owners: @bugaevskiy, @segoon

feat grpc: middlewares
  grpc/functional_tests/basic_chaos/main.cpp
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/include/userver/ugrpc/server/impl/service_worker.hpp
  grpc/include/userver/ugrpc/server/impl/service_worker_impl.hpp
  grpc/include/userver/ugrpc/server/log_middleware/component.hpp
  grpc/include/userver/ugrpc/server/middleware_base.hpp
  grpc/include/userver/ugrpc/server/rpc.hpp
  grpc/include/userver/ugrpc/server/server.hpp
  grpc/include/userver/ugrpc/server/service_component_base.hpp
  grpc/src/tests/cancel_test.cpp
  grpc/src/tests/channels_test.cpp
  grpc/src/tests/service_fixture_test.cpp
  grpc/src/ugrpc/server/log_middleware/component.cpp
  grpc/src/ugrpc/server/log_middleware/middleware.cpp
  grpc/src/ugrpc/server/log_middleware/middleware.hpp
  grpc/src/ugrpc/server/middleware_base.cpp
  grpc/src/ugrpc/server/server.cpp
  grpc/src/ugrpc/server/service_component_base.cpp
Owners: @antonyzhilin

feat mpsc queue: delete deprecated methods and alias
  core/include/userver/concurrent/mpsc_queue.hpp
  core/include/userver/engine/mpsc_queue.hpp
  core/src/engine/io/poller.cpp
  core/src/engine/io/poller.hpp
  mongo/src/storages/mongo/cdriver/async_stream_poller.cpp
  mongo/src/storages/mongo/cdriver/async_stream_poller.hpp
  redis/src/storages/redis/subscription_queue.hpp
Owners: @segoon, @bugaevskiy

fix build: fix build with GCC 13.1.1
  clickhouse/include/userver/storages/clickhouse/io/columns/column_includes.hpp
  core/include/userver/concurrent/variable.hpp
  core/include/userver/testsuite/periodic_task_control.hpp
  core/src/engine/ev/data_pipe_to_ev.hpp
  core/src/engine/ev/watcher.cpp
  core/src/engine/ev/watcher/io_watcher.hpp
  core/src/engine/ev/watcher/timer_watcher.hpp
  shared/include/userver/formats/yaml/iterator.hpp
  shared/include/userver/utils/encoding/hex.hpp
  shared/include/userver/utils/str_icase.hpp
  shared/src/utils/from_string_benchmark.cpp
Owners: @itrofimow, @segoon, @bugaevskiy, @taxi/common-group-developers

feat userver: raise clickhouse-cpp version to 2.4
  cmake/SetupClickhouseCPP.cmake
  scripts/docker/prepare_image.sh
Owners: @taxi/common-group-developers

feat grpc: implement health service
  cmake/SetupGoogleProtoApis.cmake
  dynamic_config_fallbacks.yaml
  grpc/CMakeLists.txt
  grpc/handlers/CMakeLists.txt
  grpc/handlers/functional_tests/CMakeLists.txt
  grpc/handlers/functional_tests/basic_chaos/CMakeLists.txt
  grpc/handlers/functional_tests/basic_chaos/dynamic_config_fallback.json
  grpc/handlers/functional_tests/basic_chaos/service.cpp
  grpc/handlers/functional_tests/basic_chaos/static_config.yaml
  grpc/handlers/functional_tests/basic_chaos/tests/conftest.py
  grpc/handlers/functional_tests/basic_chaos/tests/grpcserver/conftest.py
  grpc/handlers/functional_tests/basic_chaos/tests/grpcserver/test_grpcserver.py
  grpc/handlers/include/userver/ugrpc/server/health/component.hpp
  grpc/handlers/include/userver/ugrpc/server/health/health.hpp
  grpc/handlers/proto/healthchecking/healthchecking.proto
  grpc/handlers/src/ugrpc/server/health/health.cpp
  grpc/handlers/src/ugrpc/server/health/test_test.cpp
Owners: @taxi/common-group-developers, @antonyzhilin

fix ci: fix pyi for old grpc version
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

fix shared: fix SetCurrentThreadLowPriorityScheduling
  shared/src/utils/threads.cpp
Owners: @taxi/common-group-developers

feat grpc: implement tvm2 component
  grpc/include/userver/ugrpc/server/rpc.hpp
Owners: @antonyzhilin

test
  core/include/userver/engine/io/socket.hpp
Owners: @bugaevskiy, @segoon

update
  cmake/SetupGrpc.cmake
Owners: @taxi/common-group-developers

update
  testsuite/requirements-grpc.txt
Owners: @taxi/common-group-developers

update
  cmake/SetupGrpc.cmake
Owners: @taxi/common-group-developers

update
  testsuite/requirements-grpc.txt
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
  scripts/grpc/requirements_old.txt
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  scripts/grpc/requirements_old.txt
Owners: @taxi/common-group-developers
