Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

fix 7
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

more docs
  postgresql/pq-extra/CMakeLists.txt
  scripts/docs/en/userver/tutorial/build.md
Owners: @bugaevskiy, @taxi/common-group-developers

more doc fixes
  postgresql/pq-extra/CMakeLists.txt
Owners: @bugaevskiy

more docs
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

feat build: more diagnostics and docs on PostgreSQL patching
  .github/workflows/ci.yml
  Makefile
  external-deps/PostgreSQLInternal.yaml
  postgresql/pq-extra/CMakeLists.txt
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers, @bugaevskiy

feat core: make userver experiments usable outside of core
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/components/manager_config.cpp
  core/src/components/manager_config.hpp
  core/src/components/run.cpp
  core/src/utils/impl/userver_experiments.cpp
  core/src/utils/impl/userver_experiments_test.cpp
  core/src/utils/userver_experiment.cpp
  core/src/utils/userver_experiment.hpp
  shared/include/userver/utils/not_null.hpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

bug logs: close initial log file to allow removal of initial log
  core/include/userver/components/manager.hpp
  core/src/components/minimal_server_component_list_test.cpp
  core/src/components/run.cpp
Owners: @segoon, @bugaevskiy

feat AnyStorage: honour alignment
  shared/include/userver/utils/any_storage.hpp
  shared/src/utils/any_storage_test.cpp
Owners: @taxi/common-group-developers

feat httpclient: plugin system
  .clang-tidy
  core/include/userver/clients/http/client.hpp
  core/include/userver/clients/http/component.hpp
  core/include/userver/clients/http/plugin.hpp
  core/include/userver/clients/http/plugin_component.hpp
  core/include/userver/clients/http/plugins/yandex_tracing/component.hpp
  core/include/userver/clients/http/request.hpp
  core/include/userver/clients/http/request_tracing_editor.hpp
  core/src/clients/http/client.cpp
  core/src/clients/http/component.cpp
  core/src/clients/http/plugin.cpp
  core/src/clients/http/plugins/yandex_tracing/component.cpp
  core/src/clients/http/plugins/yandex_tracing/plugin.cpp
  core/src/clients/http/plugins/yandex_tracing/plugin.hpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/testing/src/utest/http_client.cpp
  tools/httpclient/httpclient_perf.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat postgres: add tests on distlocks
  postgresql/functional_tests/metrics/service.cpp
  postgresql/functional_tests/metrics/static_config.yaml
  postgresql/functional_tests/metrics/tests/static/metrics_values.txt
  postgresql/functional_tests/metrics/tests/test_metrics.py
Owners: @bugaevskiy

feat mongo: add test on distlock metrics
  mongo/functional_tests/metrics/mongo_service.cpp
  mongo/functional_tests/metrics/static_config.yaml
  mongo/functional_tests/metrics/tests/static/metrics_values.txt
  mongo/functional_tests/metrics/tests/test_metrics.py
Owners: @bugaevskiy

feat documentation: environment variables
  core/include/userver/engine/subprocess/environment_variables.hpp
Owners: @bugaevskiy, @segoon

docs: update mockserver docs
  scripts/docs/en/userver/functional_testing.md
Owners: @taxi/common-group-developers

feat span_builder: add trace id getter
  core/include/userver/tracing/span_builder.hpp
  core/src/tracing/span_builder.cpp
Owners: @segoon

feat logger: fix the tests on init-logger
  core/src/components/minimal_server_component_list_test.cpp
  core/src/logging/component.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

feat postgres: implemented connlimit-mode: auto
  core/src/server/handlers/dynamic_debug_log.cpp
  core/src/yaml_config/schema.cpp
  postgresql/functional_tests/CMakeLists.txt
  postgresql/functional_tests/connlimit_max/CMakeLists.txt
  postgresql/functional_tests/connlimit_max/conftest.py
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  postgresql/functional_tests/connlimit_max/postgres_service.cpp
  postgresql/functional_tests/connlimit_max/schemas/postgresql/key_value.sql
  postgresql/functional_tests/connlimit_max/static_config.yaml
  postgresql/functional_tests/connlimit_max/tests/test_connlimit.py
  postgresql/include/userver/storages/postgres/cluster.hpp
  postgresql/include/userver/storages/postgres/component.hpp
  postgresql/include/userver/storages/postgres/options.hpp
  postgresql/src/storages/postgres/cluster.cpp
  postgresql/src/storages/postgres/component.cpp
  postgresql/src/storages/postgres/connlimit_watchdog.cpp
  postgresql/src/storages/postgres/connlimit_watchdog.hpp
  postgresql/src/storages/postgres/detail/cluster_impl.cpp
  postgresql/src/storages/postgres/detail/cluster_impl.hpp
  postgresql/src/storages/postgres/tests/cluster_pgtest.cpp
Owners: @bugaevskiy, @segoon, @antoshkka, @antonyzhilin

bug functional_tests: Fix chaos proxy and enable tests
  core/functional_tests/basic_chaos/schemas/postgresql/key_value.sql
  core/functional_tests/basic_chaos/tests/httpclient/test_httpclient_stream.py
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/functional_tests/basic_chaos/tests/resolver/test_resolver.py
  postgresql/functional_tests/basic_chaos/tests-portals/test_portals.py
  postgresql/functional_tests/basic_chaos/tests-transactions/test_transactions.py
  redis/functional_tests/basic_chaos/tests/test_redis.py
  testsuite/pytest_plugins/pytest_userver/chaos.py
  testsuite/tests/test_tcp_chaos.py
  testsuite/tests/test_udp_chaos.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat postgres: work on connlimit-mode: auto
  dynamic_config_fallbacks.yaml
  postgresql/functional_tests/basic_chaos/dynamic_config_fallback.json
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  postgresql/functional_tests/connlimit_max/static_config.yaml
  postgresql/functional_tests/connlimit_max/tests/test_connlimit.py
  postgresql/functional_tests/metrics/dynamic_config_fallback.json
  postgresql/include/userver/storages/postgres/cluster.hpp
  postgresql/include/userver/storages/postgres/component.hpp
  postgresql/library.yaml
  postgresql/src/storages/postgres/cluster.cpp
  postgresql/src/storages/postgres/component.cpp
  postgresql/src/storages/postgres/connlimit_watchdog.cpp
  postgresql/src/storages/postgres/connlimit_watchdog.hpp
  postgresql/src/storages/postgres/detail/cluster_impl.cpp
  postgresql/src/storages/postgres/detail/cluster_impl.hpp
  postgresql/src/storages/postgres/postgres_config.cpp
  postgresql/src/storages/postgres/postgres_config.hpp
  postgresql/src/storages/postgres/tests/cluster_pgtest.cpp
  samples/postgres-support/dynamic_config_fallback.json
  samples/postgres_auth/dynamic_config_fallback.json
  samples/postgres_service/dynamic_config_fallback.json
  scripts/docs/en/schemas/dynamic_configs.md
Owners: @taxi/common-group-developers, @bugaevskiy

feat docs: update mockserver docs
  scripts/docs/en/userver/functional_testing.md
Owners: @taxi/common-group-developers

feat core: use new metrics writer for expirable LRU caches
  core/include/userver/cache/expirable_lru_cache.hpp
  core/include/userver/cache/lru_cache_component_base.hpp
  core/include/userver/cache/lru_cache_statistics.hpp
  core/src/cache/lru_cache_component_base.cpp
  core/src/cache/lru_cache_statistics.cpp
Owners: @segoon

rework tests, remove unused
  conan/test_package/conanfile.py
  conan/test_package/test_core.cpp
  conanfile.py
Owners: @taxi/common-group-developers

add missing components, add rabbit, support python3-dev
  cmake/UserverTestsuite.cmake
  conanfile.py
Owners: @taxi/common-group-developers

fix conanfile + update test_package
  conan/test_package/CMakeLists.txt
  conan/test_package/hello.cpp
  conan/test_package/hello.hpp
  conan/test_package/test_core.cpp
  conan/test_package/test_ubench.cpp
  conan/test_package/test_utest.cpp
  conanfile.py
Owners: @taxi/common-group-developers

enable testsuite python scripts, enable mongo component
  conanfile.py
Owners: @taxi/common-group-developers

conan v2 migration init
  CMakeLists.txt
  conan/test_package/CMakeLists.txt
  conan/test_package/conanfile.py
  conanfile.py
  core/CMakeLists.txt
  grpc/CMakeLists.txt
  universal/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin, @bugaevskiy

fix recipe and update universal test_package
  cmake/GrpcConan.cmake
  cmake/GrpcTargets.cmake
  conan/test_package/CMakeLists.txt
  conan/test_package/CMakeUserPresets.json
  conan/test_package/conanfile.py
  conan/test_package/json2yaml/CMakeLists.txt
  conan/test_package/json2yaml/json2yaml.cpp
  conan/test_package/test_universal.cpp
  conanfile.py
Owners: @taxi/common-group-developers

fix exporting headers
  conanfile.py
Owners: @taxi/common-group-developers

copy consolidation
  conanfile.py
Owners: @taxi/common-group-developers

fix grpc, remove unused
  conan/test_package/test_grpc.cpp
  conan/test_package/test_rabbit.cpp
Owners: @taxi/common-group-developers

fix cmake scripts
  conanfile.py
Owners: @taxi/common-group-developers

change naming
  cmake/GrpcTargets.cmake
  conanfile.py
Owners: @taxi/common-group-developers

grpcTargets + copy fixes
  conanfile.py
Owners: @taxi/common-group-developers

universal component test
  conan/test_package/CMakeLists.txt
  conanfile.py
Owners: @taxi/common-group-developers

update test_package
  conan/test_package/CMakeLists.txt
  conan/test_package/json2yaml/CMakeLists.txt
  conan/test_package/json2yaml/json2yaml.cpp
  conan/test_package/testsuite-support/CMakeLists.txt
  conan/test_package/testsuite-support/config_vars.yaml
  conan/test_package/testsuite-support/dynamic_config_fallback.json
  conan/test_package/testsuite-support/src/dynamic_config.cpp
  conan/test_package/testsuite-support/src/dynamic_config.hpp
  conan/test_package/testsuite-support/src/logcapture.cpp
  conan/test_package/testsuite-support/src/logcapture.hpp
  conan/test_package/testsuite-support/src/main.cpp
  conan/test_package/testsuite-support/src/metrics.cpp
  conan/test_package/testsuite-support/src/metrics.hpp
  conan/test_package/testsuite-support/src/now.cpp
  conan/test_package/testsuite-support/src/now.hpp
  conan/test_package/testsuite-support/src/tasks.cpp
  conan/test_package/testsuite-support/src/tasks.hpp
  conan/test_package/testsuite-support/src/testpoint.cpp
  conan/test_package/testsuite-support/src/testpoint.hpp
  conan/test_package/testsuite-support/static_config.yaml
  conan/test_package/testsuite-support/tests/conftest.py
  conan/test_package/testsuite-support/tests/test_dynamic_config.py
  conan/test_package/testsuite-support/tests/test_logcapture.py
  conan/test_package/testsuite-support/tests/test_metrics.py
  conan/test_package/testsuite-support/tests/test_mocked_time.py
  conan/test_package/testsuite-support/tests/test_ping.py
  conan/test_package/testsuite-support/tests/test_tasks.py
  conan/test_package/testsuite-support/tests/test_testpoint.py
Owners: @taxi/common-group-developers

small fix
  conanfile.py
Owners: @taxi/common-group-developers

cmake: usage add_grpc_library
  cmake/GrpcConan.cmake
  conan/test_package/CMakeLists.txt
  conan/test_package/proto/greeter.proto
  conan/test_package/test_grpc.cpp
  conanfile.py
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

add more test components
  conan/test_package/CMakeLists.txt
  conan/test_package/test_grpc.cpp
  conan/test_package/test_mongo.cpp
  conan/test_package/test_postgresql.cpp
  conan/test_package/test_rabbit.cpp
  conan/test_package/test_rabbitmq.cpp
  conan/test_package/test_redis.cpp
Owners: @taxi/common-group-developers

fix after rebase
  conanfile.py
Owners: @taxi/common-group-developers

format, remove outdated
  conan/test_package/conanfile.py
  conanfile.py
Owners: @taxi/common-group-developers

pip packages for testsuite
  .github/workflows/ci-conan.yml
Owners: @taxi/common-group-developers

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
