Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

feat statistics: add a lifetime check of the data used by the WriterFunc
  core/include/userver/utils/statistics/entry.hpp
  core/include/userver/utils/statistics/storage.hpp
  core/src/utils/statistics/entry.cpp
  core/src/utils/statistics/storage.cpp
  core/src/utils/statistics/writer_test.cpp
Owners: @taxi/common-group-developers

feat http-client: Disable GET-requests with body
  core/include/userver/clients/http/request.hpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/request.cpp
Owners: @segoon, @bugaevskiy

Update scripts/docs/en/userver/tutorial/build.md
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

bug redis: add punsubscribe to command types list
  redis/src/storages/redis/impl/redis_stats.cpp
Owners: @segoon

feat userver: add udl for yaml and json
  mongo/include/userver/formats/bson/value.hpp
  mongo/src/formats/bson/value.cpp
  mongo/src/formats/bson/value_test.cpp
  shared/include/userver/formats/json/value.hpp
  shared/include/userver/formats/yaml/value.hpp
  shared/include/userver/utest/literals.hpp
  shared/src/formats/json/value.cpp
  shared/src/formats/json/value_test.cpp
  shared/src/formats/yaml/value.cpp
  shared/src/formats/yaml/value_test.cpp
Owners: @bugaevskiy, @taxi/common-group-developers

feat userver: add support non-movable objects in lru-cache
  shared/include/userver/cache/impl/lru.hpp
  shared/src/cache/lru_map_test.cpp
Owners: @taxi/common-group-developers

feat userver: fix lru size
  shared/include/userver/cache/impl/lru.hpp
  shared/src/cache/lru_map_test.cpp
Owners: @taxi/common-group-developers

fix formats: serialize json to string manually
  core/src/formats/json/stack_overflow_test.cpp
  shared/include/userver/formats/json/serialize.hpp
  shared/include/userver/formats/json/value.hpp
  shared/src/formats/json/impl/accept.cpp
  shared/src/formats/json/impl/accept.hpp
  shared/src/formats/json/serialize.cpp
  shared/src/formats/json/serialize_test.cpp
  shared/src/formats/json/string_builder.cpp
Owners: @taxi/common-group-developers

feat docs: clarify docs
  core/include/userver/concurrent/async_event_channel.hpp
  core/include/userver/concurrent/async_event_source.hpp
  mongo/include/userver/storages/mongo/write_result.hpp
  scripts/docs/en/userver/component_system.md
  scripts/docs/en/userver/task_processors_guide.md
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

bug core: disable subscription correctness checks in Release builds
  core/include/userver/concurrent/async_event_channel.hpp
  core/src/concurrent/async_event_channel_test.cpp
  core/src/utils/statistics/storage.cpp
  core/src/utils/statistics/writer_test.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

fix logging: update close functional sync
  core/src/logging/impl/tcp_socket_sink.cpp
  core/src/logging/impl/tcp_socket_sink.hpp
  core/src/logging/impl/tcp_socket_sink_test.cpp
Owners: @taxi/common-group-developers

feat distlock: Add logs on key duplication
  core/src/dist_lock/impl/locker.cpp
  mongo/src/storages/mongo/dist_lock_strategy.cpp
Owners: @taxi/common-group-developers, @bugaevskiy

feat resolver: chaos tests
  core/functional_tests/basic_chaos/resolver_handlers.hpp
  core/functional_tests/basic_chaos/service.cpp
  core/functional_tests/basic_chaos/static_config.yaml
  core/functional_tests/basic_chaos/tests/conftest.py
  core/functional_tests/basic_chaos/tests/httpclient/conftest.py
  core/functional_tests/basic_chaos/tests/httpserver/conftest.py
  core/functional_tests/basic_chaos/tests/resolver/conftest.py
  core/functional_tests/basic_chaos/tests/resolver/test_resolver.py
Owners: @taxi/common-group-developers

feat redis: add ya make config for benchmark
  redis/CMakeLists.txt
  redis/benchmark/redis_benchmark.cpp
  redis/benchmark/redis_fixture.cpp
  redis/benchmark/redis_fixture.hpp
  redis/tools/redisclient/CMakeLists.txt
  redis/tools/redisclient/redisclient_perf.cpp
Owners: @segoon

feat rabbitmq: fix incorrect SingleWaitingTaskMutex usage
  rabbitmq/src/urabbitmq/impl/amqp_connection.cpp
  rabbitmq/src/urabbitmq/impl/amqp_connection.hpp
Owners: @itrofimow

fix json: change stack size for testing
  core/src/formats/json/stack_overflow_test.cpp
Owners: @taxi/common-group-developers

fix core: race condition on PeriodicTask::name_
  core/include/userver/cache/cache_update_trait.hpp
  core/include/userver/clients/dns/resolver.hpp
  core/include/userver/storages/secdist/secdist.hpp
  core/include/userver/utils/periodic_task.hpp
  core/src/utils/periodic_task.cpp
Owners: @segoon, @taxi/common-group-developers

feat core: tracing manager support, default implementation, customisable library
  core/functional_tests/metrics/service.cpp
  core/include/userver/clients/http/client.hpp
  core/include/userver/clients/http/request.hpp
  core/include/userver/clients/http/request_tracing_editor.hpp
  core/include/userver/components/common_server_component_list.hpp
  core/include/userver/components/minimal_component_list.hpp
  core/include/userver/server/handlers/handler_config.hpp
  core/include/userver/server/handlers/http_handler_base.hpp
  core/include/userver/tracing/manager.hpp
  core/include/userver/tracing/manager_component.hpp
  core/include/userver/tracing/span.hpp
  core/include/userver/tracing/span_builder.hpp
  core/include/userver/utils/text.hpp
  core/src/clients/http/client.cpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/client_utils_test.hpp
  core/src/clients/http/component.cpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/src/clients/http/request_tracing_editor.cpp
  core/src/clients/http/tracing_manager_test.cpp
  core/src/components/common_server_component_list.cpp
  core/src/components/minimal_component_list.cpp
  core/src/server/handlers/http_handler_base.cpp
  core/src/tracing/manager.cpp
  core/src/tracing/manager_component.cpp
  core/src/tracing/span.cpp
  core/src/tracing/span_builder.cpp
  core/src/tracing/span_impl.hpp
  core/src/utils/text.cpp
  core/src/utils/text_test.cpp
  shared/include/userver/http/common_headers.hpp
  shared/include/userver/utils/expected.hpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

fix: bloom filter
  core/src/cache/cache_policy_types_test.hpp
  shared/include/userver/cache/impl/hash.hpp
  shared/include/userver/cache/impl/sketch/aged.hpp
  shared/include/userver/cache/impl/sketch/bloom.hpp
  shared/include/userver/cache/impl/sketch/tools.hpp
  shared/include/userver/cache/impl/tiny_lfu.hpp
  shared/src/cache/impl/sketch/sketch_aged_test.cpp
  shared/src/cache/impl/sketch/sketch_test.cpp
  shared/src/cache/lru_benchmark.cpp
  shared/src/cache/lru_real_data_benchmark.cpp
  shared/src/cache/window_tiny_lfu_test.cpp
Owners: @segoon, @taxi/common-group-developers

feat userver: implement bson<->json conversion
  mongo/include/userver/formats/bson/serialize.hpp
  mongo/src/formats/bson/conversion_stack.hpp
  mongo/src/formats/bson/json_conversion_test.cpp
  mongo/src/formats/bson/serialize.cpp
Owners: @bugaevskiy

Update ci.yml
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

Update ci.yml
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

feat engine: implement CancellableSemaphore
  core/include/userver/concurrent/impl/semaphore_capacity_control.hpp
  core/include/userver/concurrent/mpsc_queue.hpp
  core/include/userver/concurrent/queue.hpp
  core/include/userver/engine/semaphore.hpp
  core/src/concurrent/impl/semaphore_capacity_control.cpp
  core/src/engine/semaphore.cpp
  core/src/engine/semaphore_test.cpp
Owners: @segoon, @bugaevskiy

feat build: drop dependency on external-deps/Hiredis in internal builds
  redis/library.yaml
Owners: @segoon

fix logs: change the trimming of file paths
  core/include/userver/logging/log_filepath.hpp
Owners: @taxi/common-group-developers

feat build: drop mongo related external-deps from internal builds
  external-deps/bson-1.0.yaml
  external-deps/mongoc-1.0.yaml
  mongo/library.yaml
Owners: @taxi/common-group-developers, @bugaevskiy

feat build: drop internal c-ares package usage
  external-deps/yandex-c-ares.yaml
Owners: @taxi/common-group-developers

feat core, clickhouse, rabbitmq: introduce drivers::ConnectionPoolBase and use that in clickhouse and rabbitmq
  clickhouse/src/storages/clickhouse/impl/pool_impl.cpp
  clickhouse/src/storages/clickhouse/impl/pool_impl.hpp
  core/include/userver/drivers/drivers.hpp
  core/include/userver/drivers/impl/connection_pool_base.hpp
  core/src/drivers/impl/connection_pool_base.cpp
  core/src/drivers/impl/connection_pool_base_test.cpp
  rabbitmq/src/urabbitmq/connection_pool.cpp
  rabbitmq/src/urabbitmq/connection_pool.hpp
  rabbitmq/src/urabbitmq/statistics/connection_statistics.cpp
  rabbitmq/src/urabbitmq/statistics/connection_statistics.hpp
Owners: @itrofimow, @taxi/common-group-developers

feat docs: edit docs about Docker
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

feat docs: fix multiple typos all over the sources
  grpc/src/tests/cancel_test.cpp
  mongo/functional_tests/basic_chaos/tests/test_mongo.py
  mongo/include/userver/storages/mongo/component.hpp
  mongo/include/userver/storages/mongo/dist_lock_component_base.hpp
  mongo/src/formats/bson/json_conversion_test.cpp
  mongo/src/storages/mongo/dist_lock_strategy.cpp
  redis/src/storages/redis/impl/shard.cpp
  redis/testing/include/userver/storages/redis/mock_client_base.hpp
  samples/tcp_service/tcp_service.cpp
  samples/testsuite-support/src/logcapture.cpp
  samples/testsuite-support/tests/test_logcapture.py
  samples/testsuite-support/tests/test_testpoint.py
  scripts/docs/en/index.md
  scripts/docs/en/schemas/dynamic_configs.md
  scripts/docs/en/userver/caches.md
  scripts/docs/en/userver/functional_testing.md
  scripts/docs/en/userver/logging.md
  scripts/docs/en/userver/roadmap_and_changelog.md
  scripts/docs/en/userver/tutorial/config_service.md
Owners: @antonyzhilin, @bugaevskiy, @segoon, @taxi/common-group-developers

fix clang-tidy: delete template parameter
  core/include/userver/cache/expirable_lru_cache.hpp
  core/include/userver/cache/lru_cache_component_base.hpp
  core/include/userver/cache/nway_lru_cache.hpp
  core/include/userver/concurrent/mutex_set.hpp
  core/src/cache/expirable_lru_cache_test.cpp
  core/src/cache/nway_lru_cache_test.cpp
  core/src/concurrent/mutex_set_benchmark.cpp
  shared/include/userver/cache/impl/base.hpp
  shared/include/userver/cache/lfu_map.hpp
  shared/include/userver/cache/lru_map.hpp
  shared/include/userver/cache/lru_set.hpp
  shared/include/userver/formats/parse/common_containers.hpp
  shared/src/cache/slru_test.cpp
  shared/src/cache/tiny_lfu_map_test.cpp
  shared/src/cache/window_tiny_lfu_test.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

feat docs: fix a lot of typos in PostgreSQL driver
  postgresql/include/userver/storages/postgres/exceptions.hpp
  postgresql/include/userver/storages/postgres/io/supported_types.hpp
  postgresql/include/userver/storages/postgres/io/traits.hpp
  postgresql/include/userver/storages/postgres/options.hpp
  postgresql/include/userver/storages/postgres/parameter_store.hpp
  postgresql/include/userver/storages/postgres/result_set.hpp
  postgresql/include/userver/storages/postgres/transaction.hpp
  postgresql/pq-extra/pq_workaround.h
  postgresql/src/storages/postgres/database.cpp
  postgresql/src/storages/postgres/detail/connection_impl.cpp
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.cpp
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.hpp
  postgresql/src/storages/postgres/detail/pool.cpp
  postgresql/src/storages/postgres/io/numeric_data.cpp
  postgresql/src/storages/postgres/tests/composite_types_pgtest.cpp
  postgresql/src/storages/postgres/tests/connection_pgtest.cpp
  postgresql/src/storages/postgres/tests/interval_pgtest.cpp
  postgresql/src/storages/postgres/tests/typed_rows_pgtest.cpp
Owners: @bugaevskiy

delete files and change ci
  .github/workflows/ci.yml
  .gitlab-ci.yml
  bench.sh
  core/src/yaml_config/schema.cpp
  plots.py
Owners: @taxi/common-group-developers, @antoshkka, @antonyzhilin

Revert "feat docs: edit docs about Docker"
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

feat docs: extended build instructions for macOS
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

feat clickhouse: add some chaos tests
  clickhouse/functional_tests/CMakeLists.txt
  clickhouse/functional_tests/basic_chaos/CMakeLists.txt
  clickhouse/functional_tests/basic_chaos/clickhouse_service.cpp
  clickhouse/functional_tests/basic_chaos/dynamic_config_fallback.json
  clickhouse/functional_tests/basic_chaos/schemas/clickhouse/key-value-database.sql
  clickhouse/functional_tests/basic_chaos/secure_data.json
  clickhouse/functional_tests/basic_chaos/static_config.yaml
  clickhouse/functional_tests/basic_chaos/tests/conftest.py
  clickhouse/functional_tests/basic_chaos/tests/test_clickhouse.py
Owners: @itrofimow

feat build: drop PostgreSQL external-deps in internal builds
  postgresql/library.yaml
Owners: @bugaevskiy

feat docs: edit docs about Docker
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

test co-wuthored notes
  README.md
Owners: @taxi/common-group-developers

feat build: drop external-deps on Proto and Grpc in internal builds
  external-deps/Grpc.yaml
  external-deps/Protobuf.yaml
Owners: @taxi/common-group-developers

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
