Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

feat cache: rename Update(UpdateType) to UpdateSyncDebug
  core/functional_tests/cache_update/service.cpp
  core/include/userver/cache/cache_update_trait.hpp
  core/include/userver/cache/caching_component_base.hpp
  core/src/cache/cache_update_trait.cpp
  core/src/cache/cache_update_trait_impl.cpp
  core/src/cache/cache_update_trait_impl.hpp
  core/src/cache/cache_update_trait_test.cpp
  core/src/cache/caching_component_base.cpp
  core/src/testsuite/cache_control.cpp
Owners: @taxi/common-group-developers, @segoon

cc grpc: simplify tests
  dynamic_config_fallbacks.yaml
  grpc/handlers/functional_tests/CMakeLists.txt
  grpc/handlers/functional_tests/basic_chaos/tests/grpcserver/conftest.py
  grpc/handlers/functional_tests/basic_chaos/tests/grpcserver/test_grpcserver.py
  grpc/handlers/functional_tests/health/CMakeLists.txt
  grpc/handlers/functional_tests/health/dynamic_config_fallback.json
  grpc/handlers/functional_tests/health/service.cpp
  grpc/handlers/functional_tests/health/static_config.yaml
  grpc/handlers/functional_tests/health/tests/conftest.py
  grpc/handlers/functional_tests/health/tests/grpcserver/test_grpcserver.py
Owners: @taxi/common-group-developers, @antonyzhilin

update
  .github/workflows/ci.yml
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

bug core: allow controlling spinning in TaskProcessor task queue
  core/include/userver/components/manager_controller_component.hpp
  core/src/clients/http/client_test.cpp
  core/src/components/manager_config.cpp
  core/src/engine/task/task_processor.cpp
  core/src/engine/task/task_processor.hpp
  core/src/engine/task/task_processor_config.cpp
  core/src/engine/task/task_processor_config.hpp
  core/src/engine/task/task_queue.cpp
  core/src/engine/task/task_queue.hpp
Owners: @segoon, @bugaevskiy

update
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update
  cmake/GrpcTargets.cmake
  scripts/grpc/set_env.sh
Owners: @taxi/common-group-developers

feat docs: add pretty format
  clickhouse/functional_tests/metrics/tests/static/metrics_values.txt
  clickhouse/functional_tests/metrics/tests/test_clickhouse.py
  core/functional_tests/metrics/tests/static/metrics_values.txt
  core/functional_tests/metrics/tests/test_metrics.py
  mongo/functional_tests/metrics/tests/static/metrics_values.txt
  mongo/functional_tests/metrics/tests/test_metrics.py
  postgresql/functional_tests/metrics/tests/static/metrics_values.txt
  postgresql/functional_tests/metrics/tests/test_metrics.py
  rabbitmq/functional_tests/metrics/tests/static/metrics_values.txt
  rabbitmq/functional_tests/metrics/tests/test_metrics.py
  redis/functional_tests/metrics/tests/static/metrics_values.txt
  redis/functional_tests/metrics/tests/test_metrics.py
Owners: @itrofimow, @taxi/common-group-developers, @bugaevskiy, @segoon

update
  scripts/grpc/set_env.sh
Owners: @taxi/common-group-developers

update a
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

update a
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

feat grpc: force drop SSL in testsuite
  core/include/userver/testsuite/grpc_control.hpp
  core/include/userver/testsuite/testsuite_support.hpp
  core/src/testsuite/grpc_control.cpp
  core/src/testsuite/testsuite_support.cpp
  grpc/functional_tests/basic_chaos/main.cpp
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/include/userver/ugrpc/client/client_factory.hpp
  grpc/src/tests/cancel_test.cpp
  grpc/src/tests/channels_test.cpp
  grpc/src/tests/client_factory_test.cpp
  grpc/src/tests/service_config_test.cpp
  grpc/src/tests/service_fixture_test.cpp
  grpc/src/tests/service_fixture_test.hpp
  grpc/src/ugrpc/client/client_factory.cpp
  grpc/src/ugrpc/client/client_factory_component.cpp
  samples/grpc_service/grpc_service.cpp
  samples/grpc_service/static_config.yaml
Owners: @taxi/common-group-developers, @antonyzhilin

update b
  .github/workflows/ci.yml
  cmake/GrpcTargets.cmake
  testsuite/SetupUserverTestsuiteEnv.cmake
  testsuite/requirements-grpc_old.txt
Owners: @taxi/common-group-developers

update b
  CMakeLists.txt
  cmake/GrpcTargets.cmake
  cmake/SetupProtobuf.cmake
  testsuite/requirements-grpc_old.txt
Owners: @taxi/common-group-developers

feat piglet: do not expose internal codegen docs
  README.yamake.md
Owners: @taxi/common-group-developers

update c
  testsuite/requirements-grpc_old.txt
Owners: @taxi/common-group-developers

feat docs: add info about funtional tests debug
  scripts/docs/en/userver/functional_testing.md
Owners: @taxi/common-group-developers

update d
  .github/workflows/ci.yml
  core/include/userver/engine/io/socket.hpp
  scripts/grpc/requirements_old.txt
  scripts/grpc/set_env.sh
  testsuite/SetupUserverTestsuiteEnv.cmake
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

update d
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update e
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

fix metrics: add regex for ipv6
  redis/functional_tests/metrics/tests/static/metrics_values.txt
  redis/functional_tests/metrics/tests/test_metrics.py
Owners: @segoon

feat clients: allow setting CONNECT_TO
  core/include/userver/clients/http/request.hpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/src/curl-ev/easy.hpp
Owners: @segoon, @bugaevskiy

feat shared: add tests on setting low priority
  shared/src/utils/threads_test.cpp
Owners: @taxi/common-group-developers

fix ci: fix python for old version protobuf
  CMakeLists.txt
  cmake/GrpcTargets.cmake
  cmake/SetupProtobuf.cmake
  scripts/grpc/requirements_old.txt
  testsuite/SetupUserverTestsuiteEnv.cmake
  testsuite/requirements-grpc_old.txt
Owners: @taxi/common-group-developers

feat grpc: handler log level
  grpc/include/userver/ugrpc/server/log_middleware/component.hpp
  grpc/src/ugrpc/server/log_middleware/component.cpp
  grpc/src/ugrpc/server/log_middleware/middleware.cpp
  grpc/src/ugrpc/server/log_middleware/middleware.hpp
Owners: @antonyzhilin

feat grpc: default server middlewares
  grpc/handlers/functional_tests/health/static_config.yaml
  grpc/include/userver/ugrpc/server/service_component_base.hpp
  grpc/src/ugrpc/server/service_component_base.cpp
  samples/grpc_service/static_config.yaml
  scripts/docs/en/userver/grpc.md
Owners: @antonyzhilin, @taxi/common-group-developers

test
  core/include/userver/engine/io/socket.hpp
Owners: @bugaevskiy, @segoon

cc cmake: minor grpc fixes
  cmake/GrpcTargets.cmake
  scripts/grpc/requirements-old.txt
  scripts/grpc/requirements_old.txt
  testsuite/SetupUserverTestsuiteEnv.cmake
  testsuite/requirements-grpc-old.txt
Owners: @taxi/common-group-developers

bug server: fix UB when capturing task-inherited request in a Detach-ed task
  core/include/userver/server/http/http_response.hpp
  core/include/userver/server/request/response_base.hpp
  core/src/server/http/http_request_parser.cpp
  core/src/server/http/http_response.cpp
  core/src/server/http/http_response_test.cpp
  core/src/server/net/connection.cpp
  core/src/server/net/connection.hpp
  core/src/server/request/response_base.cpp
Owners: @bugaevskiy, @segoon

test
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

test
  cmake/GrpcTargets.cmake
  conanfile.py
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

test
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update e
  conanfile.py
Owners: @taxi/common-group-developers

update e
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

update e
  cmake/GrpcTargets.cmake
  conan/test_package/CMakeUserPresets.json
  core/include/userver/engine/io/socket.hpp
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon, @antonyzhilin
