Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

feat docs: add description of some metrics
  clickhouse/functional_tests/metrics/tests/static/metrics_values.txt
  clickhouse/functional_tests/metrics/tests/test_clickhouse.py
  core/functional_tests/metrics/tests/static/metrics_values.txt
  core/functional_tests/metrics/tests/test_metrics.py
  mongo/functional_tests/metrics/tests/static/metrics_values.txt
  mongo/functional_tests/metrics/tests/test_metrics.py
  postgresql/functional_tests/metrics/tests/static/metrics_values.txt
  postgresql/functional_tests/metrics/tests/test_metrics.py
  rabbitmq/functional_tests/metrics/tests/test_metrics.py
  redis/functional_tests/metrics/tests/static/metrics_values.txt
  redis/functional_tests/metrics/tests/test_metrics.py
  scripts/docs/en/userver/service_monitor.md
Owners: @itrofimow, @taxi/common-group-developers, @bugaevskiy, @segoon

cc tests: fix build on old gtest
  core/src/server/http/http_response_test.cpp
Owners: @bugaevskiy, @segoon

bug pg: avoid infinite PQXgetResult
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.cpp
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.hpp
  postgresql/src/storages/postgres/experiments.cpp
Owners: @bugaevskiy

feat docs: add badges to Readme.md
  README.md
Owners: @taxi/common-group-developers

feat core: cleanup ComponentList, improve diagnostics and hide internals in src directory
  clickhouse/functional_tests/basic_chaos/clickhouse_service.cpp
  clickhouse/functional_tests/metrics/service.cpp
  core/include/userver/components/component_list.hpp
  core/src/components/component_context_impl.cpp
  core/src/components/component_list.cpp
  core/src/components/manager.cpp
  core/src/components/manager.hpp
  core/src/components/manager_controller_component.cpp
  core/src/components/run.cpp
  core/src/os_signals/component.cpp
  mongo/functional_tests/basic_chaos/mongo_service.cpp
  mongo/functional_tests/metrics/mongo_service.cpp
  mysql/functional_tests/basic_chaos/mysql_service.cpp
  postgresql/functional_tests/basic_chaos/postgres_service.cpp
  redis/functional_tests/basic_chaos/redis_service.cpp
  redis/functional_tests/integration_tests/redis_service.cpp
  redis/functional_tests/metrics/redis_service.cpp
  redis/functional_tests/pubsub/redis_service.cpp
  samples/clickhouse_service/clickhouse_service.cpp
  samples/flatbuf_service/flatbuf_service.cpp
  samples/mongo_service/mongo_service.cpp
  samples/mysql_service/mysql_service.cpp
  samples/postgres_service/postgres_service.cpp
  samples/redis_service/redis_service.cpp
  samples/tcp_full_duplex_service/tcp_full_duplex_service.cpp
Owners: @itrofimow, @segoon, @bugaevskiy, @taxi/common-group-developers

feat docs: change logo size in Readme.md
  README.md
Owners: @taxi/common-group-developers

cc benchmarks: don't use ia32_pause on non-x86
  core/src/concurrent/impl/intrusive_mpsc_queue_benchmark.cpp
Owners: @segoon, @bugaevskiy

feat json: use std::string_view in ValueBuilder
  shared/include/userver/formats/json/value.hpp
  shared/include/userver/formats/json/value_builder.hpp
  shared/src/formats/json/value.cpp
  shared/src/formats/json/value_builder.cpp
  shared/src/formats/json/value_builder_test.cpp
Owners: @taxi/common-group-developers

feat grpc: client generation based on client.yaml
  grpc/include/userver/ugrpc/client/simple_client_component.hpp
  grpc/src/ugrpc/client/simple_client_component.cpp
Owners: @antonyzhilin

feat core: mlock(2) debug info
  core/include/userver/components/manager_controller_component.hpp
  core/src/components/manager.cpp
  core/src/components/manager_config.cpp
  core/src/components/manager_config.hpp
  core/src/engine/task/exception_hacks.cpp
  core/src/engine/task/exception_hacks.hpp
  core/testing/src/utest/gtest_hooks.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

feat userver: add method to RateCounter
  core/include/userver/utils/statistics/rate_counter.hpp
  core/src/utils/statistics/rate_counter_test.cpp
Owners: @taxi/common-group-developers

feat redis: add dynamic config for redis-pubsub metrics
  dynamic_config_fallbacks.yaml
  redis/functional_tests/basic_chaos/dynamic_config_fallback.json
  redis/functional_tests/integration_tests/dynamic_config_fallback.json
  redis/functional_tests/metrics/dynamic_config_fallback.json
  redis/include/userver/storages/redis/component.hpp
  redis/include/userver/storages/redis/impl/base.hpp
  redis/include/userver/storages/redis/redis_config.hpp
  redis/library.yaml
  redis/src/storages/redis/component.cpp
  redis/src/storages/redis/impl/subscribe_sentinel.cpp
  redis/src/storages/redis/impl/subscribe_sentinel.hpp
  redis/src/storages/redis/impl/subscription_statistics.cpp
  redis/src/storages/redis/impl/subscription_statistics.hpp
  redis/src/storages/redis/redis_config.cpp
  redis/tests/dynamic_config_fallback.json
  samples/redis_service/dynamic_config_fallback.json
  scripts/docs/en/schemas/dynamic_configs.md
Owners: @taxi/common-group-developers, @segoon

bug core: fix double-lock on ConditionVariable cancellation
  core/src/engine/condition_variable_test.cpp
  core/src/engine/impl/condition_variable_any.cpp
Owners: @bugaevskiy, @segoon

cc redis: add missing includes in client_impl.hpp
  redis/src/storages/redis/client_impl.hpp
Owners: @segoon

feat logging: optimize EncodeTskv
  core/src/logging/log_helper.cpp
  core/src/logging/log_helper_impl.cpp
  core/src/logging/log_helper_impl.hpp
  core/src/logging/log_message_benchmark.cpp
  shared/include/userver/utils/encoding/tskv.hpp
  shared/src/utils/encoding/tskv_test.cpp
Owners: @taxi/common-group-developers

cc engine: UASSERT that lock owns mutex in ConditionVariable
  core/src/engine/impl/condition_variable_any.cpp
Owners: @bugaevskiy, @segoon

fix utils: support fmt in SmallString for newer fmt
  shared/include/userver/utils/small_string_serialization.hpp
Owners: @taxi/common-group-developers

external grpc
  core/CMakeLists.txt
  grpc/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin

bug cache: detect invalid implementations of CacheUpdateTrait::Update
  core/include/userver/cache/cache_statistics.hpp
  core/include/userver/cache/cache_update_trait.hpp
  core/src/cache/cache_statistics.cpp
  core/src/cache/cache_update_trait_impl.cpp
  core/src/cache/cache_update_trait_impl.hpp
  core/src/cache/cache_update_trait_test.cpp
  core/src/testsuite/cache_control_test.cpp
  postgresql/src/storages/postgres/dist_lock_component_base.cpp
Owners: @segoon, @taxi/common-group-developers, @bugaevskiy

fix functional-tests: Fix call exception handling
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
Owners: @taxi/common-group-developers

feat grpc: client middlewares
  grpc/functional_tests/basic_chaos/client.hpp
  grpc/functional_tests/basic_chaos/main.cpp
  grpc/functional_tests/basic_chaos/static_config.yaml
  grpc/include/userver/ugrpc/client/client_factory.hpp
  grpc/include/userver/ugrpc/client/client_factory_component.hpp
  grpc/include/userver/ugrpc/client/impl/async_methods.hpp
  grpc/include/userver/ugrpc/client/impl/client_data.hpp
  grpc/include/userver/ugrpc/client/impl/codegen_declarations.hpp
  grpc/include/userver/ugrpc/client/log_middleware/component.hpp
  grpc/include/userver/ugrpc/client/log_middleware/middleware.hpp
  grpc/include/userver/ugrpc/client/middleware_base.hpp
  grpc/include/userver/ugrpc/client/rpc.hpp
  grpc/include/userver/ugrpc/client/simple_client_component.hpp
  grpc/src/tests/cancel_test.cpp
  grpc/src/tests/channels_test.cpp
  grpc/src/tests/client_factory_test.cpp
  grpc/src/tests/middlewares_test.cpp
  grpc/src/tests/service_config_test.cpp
  grpc/src/tests/service_fixture_test.cpp
  grpc/src/tests/service_fixture_test.hpp
  grpc/src/ugrpc/client/client_factory.cpp
  grpc/src/ugrpc/client/client_factory_component.cpp
  grpc/src/ugrpc/client/impl/async_methods.cpp
  grpc/src/ugrpc/client/log_middleware/component.cpp
  grpc/src/ugrpc/client/log_middleware/middleware.cpp
  grpc/src/ugrpc/client/middleware_base.cpp
  grpc/src/ugrpc/client/rpc.cpp
  samples/grpc_service/grpc_service.cpp
  scripts/grpc/templates/client.usrv.cpp.jinja
  scripts/grpc/templates/client.usrv.hpp.jinja
Owners: @antonyzhilin, @taxi/common-group-developers

feat mongo: add more logs for deadline propagation
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
Owners: @bugaevskiy

feat mongo: add more logs for deadline propagation
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
Owners: @bugaevskiy

refactor formats: remove std container includes from common_containers.hpp
  postgresql/include/userver/cache/base_postgres_cache.hpp
  rabbitmq/src/urabbitmq/client_settings.cpp
  shared/include/userver/formats/parse/boost_flat_containers.hpp
  shared/include/userver/formats/parse/common_containers.hpp
  shared/include/userver/formats/serialize/common_containers.hpp
  shared/include/userver/utils/meta.hpp
  shared/src/formats/common/conversion_test.hpp
  shared/src/formats/common/value_test.hpp
  shared/src/formats/json/parse_test.cpp
Owners: @bugaevskiy, @itrofimow, @taxi/common-group-developers

feat docs: customize 404 page
  Makefile
  scripts/docs/doxygen.conf
  scripts/docs/en/userver/404.md
Owners: @taxi/common-group-developers

feat redis: use redis service discovery
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/engine/ev/watcher/periodic_watcher.cpp
  core/src/engine/ev/watcher/periodic_watcher.hpp
  core/src/utils/impl/userver_experiments.cpp
  redis/functional_tests/basic_chaos/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology_test/CMakeLists.txt
  redis/functional_tests/cluster_auto_topology_test/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology_test/redis_service.cpp
  redis/functional_tests/cluster_auto_topology_test/static_config.yaml
  redis/functional_tests/cluster_auto_topology_test/tests/conftest.py
  redis/functional_tests/cluster_auto_topology_test/tests/test_redis_cluster.py
  redis/functional_tests/integration_tests/dynamic_config_fallback.json
  redis/functional_tests/integration_tests/tests/test_redis_cluster.py
  redis/functional_tests/metrics/dynamic_config_fallback.json
  redis/include/userver/storages/redis/redis_config.hpp
  redis/library.yaml
  redis/src/storages/redis/component.cpp
  redis/src/storages/redis/dynamic_config.cpp
  redis/src/storages/redis/dynamic_config.hpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.cpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.hpp
  redis/src/storages/redis/impl/cluster_shard.cpp
  redis/src/storages/redis/impl/cluster_shard.hpp
  redis/src/storages/redis/impl/cluster_topology.cpp
  redis/src/storages/redis/impl/cluster_topology.hpp
  redis/src/storages/redis/impl/redis.cpp
  redis/src/storages/redis/impl/redis.hpp
  redis/src/storages/redis/impl/sentinel.cpp
  redis/src/storages/redis/impl/sentinel.hpp
  redis/src/storages/redis/impl/sentinel_impl.cpp
  redis/src/storages/redis/impl/sentinel_impl.hpp
  redis/src/storages/redis/impl/sentinel_impl_switcher.cpp
  redis/src/storages/redis/impl/sentinel_impl_switcher.hpp
  redis/src/storages/redis/impl/sentinel_query.hpp
  redis/src/storages/redis/impl/shard.cpp
  samples/redis_service/dynamic_config_fallback.json
  testsuite/pytest_plugins/pytest_userver/plugins/redis_cluster.py
  testsuite/pytest_plugins/pytest_userver/plugins/service_client.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

cc utils: fix gcc 'always_inline' warnings
  shared/include/userver/utils/encoding/tskv.hpp
Owners: @taxi/common-group-developers

feat docs: add FAQ on typical problems
  core/include/userver/dist_lock/dist_locked_task.hpp
  postgresql/functional_tests/metrics/tests/static/metrics_values.txt
  scripts/docs/en/index.md
  scripts/docs/en/userver/caches.md
  scripts/docs/en/userver/faq.md
  scripts/docs/en/userver/functional_testing.md
  scripts/docs/en/userver/intro.md
  scripts/docs/en/userver/periodics.md
  scripts/docs/en/userver/roadmap_and_changelog.md
  scripts/docs/en/userver/task_processors_guide.md
  scripts/docs/en/userver/testing.md
  scripts/docs/en/userver/tutorial/hello_service.md
Owners: @taxi/common-group-developers, @bugaevskiy

refactor dynamic_config: don't copy ValueDict key on access
  core/include/userver/dynamic_config/value.hpp
  core/src/dynamic_config/value.cpp
  shared/include/userver/utils/impl/transparent_hash.hpp
  shared/src/utils/impl/transparent_hash_test.cpp
Owners: @segoon, @antonyzhilin, @taxi/common-group-developers

bug docs: fix paths on 404 page
  Makefile
Owners: @taxi/common-group-developers

Revert commit rXXXXXX: redis autotopology
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/engine/ev/watcher/periodic_watcher.cpp
  core/src/engine/ev/watcher/periodic_watcher.hpp
  core/src/utils/impl/userver_experiments.cpp
  redis/functional_tests/basic_chaos/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology_test/CMakeLists.txt
  redis/functional_tests/cluster_auto_topology_test/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology_test/redis_service.cpp
  redis/functional_tests/cluster_auto_topology_test/static_config.yaml
  redis/functional_tests/cluster_auto_topology_test/tests/conftest.py
  redis/functional_tests/cluster_auto_topology_test/tests/test_redis_cluster.py
  redis/functional_tests/integration_tests/dynamic_config_fallback.json
  redis/functional_tests/integration_tests/tests/test_redis_cluster.py
  redis/functional_tests/metrics/dynamic_config_fallback.json
  redis/include/userver/storages/redis/redis_config.hpp
  redis/library.yaml
  redis/src/storages/redis/component.cpp
  redis/src/storages/redis/dynamic_config.cpp
  redis/src/storages/redis/dynamic_config.hpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.cpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.hpp
  redis/src/storages/redis/impl/cluster_shard.cpp
  redis/src/storages/redis/impl/cluster_shard.hpp
  redis/src/storages/redis/impl/cluster_topology.cpp
  redis/src/storages/redis/impl/cluster_topology.hpp
  redis/src/storages/redis/impl/redis.cpp
  redis/src/storages/redis/impl/redis.hpp
  redis/src/storages/redis/impl/sentinel.cpp
  redis/src/storages/redis/impl/sentinel.hpp
  redis/src/storages/redis/impl/sentinel_impl.cpp
  redis/src/storages/redis/impl/sentinel_impl.hpp
  redis/src/storages/redis/impl/sentinel_impl_switcher.cpp
  redis/src/storages/redis/impl/sentinel_impl_switcher.hpp
  redis/src/storages/redis/impl/sentinel_query.hpp
  redis/src/storages/redis/impl/shard.cpp
  redis/tests/dynamic_config_fallback.json
  samples/redis_service/dynamic_config_fallback.json
  testsuite/pytest_plugins/pytest_userver/plugins/redis_cluster.py
  testsuite/pytest_plugins/pytest_userver/plugins/service_client.py
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

fix pg: work around an issue with libpq in pipeline mode
  postgresql/src/storages/postgres/detail/connection.cpp
  postgresql/src/storages/postgres/detail/connection.hpp
  postgresql/src/storages/postgres/detail/connection_impl.cpp
  postgresql/src/storages/postgres/detail/connection_impl.hpp
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.cpp
  postgresql/src/storages/postgres/detail/pg_connection_wrapper.hpp
  postgresql/src/storages/postgres/detail/pool.cpp
Owners: @bugaevskiy

fix dump: add dumps to the static config schema of LruCacheComponentBase
  core/include/userver/dump/dumper.hpp
  core/include/userver/yaml_config/fwd.hpp
  core/src/cache/caching_component_base.cpp
  core/src/cache/lru_cache_component_base.cpp
  core/src/dump/dumper.cpp
  core/src/dump/dumper_test.cpp
Owners: @segoon, @antonyzhilin, @antoshkka

feat docs: add information on possible deploy envs
  Makefile
  scripts/docs/en/index.md
  scripts/docs/en/userver/beta_state.md
  scripts/docs/en/userver/deploy_env.md
  scripts/docs/en/userver/tutorial/build.md
  scripts/docs/en/userver/tutorial/production_service.md
Owners: @taxi/common-group-developers

bug tests: disable flapping WriteConcern timeout test
  mongo/src/storages/mongo/options_mongotest.cpp
Owners: @bugaevskiy

fix build: fix exception-specification that differs from the implicit exception-specification for HeaderMap iterators under old gcc
  shared/src/http/header_map.cpp
Owners: @segoon, @bugaevskiy

i love gcc!
  shared/src/http/header_map.cpp
Owners: @segoon, @bugaevskiy

gcc-8 is the best
  core/src/server/http/http_response_benchmark.cpp
  core/testing/src/utest/http_server_mock_test.cpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers

bump
  core/src/server/http/http_response_benchmark.cpp
Owners: @bugaevskiy, @segoon

fix build: fix HeaderMap build under old gcc
  core/src/server/http/http_response_benchmark.cpp
  core/testing/src/utest/http_server_mock_test.cpp
  shared/src/http/header_map.cpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
