Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

Add missing RECURSEs
  core/functional_tests/cache_update/tests/ya.make
  core/functional_tests/cache_update/ya.make
Owners: @taxi/common-group-developers

feat statistics: printing Snapshot for utests
  core/src/utils/statistics/snapshot_test.cpp
  core/testing/include/userver/utils/statistics/testing.hpp
  core/testing/src/utils/statistics/testing.cpp
Owners: @taxi/common-group-developers

bug uctl: fix start
  core/functional_tests/uctl/tests/test_uctl.py
  scripts/uctl/uctl.py
  testsuite/requirements.txt
Owners: @taxi/common-group-developers

feat pg: limit number of pending connects
  postgresql/src/storages/postgres/detail/pool.cpp
  postgresql/src/storages/postgres/detail/pool.hpp
  postgresql/src/storages/postgres/tests/pool_pgtest.cpp
Owners: @bugaevskiy

feat testsuite: publish more static config plugins
  core/functional_tests/basic_chaos/tests/conftest.py
  core/include/userver/utils/statistics/json.hpp
  postgresql/functional_tests/basic_chaos/conftest.py
  testsuite/pytest_plugins/pytest_userver/plugins/config.py
Owners: @taxi/common-group-developers, @bugaevskiy

feat shared: make header_map::MapEntry a complete type to fix compilation breakage with some stdlib implementations
  shared/include/userver/http/header_map.hpp
  shared/src/http/header_map/map.hpp
Owners: @segoon, @bugaevskiy

feat mongo: use vector write function rather than using an intermediate buffering
  core/include/userver/engine/io/socket.hpp
  core/src/engine/io/socket.cpp
  mongo/src/storages/mongo/cdriver/async_stream.cpp
Owners: @bugaevskiy, @segoon

feat grpc: add chaos tests
  grpc/functional_tests/basic_chaos/client.hpp
  grpc/functional_tests/basic_chaos/handler.hpp
  grpc/functional_tests/basic_chaos/service.hpp
  grpc/functional_tests/basic_chaos/tests-grpcclient/conftest.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/requests_client.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_basic.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_client_delay.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_client_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_client_smaller_parts.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_close.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_connection_resuse.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_corrupt_data.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_network_delay.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_network_smaller_parts.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_server_delay.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_server_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_server_smaller_parts.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/requests_server.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_basic.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_client_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_client_smaller_part.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_close.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_connection_resuse.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_network_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_network_smaller_parts.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_server_client_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_server_smaller_parts.py
Owners: @antonyzhilin

feat rabbitmq: add some chaos tests
  rabbitmq/CMakeLists.txt
  rabbitmq/functional_tests/CMakeLists.txt
  rabbitmq/functional_tests/basic_chaos/CMakeLists.txt
  rabbitmq/functional_tests/basic_chaos/dynamic_config_fallback.json
  rabbitmq/functional_tests/basic_chaos/rabbitmq_service.cpp
  rabbitmq/functional_tests/basic_chaos/static_config.yaml
  rabbitmq/functional_tests/basic_chaos/tests/conftest.py
  rabbitmq/functional_tests/basic_chaos/tests/test_rabbitmq.py
Owners: @itrofimow

feat docker: update docker with testsuite
  scripts/docker/prepare_image.sh
  testsuite/requirements-macos.txt
  testsuite/requirements.txt
Owners: @taxi/common-group-developers

Fixed incorrect string test
  shared/src/utils/small_string_benchmark.cpp
Owners: @taxi/common-group-developers

USERVER_PUBLIC_INCLUDE_DIRS add to cache
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

fix pg: do not attempt to rollback a broken connection
  postgresql/functional_tests/basic_chaos/tests/test_postgres.py
  postgresql/src/storages/postgres/detail/connection_impl.cpp
  postgresql/src/storages/postgres/experiments.hpp
Owners: @bugaevskiy

test
  core/include/userver/engine/io/socket.hpp
Owners: @bugaevskiy, @segoon

fix test
  grpc/functional_tests/basic_chaos/tests-grpcserver/requests_server.py
Owners: @antonyzhilin

tests pg: add test for pipeline infinite loop
  postgresql/functional_tests/basic_chaos/conftest.py
  postgresql/functional_tests/basic_chaos/tests/test_postgres.py
Owners: @bugaevskiy

refactor grpc: Add CallParams class to reduce code generation
  grpc/include/userver/ugrpc/client/impl/async_methods.hpp
  grpc/include/userver/ugrpc/client/impl/call_params.hpp
  grpc/include/userver/ugrpc/client/impl/client_data.hpp
  grpc/include/userver/ugrpc/client/middleware_base.hpp
  grpc/include/userver/ugrpc/client/middleware_fwd.hpp
  grpc/include/userver/ugrpc/client/rpc.hpp
  grpc/src/ugrpc/client/impl/async_methods.cpp
  grpc/src/ugrpc/client/impl/call_params.cpp
  scripts/grpc/templates/client.usrv.cpp.jinja
Owners: @antonyzhilin, @taxi/common-group-developers

fix tests
  grpc/functional_tests/basic_chaos/tests-grpcserver/requests_server.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_basic.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_client_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_client_smaller_part.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_close.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_connection_resuse.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_network_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_network_smaller_parts.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_server_client_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_server_smaller_parts.py
Owners: @antonyzhilin

fix tests
  grpc/functional_tests/basic_chaos/tests-grpcclient/requests_client.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_client_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_close.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_corrupt_data.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_server_limit_bytes.py
Owners: @antonyzhilin

feat redis: run pubsub tests without integration tests infrastructure
  redis/functional_tests/CMakeLists.txt
  redis/functional_tests/pubsub/CMakeLists.txt
  redis/functional_tests/pubsub/tests/conftest.py
  redis/functional_tests/pubsub/tests/test_redis_pubsub.py
Owners: @segoon

feat userver: add static analysis runs
  scripts/docs/footer.html
Owners: @taxi/common-group-developers

Update ci.yml
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

Update ci.yml
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

Update ci.yml
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

Update ci.yml
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix grpc: fix flaps tests
  grpc/functional_tests/basic_chaos/tests-grpcclient/requests_client.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_client_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_close.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_corrupt_data.py
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_server_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/requests_server.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_basic.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_client_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_client_smaller_part.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_close.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_connection_resuse.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_network_limit_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_network_smaller_parts.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_server_client_bytes.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_server_smaller_parts.py
Owners: @antonyzhilin

feat server: always return 504 on deadline expiration
  core/functional_tests/basic_chaos/httpserver_handlers.hpp
  core/functional_tests/basic_chaos/static_config.yaml
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
  core/include/userver/server/handlers/http_handler_base.hpp
  core/src/server/handlers/http_handler_base.cpp
  shared/include/userver/http/content_type.hpp
  shared/src/http/content_type.cpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat ci: cleanup unused files in github CI
  .github/workflows/ci.yml
Owners: @taxi/common-group-developers

fix clients: write 'cancelled-by-deadline' metrics even if not using CancelException
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
Owners: @segoon, @bugaevskiy

bug redis: skip flapping test
  redis/functional_tests/pubsub/tests/test_redis_pubsub.py
Owners: @segoon

feat userver: run tests with common sanitizers
  core/src/engine/task/exception_hacks.cpp
  shared/include/userver/fs/blocking/c_file.hpp
  shared/include/userver/utils/encoding/tskv.hpp
Owners: @bugaevskiy, @segoon, @antoshkka, @taxi/common-group-developers

feat grpc: write access-tskv.log
  core/include/userver/tracing/span.hpp
  core/src/tracing/span.cpp
  grpc/include/userver/ugrpc/server/impl/service_worker.hpp
  grpc/include/userver/ugrpc/server/impl/service_worker_impl.hpp
  grpc/include/userver/ugrpc/server/rpc.hpp
  grpc/include/userver/ugrpc/server/server.hpp
  grpc/include/userver/ugrpc/server/server_component.hpp
  grpc/src/tests/channels_test.cpp
  grpc/src/tests/service_fixture_test.cpp
  grpc/src/ugrpc/server/rpc.cpp
  grpc/src/ugrpc/server/server.cpp
  grpc/src/ugrpc/server/server_component.cpp
Owners: @segoon, @antonyzhilin

tests redis: run integration tests without docker
  redis/functional_tests/integration_tests/tests/conftest.py
  redis/functional_tests/integration_tests/tests/test_redis_cluster.py
  redis/functional_tests/integration_tests/tests/test_redis_sentinel.py
Owners: @segoon

feat tests: improve diagnostics of testsuite tasks and use `false` as a default
  core/include/userver/components/component_context.hpp
  core/include/userver/testsuite/testsuite_support.hpp
  core/src/testsuite/tasks.cpp
  core/src/testsuite/testsuite_support.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

feat uctl: add log lines completion to uctl
  scripts/uctl/uctl.bash_completion.sh
Owners: @taxi/common-group-developers

fix
  redis/CMakeLists.txt
Owners: @segoon

feat grpc: add wait_for_ready in clients grpc
  grpc/functional_tests/basic_chaos/client.hpp
  grpc/functional_tests/basic_chaos/tests-grpcserver/requests_server.py
Owners: @antonyzhilin

fix grpc: use dashes in metric names
  grpc/src/tests/deadline_metrics_test.cpp
  grpc/src/ugrpc/impl/statistics.cpp
  scripts/docs/en/userver/grpc.md
Owners: @antonyzhilin, @taxi/common-group-developers

fix hanging CLUSTER SLOTS in autotopology mode
  redis/CMakeLists.txt
  redis/src/storages/redis/client_cluster_redistest.cpp
  redis/src/storages/redis/client_cluster_redistest.hpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.cpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.hpp
  redis/src/storages/redis/util_redistest.cpp
Owners: @segoon

feat all: fix some issues found by static analysis tools
  scripts/external_deps/cmake_generator.py
  scripts/grpc/generator.py
  shared/include/userver/decimal64/decimal64.hpp
Owners: @taxi/common-group-developers, @antonyzhilin, @bugaevskiy
