Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

fix names
  scripts/docs/en/deps/ubuntu-18.04.md
  scripts/docs/en/deps/ubuntu-20.04.md
  scripts/docs/en/deps/ubuntu-21.10.md
  scripts/docs/en/deps/ubuntu-22.04.md
Owners: @taxi/common-group-developers

fix
  scripts/docs/en/deps/ubuntu-20.04.md
Owners: @taxi/common-group-developers

bug postgres: reset deadline propagation userver-experiment
  postgresql/functional_tests/basic_chaos/dynamic_config_fallback.json
  postgresql/functional_tests/basic_chaos/tests-deadline/test_deadline_propagation.py
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  postgresql/functional_tests/integration_tests/dynamic_config_fallback.json
  postgresql/functional_tests/metrics/dynamic_config_fallback.json
  postgresql/library.yaml
  postgresql/src/storages/postgres/deadline.cpp
  postgresql/src/storages/postgres/experiments.hpp
  postgresql/src/storages/postgres/postgres_config.cpp
  postgresql/src/storages/postgres/postgres_config.hpp
  postgresql/tests/dynamic_config_fallback.json
  samples/postgres-support/dynamic_config_fallback.json
  samples/postgres_auth/dynamic_config_fallback.json
  samples/postgres_service/dynamic_config_fallback.json
Owners: @bugaevskiy, @taxi/common-group-developers

fix build: add lost boost dependencies
  scripts/docs/en/deps/ubuntu-18.04.md
  scripts/docs/en/deps/ubuntu-20.04.md
  scripts/docs/en/deps/ubuntu-21.10.md
  scripts/docs/en/deps/ubuntu-22.04.md
Owners: @taxi/common-group-developers

bug redis: reset deadline propagation userver-experiment
  redis/functional_tests/basic_chaos/dynamic_config_fallback.json
  redis/functional_tests/basic_chaos/tests/conftest.py
  redis/functional_tests/cluster_auto_topology/dynamic_config_fallback.json
  redis/functional_tests/integration_tests/dynamic_config_fallback.json
  redis/functional_tests/metrics/dynamic_config_fallback.json
  redis/functional_tests/pubsub/dynamic_config_fallback.json
  redis/library.yaml
  redis/src/storages/redis/dynamic_config.cpp
  redis/src/storages/redis/dynamic_config.hpp
  redis/src/storages/redis/impl/sentinel_impl.cpp
  redis/tests/dynamic_config_fallback.json
  samples/redis_service/dynamic_config_fallback.json
Owners: @segoon, @taxi/common-group-developers

cc core: do not expose private includes
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

bug clickhouse: use separate timeouts for each connect attempt
  clickhouse/src/storages/clickhouse/impl/native_client_factory.cpp
Owners: @itrofimow

cc userver: clean up some GCC warnings
  core/src/logging/impl/fd_sink_test.cpp
  mongo/src/formats/bson/exception.cpp
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
  postgresql/include/userver/storages/postgres/io/floating_point_types.hpp
  shared/src/http/header_map/map.cpp
  third_party/compiler-rt/CMakeLists.txt
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

feat mongo: initial CC experiment
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/v2.cpp
  mongo/src/storages/mongo/pool_impl.cpp
Owners: @taxi/common-group-developers, @bugaevskiy

refactor tests: don't write to terminal in tests
  core/src/cache/lru_cache_component_base_test.cpp
  core/src/components/common_component_list_test.cpp
  core/src/components/common_server_component_list_test.cpp
  core/src/components/minimal_component_list_ltsv_test.cpp
  core/src/components/minimal_component_list_test.cpp
  core/src/components/minimal_server_component_list_test.cpp
  core/src/logging/impl/fd_sink_test.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

fix grpc-tests: Fix some tests
  grpc/src/tests/deadline_tests_helpers.hpp
Owners: @antonyzhilin

fix tests: require a more modern 'redis' Python package
  scripts/docker/prepare_image.sh
  testsuite/requirements.txt
Owners: @taxi/common-group-developers

Add log for mongo error
  mongo/src/storages/mongo/cdriver/async_stream.cpp
Owners: @bugaevskiy

feat pilorama: add special mode to work with files being truncated
  shared/include/userver/fs/blocking/file_descriptor.hpp
  shared/src/fs/blocking/file_descriptor.cpp
  shared/src/fs/blocking/file_descriptor_test.cpp
Owners: @antoshkka

typo userver: add log for mongo error
  mongo/src/storages/mongo/cdriver/async_stream.cpp
Owners: @bugaevskiy

Update framework_comparison.md
  scripts/docs/en/userver/framework_comparison.md
Owners: @taxi/common-group-developers

feat engine: allow destroying SingleConsumerEvent immediately after waking up
  cmake/RequireDWCAS.cmake
  cmake/RequireLTO.cmake
  cmake/SetupEnvironment.cmake
  cmake/SetupLinker.cmake
  core/CMakeLists.txt
  core/include/userver/engine/single_consumer_event.hpp
  core/include/userver/engine/single_use_event.hpp
  core/src/concurrent/impl/fast_atomic.hpp
  core/src/dump/dumper.cpp
  core/src/engine/impl/wait_list_light.cpp
  core/src/engine/impl/wait_list_light.hpp
  core/src/engine/single_consumer_event.cpp
  core/src/engine/single_consumer_event_test.cpp
  core/src/engine/single_use_event.cpp
  core/src/engine/single_use_event_test.cpp
  core/src/engine/task/task_context.cpp
  core/src/engine/task/task_context.hpp
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon, @antonyzhilin

fix grpc: Remove unused code
  grpc/include/userver/ugrpc/server/impl/service_worker_impl.hpp
  grpc/src/ugrpc/server/impl/service_worker_impl.cpp
Owners: @antonyzhilin

feat server: add a scoped way to block deadline propagation
  core/include/userver/clients/http/request.hpp
  core/include/userver/server/request/task_inherited_data.hpp
  core/src/clients/http/request.cpp
  core/src/clients/http/request_state.cpp
  core/src/clients/http/request_state.hpp
  core/src/server/request/task_inherited_data.cpp
  grpc/src/tests/deadline_metrics_test.cpp
  mongo/src/storages/mongo/util_mongotest.cpp
Owners: @segoon, @bugaevskiy, @antonyzhilin

bug postgresql: delete copy/move constructors of parameter stores and add tests
  postgresql/include/userver/storages/postgres/detail/query_parameters.hpp
  postgresql/include/userver/storages/postgres/parameter_store.hpp
  postgresql/src/storages/postgres/tests/bytea_pgtest.cpp
  postgresql/src/storages/postgres/tests/cluster_pgtest.cpp
Owners: @bugaevskiy

feat mongo: more logs on CC
  core/include/userver/congestion_control/sensor.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/sensor.cpp
  shared/include/userver/utils/smoothed_value.hpp
Owners: @taxi/common-group-developers

feat docs: fixed a typo in framework_comparison.md from docs
  scripts/docs/en/userver/framework_comparison.md
Owners: @taxi/common-group-developers

cc core: fixes for ConnectTo()
  core/include/userver/clients/http/connect_to.hpp
  core/include/userver/clients/http/request.hpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/connect_to.cpp
Owners: @segoon, @bugaevskiy

feat mongo: enable deadline propagation globally
  core/include/userver/utils/impl/userver_experiments.hpp
  core/src/utils/impl/userver_experiments.cpp
  mongo/src/storages/mongo/cdriver/collection_impl.cpp
  mongo/src/storages/mongo/cdriver/pool_impl.cpp
  mongo/src/storages/mongo/util_mongotest.cpp
Owners: @taxi/common-group-developers, @bugaevskiy

feat testsuite: add allowed_url_prefixes_extra
  testsuite/pytest_plugins/pytest_userver/plugins/config.py
Owners: @taxi/common-group-developers

Fix Ubntu 22.04 build
  grpc/include/userver/ugrpc/client/qos.hpp
Owners: @antonyzhilin

fix tests: use pre-generated protos in grpc_service sample
  grpc/functional_tests/CMakeLists.txt
  grpc/include/userver/ugrpc/client/qos.hpp
  samples/CMakeLists.txt
  samples/grpc_service/tests/conftest.py
  samples/grpc_service/tests/test_grpc.py
Owners: @antonyzhilin, @taxi/common-group-developers

cc engine: rearrange members of TaskProcessor to reduce padding
  core/src/engine/task/task_processor.cpp
  core/src/engine/task/task_processor.hpp
  core/src/engine/task/task_processor_config.hpp
Owners: @bugaevskiy, @segoon

fix grpc-tests: Increase additional timeout to prevent tests flaps
  grpc/src/tests/deadline_tests_helpers.hpp
Owners: @antonyzhilin

fix tests: fix flaky grpc statistics tests
  grpc/src/tests/statistics_test.cpp
  grpc/src/ugrpc/server/server.cpp
Owners: @antonyzhilin

feat docs: June 2023 changelog
  cmake/GetUserverVersion.cmake
  core/include/userver/dynamic_config/updates_sink/find.hpp
  core/src/baggage/baggage_test.cpp
  core/src/engine/task/task_context.hpp
  core/src/rcu/rcu_test.cpp
  grpc/functional_tests/basic_chaos/tests-grpcclient/test_connection_reuse.py
  grpc/functional_tests/basic_chaos/tests-grpcserver/test_connection_reuse.py
  grpc/include/userver/ugrpc/client/middlewares/base.hpp
  postgresql/src/storages/postgres/deadline.hpp
  redis/functional_tests/pubsub/static_config.yaml
  redis/include/userver/storages/redis/subscribe_client.hpp
  redis/include/userver/storages/redis/subscription_token.hpp
  redis/src/storages/redis/impl/cluster_sentinel_impl.cpp
  redis/src/storages/redis/impl/cluster_topology.cpp
  redis/testing/include/userver/storages/redis/mock_publish_waiter.hpp
  scripts/docker/Dockerfile
  scripts/docs/en/userver/roadmap_and_changelog.md
  scripts/docs/en/userver/tutorial/grpc_service.md
Owners: @taxi/common-group-developers, @segoon, @antonyzhilin, @bugaevskiy

feat build: a bunch of fixes for different build issues
  CMakeLists.txt
  cmake/RequireDWCAS.cmake
  core/CMakeLists.txt
  core/src/clients/http/client_test.cpp
  scripts/docs/en/deps/ubuntu-20.04.md
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat docs: minor fixes and polishings
  README.md
  scripts/docs/doxygen.conf
  scripts/docs/en/userver/framework_comparison.md
Owners: @taxi/common-group-developers

adopt changes from #316
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

Fixed warnings for trivial_map : -Wsign-conversion -Wctad-maybe-unsupported
  shared/include/userver/utils/trivial_map.hpp
Owners: @taxi/common-group-developers

feat build: check build as a third-party
  postgresql/CMakeLists.txt
Owners: @bugaevskiy

refactor logging: extract Span & Context into LoggerBase::WriteCommonTags
  core/include/userver/engine/task/local_variable.hpp
  core/include/userver/logging/impl/logger_base.hpp
  core/include/userver/logging/impl/tag_writer.hpp
  core/include/userver/logging/log.hpp
  core/include/userver/logging/log_extra.hpp
  core/include/userver/logging/log_helper.hpp
  core/include/userver/tracing/in_place_span.hpp
  core/include/userver/tracing/span.hpp
  core/include/userver/tracing/tracer.hpp
  core/include/userver/utils/async.hpp
  core/include/userver/utils/impl/source_location.hpp
  core/src/clients/http/request_state.cpp
  core/src/logging/impl/logger_base.cpp
  core/src/logging/impl/tag_writer.cpp
  core/src/logging/log_helper.cpp
  core/src/logging/log_helper_impl.hpp
  core/src/logging/log_message_test.cpp
  core/src/logging/null_logger.cpp
  core/src/logging/put_data.hpp
  core/src/logging/spdlog_helpers.cpp
  core/src/logging/tp_logger.cpp
  core/src/logging/tp_logger.hpp
  core/src/tracing/noop.cpp
  core/src/tracing/span.cpp
  core/src/tracing/span_impl.hpp
  core/src/tracing/span_opentracing.cpp
  core/src/tracing/span_test.cpp
  core/src/tracing/time_storage.cpp
  core/src/tracing/time_storage.hpp
  core/src/utils/impl/source_location.cpp
  grpc/src/ugrpc/impl/logging.cpp
  postgresql/src/storages/postgres/tests/strong_typedef_pgtest.cpp
  redis/src/storages/redis/impl/request.cpp
Owners: @bugaevskiy, @segoon, @taxi/common-group-developers, @antonyzhilin

adapt rpm spec for build static libraries
  packages/rpm/userver.spec
  third_party/compiler-rt/CMakeLists.txt
Owners: @taxi/common-group-developers

adapt rpm spec for build static libraries
  packages/rpm/userver.spec
Owners: @taxi/common-group-developers

refactor logging: use RATE metrics
  core/functional_tests/metrics/tests/static/metrics_values.txt
  core/functional_tests/metrics/tests/test_metrics.py
  core/src/logging/statistics/log_stats.cpp
  core/src/logging/statistics/log_stats.hpp
  core/src/logging/tp_logger_test.cpp
Owners: @taxi/common-group-developers

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
