Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

cc cmake: don't constantly warn on missing clickhouse-cpp
  cmake/SetupClickhouseCPP.cmake
Owners: @taxi/common-group-developers

fix redis: Mark hiredis as required in cmake build
  redis/CMakeLists.txt
Owners: @segoon

feat core: change http::Request methods to return Request& instead of std::shared_ptr<Request>
  core/functional_tests/basic_chaos/httpclient_handlers.hpp
  core/include/userver/clients/http/client.hpp
  core/include/userver/clients/http/request.hpp
  core/src/clients/config/client.cpp
  core/src/clients/http/client.cpp
  core/src/clients/http/client_crl_test.cpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/client_wait_test.cpp
  core/src/clients/http/destination_statistics_test.cpp
  core/src/clients/http/form_test.cpp
  core/src/clients/http/request.cpp
  core/src/clients/http/tracing_manager_test.cpp
  core/src/server/net/connection_test.cpp
  core/src/testsuite/http_testpoint_client.cpp
  core/testing/src/utest/http_server_mock_test.cpp
  samples/flatbuf_service/flatbuf_service.cpp
  samples/http_caching/http_caching.cpp
  tools/httpclient/httpclient_perf.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat core: mlock(2) main binary debug info by default
  core/include/userver/components/manager_controller_component.hpp
  core/src/components/manager_config.cpp
  core/src/components/manager_config.hpp
Owners: @segoon, @bugaevskiy

feat core: add && overloads for http::Request methods
  core/include/userver/clients/http/request.hpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/request.cpp
Owners: @segoon, @bugaevskiy

fix compilation
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

sync fork
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

added ability to build as shared libraries, added make install support
  cmake/UServerAddLibrary.cmake
  cmake/UServerInstall.cmake
Owners: @taxi/common-group-developers

sync fork
  CMakeLists.txt
  clickhouse/CMakeLists.txt
  core/CMakeLists.txt
  core/src/dump/helpers.cpp
  grpc/CMakeLists.txt
  mongo/CMakeLists.txt
  postgresql/CMakeLists.txt
  postgresql/pq-extra/CMakeLists.txt
  rabbitmq/CMakeLists.txt
  redis/CMakeLists.txt
  tools/congestion_control_emulator/CMakeLists.txt
  tools/dns_resolver/CMakeLists.txt
  tools/engine/CMakeLists.txt
  tools/httpclient/CMakeLists.txt
  tools/json2yaml/CMakeLists.txt
  tools/netcat/CMakeLists.txt
  uboost_coro/CMakeLists.txt
  universal/CMakeLists.txt
Owners: @taxi/common-group-developers, @itrofimow, @segoon, @antonyzhilin, @bugaevskiy, @antoshkka

fix merging
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

merge
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

feat userver: update http code list
  core/include/userver/clients/http/response.hpp
  core/src/clients/http/response.cpp
Owners: @segoon, @bugaevskiy

cc docs: update sidecar deployment docs to reflect mlock_debug_info flag
  scripts/docs/en/userver/deploy_env.md
Owners: @taxi/common-group-developers

feat core: some optimizations in http client
  core/src/clients/http/request_state.cpp
  core/src/curl-ev/easy.cpp
  core/src/curl-ev/easy.hpp
  core/src/curl-ev/string_list.hpp
  core/src/curl-ev/string_list_test.cpp
  core/src/curl-ev/url.hpp
  core/src/tracing/span.cpp
Owners: @segoon, @bugaevskiy

feat all: remove userver experiment use-userver-sinks
  core/src/logging/component.cpp
  core/src/logging/impl/buffered_file_sink.hpp
  core/src/logging/impl/reopening_file_sink.hpp
  core/src/logging/logger.cpp
Owners: @taxi/common-group-developers

feat clickhouse: increase server start timeouts and increase the timeout in flapping test
  clickhouse/CMakeLists.txt
  clickhouse/functional_tests/basic_chaos/CMakeLists.txt
  clickhouse/functional_tests/metrics/CMakeLists.txt
  clickhouse/src/storages/tests/misc_chtest.cpp
  samples/clickhouse_service/CMakeLists.txt
Owners: @itrofimow, @taxi/common-group-developers

cc docs: update sidecar deployment docs to reflect mlock_debug_info flag
  scripts/docs/en/userver/deploy_env.md
Owners: @taxi/common-group-developers

feat core: change http::Request methods to return Request& instead of std::shared_ptr<Request>
  core/functional_tests/basic_chaos/httpclient_handlers.hpp
  core/include/userver/clients/http/client.hpp
  core/include/userver/clients/http/request.hpp
  core/src/clients/config/client.cpp
  core/src/clients/http/client.cpp
  core/src/clients/http/client_crl_test.cpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/client_wait_test.cpp
  core/src/clients/http/destination_statistics_test.cpp
  core/src/clients/http/form_test.cpp
  core/src/clients/http/request.cpp
  core/src/clients/http/tracing_manager_test.cpp
  core/src/server/net/connection_test.cpp
  core/src/testsuite/http_testpoint_client.cpp
  core/testing/src/utest/http_server_mock_test.cpp
  samples/flatbuf_service/flatbuf_service.cpp
  samples/http_caching/http_caching.cpp
  tools/httpclient/httpclient_perf.cpp
Owners: @taxi/common-group-developers, @segoon, @bugaevskiy

feat userver: update http code list
  core/include/userver/clients/http/response.hpp
  core/src/clients/http/response.cpp
Owners: @segoon, @bugaevskiy

feat core: add && overloads for http::Request methods
  core/include/userver/clients/http/request.hpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/request.cpp
Owners: @segoon, @bugaevskiy

feat core: some optimizations in http client
  core/src/clients/http/request_state.cpp
  core/src/curl-ev/easy.cpp
  core/src/curl-ev/easy.hpp
  core/src/curl-ev/string_list.hpp
  core/src/curl-ev/string_list_test.cpp
  core/src/curl-ev/url.hpp
  core/src/tracing/span.cpp
Owners: @segoon, @bugaevskiy

feat core: mlock(2) main binary debug info by default
  core/include/userver/components/manager_controller_component.hpp
  core/src/components/manager_config.cpp
  core/src/components/manager_config.hpp
Owners: @segoon, @bugaevskiy

fix compilation
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

Fix for building inside folder sym linked to other
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

added ability to build as shared libraries, added make install support
  CMakeLists.txt
  clickhouse/CMakeLists.txt
  core/CMakeLists.txt
  grpc/CMakeLists.txt
  mongo/CMakeLists.txt
  postgresql/CMakeLists.txt
  postgresql/pq-extra/CMakeLists.txt
  rabbitmq/CMakeLists.txt
  redis/CMakeLists.txt
  uboost_coro/CMakeLists.txt
Owners: @taxi/common-group-developers, @itrofimow, @antonyzhilin, @bugaevskiy, @segoon, @antoshkka

rpm build fixes
  CMakeLists.txt
Owners: @taxi/common-group-developers

Install binaries into bin/userver instead bin/ (possible crossing with other tools)
  CMakeLists.txt
Owners: @taxi/common-group-developers

added install of userver-universal
  universal/CMakeLists.txt
Owners: @bugaevskiy

userver install: cmake config added
  CMakeLists.txt
  core/CMakeLists.txt
  grpc/CMakeLists.txt
  postgresql/CMakeLists.txt
  redis/CMakeLists.txt
  uboost_coro/CMakeLists.txt
  universal/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin, @bugaevskiy, @segoon, @antoshkka

workaround for UserverGrpc linkage after install
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

fix compilation
  cmake/GrpcTargets.cmake
Owners: @taxi/common-group-developers

sync fork
  CMakeLists.txt
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

grpc
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

USERVER_PUBLIC_INCLUDE_DIRS add to cache
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

external grpc
  grpc/CMakeLists.txt
Owners: @antonyzhilin

sync fork
  cmake/GrpcTargets.cmake
  cmake/SetupCCTZ.cmake
  grpc/CMakeLists.txt
  grpc/include/userver/ugrpc/server/server.hpp
  postgresql/CMakeLists.txt
Owners: @taxi/common-group-developers, @antonyzhilin, @bugaevskiy

sync fork fixes
  clickhouse/CMakeLists.txt
  cmake/GrpcTargets.cmake
  cmake/SetupAmqpCPP.cmake
  postgresql/CMakeLists.txt
  redis/CMakeLists.txt
  universal/CMakeLists.txt
Owners: @itrofimow, @taxi/common-group-developers, @bugaevskiy, @segoon

feat mongo: move CC settings to config
  core/include/userver/congestion_control/controllers/linear.hpp
  core/include/userver/congestion_control/controllers/linear_config.hpp
  core/src/congestion_control/controllers/linear.cpp
  core/src/congestion_control/controllers/linear_config.cpp
  core/src/congestion_control/controllers/linear_test.cpp
  dynamic_config_fallbacks.yaml
  mongo/functional_tests/basic_chaos/dynamic_config_fallback.json
  mongo/functional_tests/metrics/dynamic_config_fallback.json
  mongo/library.yaml
  mongo/src/storages/mongo/cc_config.hpp
  mongo/src/storages/mongo/pool_impl.cpp
  mongo/tests/dynamic_config_fallback.json
  postgresql/functional_tests/basic_chaos/dynamic_config_fallback.json
  postgresql/functional_tests/connlimit_max/dynamic_config_fallback.json
  postgresql/functional_tests/integration_tests/dynamic_config_fallback.json
  postgresql/functional_tests/metrics/dynamic_config_fallback.json
  postgresql/library.yaml
  postgresql/src/storages/postgres/detail/cc_config.hpp
  postgresql/src/storages/postgres/detail/pool.cpp
  postgresql/tests/dynamic_config_fallback.json
  redis/functional_tests/cluster_auto_topology_test/dynamic_config_fallback.json
  samples/mongo-support/dynamic_config_fallback.json
  samples/mongo_service/dynamic_config_fallback.json
  samples/postgres-support/dynamic_config_fallback.json
  samples/postgres_auth/dynamic_config_fallback.json
  samples/postgres_service/dynamic_config_fallback.json
Owners: @taxi/common-group-developers, @bugaevskiy, @segoon

tests pg: increase statement timeout for QueryCancelled tests
  postgresql/src/storages/postgres/tests/conn_stats_pgtest.cpp
  postgresql/src/storages/postgres/tests/connection_pgtest.cpp
  postgresql/src/storages/postgres/tests/pool_pgtest.cpp
  postgresql/src/storages/postgres/tests/util_pgtest.cpp
Owners: @bugaevskiy

refactor grpc-server: Add CallParams
  grpc/include/userver/ugrpc/server/impl/call_params.hpp
  grpc/include/userver/ugrpc/server/impl/service_worker_impl.hpp
  grpc/include/userver/ugrpc/server/rpc.hpp
  grpc/src/ugrpc/server/rpc.cpp
Owners: @antonyzhilin

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
