Repository userver-framework/userver, changes with the owners that CODEOWNERS names for each.
All owners: @taxi/common-group-developers, @segoon, @bugaevskiy, @antonyzhilin, @antoshkka, @itrofimow, @ser-fedorov

CODEOWNERS:

* @taxi/common-group-developers

/core/**/cache/ @segoon
/core/**/clients/config/ @segoon
/core/**/clients/http/ @segoon @bugaevskiy
/core/**/components/ @segoon @bugaevskiy
/core/**/concurrent/ @segoon @bugaevskiy
/core/**/curl-ev/ @bugaevskiy
/core/**/dump/ @segoon @antonyzhilin
/core/**/dynamic_config/ @segoon @antonyzhilin
/core/**/engine/ @bugaevskiy @segoon
/core/**/fs/ @antoshkka
/core/**/rcu/ @segoon
/core/**/server/ @bugaevskiy @segoon
/core/**/server_settings/ @segoon
/core/**/storages/secdist/ @segoon
/core/**/tracing/ @segoon
/core/**/yaml_config/ @antoshkka @antonyzhilin

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @segoon
/etcd/ etcd-friendly // TODO
/grpc/ @antonyzhilin
/clickhouse/ @itrofimow
/rabbitmq/ @itrofimow

/shared/**/compiler/ @antoshkka
/shared/**/crypto/ @bugaevskiy @segoon
/shared/**/decimal64/ @antonyzhilin @bugaevskiy
/shared/**/fs/ @antoshkka
/shared/**/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/pfr/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy

feat shared: replace custom Str[I]caseHash with SipHash13
  shared/include/userver/utils/str_icase.hpp
  shared/src/utils/impl/siphash.cpp
  shared/src/utils/impl/siphash.hpp
  shared/src/utils/impl/siphash_test.cpp
  shared/src/utils/str_icase.cpp
  shared/src/utils/str_icase_benchmark.cpp
Owners: @taxi/common-group-developers

feat docker: add libmariadb-dev
  scripts/docker/Dockerfile
Owners: @taxi/common-group-developers

feat all: fix a bunch of typos
  core/include/userver/clients/http/response.hpp
  core/src/cache/cache_update_trait_test.cpp
  core/src/cache/expirable_lru_cache_test.cpp
  core/src/clients/http/client_crl_test.cpp
  core/src/clients/http/client_test.cpp
  core/src/clients/http/response.cpp
  core/src/components/component_sample_test.cpp
  core/src/concurrent/mp_queue_test.hpp
  core/src/congestion_control/controller.cpp
  core/src/curl-ev/wrappers.cpp
  core/src/dist_lock/dist_lock_test.cpp
  core/src/engine/io/fd_poller.cpp
  core/src/engine/io/socket_test.cpp
  core/src/engine/task/yield_test.cpp
  core/src/logging/component.cpp
  core/src/logging/config.cpp
  core/src/logging/config.hpp
  core/src/logging/impl/tcp_socket_sink_test.cpp
  core/src/logging/log_helper.cpp
  core/src/logging/tp_logger.cpp
  core/src/logging/tp_logger.hpp
  core/src/logging/tp_logger_test.cpp
  core/src/server/component.cpp
  core/src/server/handlers/auth/auth_checker_settings_component.cpp
  core/src/server/handlers/service_base.cpp
  core/src/server/requests_view.cpp
  core/src/server/requests_view.hpp
  core/src/server/server.cpp
  core/src/storages/secdist/provider_component.cpp
  core/src/utils/async_test.cpp
  core/src/utils/statistics/portability_info_test.cpp
  core/src/utils/statistics/prometheus_test.cpp
  core/src/utils/statistics/solomon_test.cpp
  core/src/utils/statistics/writer_test.cpp
  testsuite/pytest_plugins/pytest_userver/chaos.py
  testsuite/pytest_plugins/pytest_userver/plugins/postgresql.py
  testsuite/pytest_plugins/pytest_userver/plugins/service_runner.py
  testsuite/pytest_plugins/pytest_userver/utils/tskv.py
  testsuite/tests/test_tcp_chaos.py
  testsuite/tests/test_udp_chaos.py
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

feat core: add `failed-updates-before-expiration` option to `CachingComponentBase` static config
  core/include/userver/cache/cache_config.hpp
  core/include/userver/cache/cache_update_trait.hpp
  core/include/userver/cache/caching_component_base.hpp
  core/src/cache/cache_config.cpp
  core/src/cache/cache_update_trait.cpp
  core/src/cache/cache_update_trait_impl.cpp
  core/src/cache/cache_update_trait_impl.hpp
  core/src/cache/cache_update_trait_test.cpp
Owners: @segoon

Revert "feat docs: edit docs about Docker"
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

feat core: check the correctness of listener usage in Debug builds
  core/include/userver/concurrent/async_event_channel.hpp
  core/include/userver/utils/statistics/storage.hpp
  core/src/concurrent/async_event_channel_test.cpp
  core/src/utils/statistics/storage.cpp
  core/src/utils/statistics/writer_test.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

feat shared: fix build for gcc-8
  shared/src/utils/impl/siphash.cpp
Owners: @taxi/common-group-developers

oops
  shared/src/utils/impl/siphash.cpp
Owners: @taxi/common-group-developers

feat docs: edit docs about Docker
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

feat build: drop explicit external-deps usage of Boost in internal builds
  grpc/library.yaml
Owners: @antonyzhilin

feat shared: fix build for gcc-8
  shared/src/utils/impl/siphash.cpp
Owners: @taxi/common-group-developers

add UINVARIANT(false)
  core/src/cache/cache_policy_types_test.hpp
  shared/include/userver/cache/impl/doorkeeper.hpp
  shared/include/userver/cache/impl/sketch/aged.hpp
  shared/include/userver/cache/impl/sketch/bloom.hpp
  shared/include/userver/cache/impl/sketch/caffeine_bloom.hpp
  shared/include/userver/cache/impl/sketch/doorkeeper.hpp
  shared/include/userver/cache/impl/sketch/tools.hpp
  shared/include/userver/cache/impl/slru.hpp
  shared/include/userver/cache/impl/tiny_lfu.hpp
  shared/include/userver/cache/impl/window_tiny_lfu.hpp
  shared/include/userver/cache/lfu_map.hpp
  shared/src/cache/impl/sketch/sketch_aged_test.cpp
  shared/src/cache/impl/sketch/sketch_test.cpp
  shared/src/cache/lru_benchmark.cpp
  shared/src/cache/lru_real_data_benchmark.cpp
  shared/src/cache/slru_test.cpp
  shared/src/cache/tiny_lfu_map_test.cpp
  shared/src/cache/window_tiny_lfu_test.cpp
Owners: @segoon, @taxi/common-group-developers

add new line
  shared/include/userver/cache/impl/sketch/caffeine_bloom.hpp
  shared/src/cache/impl/sketch/sketch_aged_test.cpp
  shared/src/cache/impl/sketch/sketch_test.cpp
  shared/src/cache/lru_real_data_benchmark.cpp
  shared/src/cache/slru_test.cpp
  shared/src/cache/tiny_lfu_map_test.cpp
  shared/src/cache/window_tiny_lfu_test.cpp
Owners: @taxi/common-group-developers

feat logging: create impl sinks
  core/src/logging/component.cpp
  core/src/logging/impl/fd_sink.cpp
  core/src/logging/impl/fd_sink.hpp
  core/src/logging/impl/fd_sink_test.cpp
  core/src/logging/impl/file_sink.cpp
  core/src/logging/impl/file_sink.hpp
  core/src/logging/impl/file_sink_test.cpp
  core/src/logging/impl/sink_helper_test.cpp
  core/src/logging/impl/sink_helper_test.hpp
  core/src/logging/impl/tcp_socket_sink.cpp
  core/src/logging/impl/tcp_socket_sink.hpp
  core/src/logging/impl/tcp_socket_sink_test.cpp
  core/src/logging/impl/unix_socket_sink.cpp
  core/src/logging/impl/unix_socket_sink.hpp
  core/src/logging/logger.cpp
  core/src/logging/logging_test.hpp
  core/src/logging/reopening_file_sink.hpp
  core/src/logging/socket_logging_test.hpp
  core/src/logging/unix_socket_sink.hpp
  shared/include/userver/fs/blocking/file_descriptor.hpp
  shared/include/userver/fs/blocking/open_mode.hpp
  shared/src/fs/blocking/file_descriptor.cpp
  shared/src/fs/blocking/file_descriptor_test.cpp
Owners: @taxi/common-group-developers, @antoshkka

feat docs: fix more typos
  core/functional_tests/basic_chaos/tests/resolver/conftest.py
  core/functional_tests/basic_chaos/tests/resolver/test_resolver.py
  core/testing/src/utest/simple_server.cpp
  scripts/docs/customdoxygen.css
  scripts/docs/footer.html
  shared/src/formats/common/member_modify_test.hpp
  shared/src/formats/common/roundtrip_test.hpp
Owners: @taxi/common-group-developers

move patch from arcadia
  core/include/userver/server/http/http_response.hpp
  core/include/userver/server/request/response_base.hpp
  core/src/server/http/http2_callbacks.hpp
  core/src/server/http/http2_request_parser.cpp
  core/src/server/http/http2_request_parser.hpp
  core/src/server/http/http2_request_parser_test.cpp
  core/src/server/http/http2_session_data.cpp
  core/src/server/http/http2_session_data.hpp
  core/src/server/http/http2_stream_data.hpp
  core/src/server/http/http_request_constructor.cpp
  core/src/server/http/http_request_constructor.hpp
  core/src/server/http/http_request_impl.cpp
  core/src/server/http/http_request_impl.hpp
  shared/include/userver/http/common_headers.hpp
Owners: @bugaevskiy, @segoon

remove debug cout
  core/src/server/http/http2_request_parser.cpp
  core/src/server/http/http2_request_parser_test.cpp
  core/src/server/http/http2_session_data.cpp
Owners: @bugaevskiy, @segoon

Revert "feat docs: edit docs about Docker"
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

Support HTTP2-writer
  core/include/userver/server/http/http_response.hpp
  core/include/userver/server/request/response_base.hpp
  core/src/server/http/http_cached_date.cpp
  core/src/server/http/http_cached_date.hpp
  core/src/server/http/http_response.cpp
  core/src/server/http/http_response_test.cpp
  core/src/server/http/http_response_writer.cpp
  core/src/server/http/http_response_writer.hpp
  shared/include/userver/http/common_headers.hpp
Owners: @bugaevskiy, @segoon

feat docs: edit docs about Docker
  scripts/docs/en/userver/tutorial/build.md
Owners: @taxi/common-group-developers

fix services: replace getenv to EnvironmentVariables
  core/include/userver/engine/subprocess/environment_variables.hpp
  core/src/engine/subprocess/environment_variables.cpp
Owners: @bugaevskiy, @segoon

feat build: do not use userver/external-deps in internal builds
  core/library.yaml
  external-deps/CurlYandex.yaml
  universal/library.yaml
Owners: @taxi/common-group-developers, @bugaevskiy

feat uservices: do not peerdir grpc if not needed
  testsuite/pytest_plugins/pytest_userver/plugins/grpc/__init__.py
  testsuite/pytest_plugins/pytest_userver/plugins/grpc/client.py
  testsuite/pytest_plugins/pytest_userver/plugins/grpc/mockserver.py
  testsuite/pytest_plugins/pytest_userver/plugins/grpc/ya.make.ext
Owners: @taxi/common-group-developers

bug engine: stop ignoring cancellations in CancellableSemaphore in edge cases
  core/src/engine/semaphore.cpp
  core/src/engine/semaphore_test.cpp
Owners: @bugaevskiy, @segoon

feat rabbitmq: Increase start timeout
  rabbitmq/CMakeLists.txt
  samples/rabbitmq_service/CMakeLists.txt
Owners: @itrofimow, @taxi/common-group-developers

feat build: remove deprecated facilities from external_deps script
  external-deps/Brotli.yaml
  external-deps/CryptoPP.yaml
  external-deps/Git.yaml
  external-deps/GrpcChannelz.yaml
  external-deps/GssApi.yaml
  external-deps/Hiredis.yaml
  external-deps/Http_parser.yaml
  external-deps/Jemalloc.yaml
  external-deps/LibEv.yaml
  external-deps/Nghttp2.yaml
  external-deps/OpenSSL.yaml
  external-deps/PostgreSQL.yaml
  external-deps/PostgreSQLInternal.yaml
  external-deps/UserverGBench.yaml
  external-deps/UserverGTest.yaml
  external-deps/UserverGrpc.yaml
  external-deps/UserverProtobuf.yaml
  external-deps/boost.yaml
  external-deps/bson.yaml
  external-deps/c-ares.yaml
  external-deps/cctz.yaml
  external-deps/clickhouse-cpp.yaml
  external-deps/fmt.yaml
  external-deps/libintl.yaml
  external-deps/libyamlcpp.yaml
  external-deps/mongoc.yaml
  external-deps/python-dev.yaml
  external-deps/spdlog.yaml
  scripts/external_deps/cmake_generator.py
  scripts/external_deps/templates/FindExternalProject.jinja
  scripts/external_deps/templates/FindHelper.jinja
Owners: @taxi/common-group-developers

feat core: remove debug log message for `Entry` and `AsyncEventSubscriberScope` when auto unregistered
  core/include/userver/concurrent/async_event_channel.hpp
  core/src/utils/statistics/entry.cpp
Owners: @segoon, @bugaevskiy, @taxi/common-group-developers

fix userver/core: fix timeout for test with py_debug
  core/functional_tests/basic_chaos/tests/httpserver/test_httpserver.py
Owners: @taxi/common-group-developers

feat redis: add async dns resolving.
  redis/functional_tests/basic_chaos/redis_service.cpp
  redis/functional_tests/basic_chaos/static_config.yaml
  redis/include/userver/storages/redis/impl/base.hpp
  redis/src/storages/redis/client_redistest.cpp
  redis/src/storages/redis/component.cpp
  redis/src/storages/redis/impl/redis.cpp
  redis/src/storages/redis/impl/redis.hpp
  redis/src/storages/redis/impl/sentinel.cpp
  redis/src/storages/redis/impl/sentinel.hpp
  redis/src/storages/redis/impl/server_test.cpp
  redis/src/storages/redis/impl/shard.cpp
  redis/src/storages/redis/impl/subscribe_sentinel.cpp
  redis/src/storages/redis/impl/subscribe_sentinel.hpp
  redis/src/storages/redis/resolver_redistest.cpp
  samples/redis_service/redis_service.cpp
  samples/redis_service/static_config.yaml
Owners: @segoon, @taxi/common-group-developers

feat userver: Add nghttp2 package to userver dependencies
  clickhouse/functional_tests/basic_chaos/CMakeLists.txt
  clickhouse/functional_tests/metrics/CMakeLists.txt
  core/CMakeLists.txt
  core/src/server/http/nghttp2_compile.cpp
  samples/clickhouse_service/CMakeLists.txt
  samples/rabbitmq_service/CMakeLists.txt
  scripts/docker/Dockerfile
  scripts/docs/en/deps/arch.md
  scripts/docs/en/deps/debian-11x32.md
  scripts/docs/en/deps/fedora-35.md
  scripts/docs/en/deps/fedora-36.md
  scripts/docs/en/deps/gentoo.md
  scripts/docs/en/deps/ubuntu-18.04.md
  scripts/docs/en/deps/ubuntu-20.04.md
  scripts/docs/en/deps/ubuntu-21.10.md
  scripts/docs/en/deps/ubuntu-22.04.md
Owners: @itrofimow, @taxi/common-group-developers, @bugaevskiy, @segoon

feat engine: publish RegisterThreadStartedHook
  core/include/userver/engine/task/task_processor_fwd.hpp
  core/src/engine/task/task_processor.cpp
  core/src/engine/task/task_processor.hpp
Owners: @bugaevskiy, @segoon

feat utils: implement AnyStorage
  core/src/core_benchmark.cpp
  core/src/dynamic_config/impl/snapshot.cpp
  core/src/engine/impl/task_local_storage.cpp
  core/src/engine/task/task_processor.cpp
  core/src/logging/dynamic_debug.cpp
  core/src/utils/statistics/metrics_storage.cpp
  core/testing/src/utest/gtest_hooks.cpp
  shared/include/userver/utils/any_storage.hpp
  shared/include/userver/utils/impl/static_registration.hpp
  shared/include/userver/utils/threads.hpp
  shared/src/utils/any_storage.cpp
  shared/src/utils/any_storage2_test.cpp
  shared/src/utils/any_storage_test.cpp
  shared/src/utils/impl/static_registration.cpp
  shared/src/utils/threads.cpp
Owners: @taxi/common-group-developers, @segoon, @antonyzhilin, @bugaevskiy

grpc
  cmake/SetupCCTZ.cmake
  core/CMakeLists.txt
Owners: @taxi/common-group-developers

added forgotten rpm dependencies
  packages/rpm/userver.spec
Owners: @taxi/common-group-developers

bug redis: fix useless lock
  redis/src/storages/redis/impl/sentinel_impl.cpp
Owners: @segoon

Add missing dependencies into ubuntu-20.04.md Sort dependencies alphabetically to easy reading and modifying
  scripts/docs/en/deps/arch.md
  scripts/docs/en/deps/debian-11x32.md
  scripts/docs/en/deps/fedora-35.md
  scripts/docs/en/deps/fedora-36.md
  scripts/docs/en/deps/gentoo.md
  scripts/docs/en/deps/ubuntu-18.04.md
  scripts/docs/en/deps/ubuntu-20.04.md
  scripts/docs/en/deps/ubuntu-21.10.md
  scripts/docs/en/deps/ubuntu-22.04.md
Owners: @taxi/common-group-developers

test
  core/include/userver/engine/io/socket.hpp
Owners: @bugaevskiy, @segoon

fix conan: build with nghttp2
  conanfile.py
Owners: @taxi/common-group-developers

fix conan: build with nghttp2
  conanfile.py
Owners: @taxi/common-group-developers

fix tests: build userver with clang-16
  shared/src/utils/meta_test.cpp
Owners: @taxi/common-group-developers
